Repository ManageIQ/integration_tests, pull requests merged in 2019-08, with the labels that each got.

#9119 [1LP][RFR] Fix failing tests
  cfme/tests/configure/test_default_views_infra.py
Labels: blockers-only, lint-ok

#9106 [1LP][RFR] Added Azure and Network credentials with Credentials modal page refactor.
  cfme/ansible/credentials.py
  cfme/tests/ansible/test_embedded_ansible_basic.py
  cfme/tests/ansible/test_embedded_ansible_manual.py
Labels: ansible, enhancement, lint-ok

#9126 [1LP][RFR] removed a check for load balancers for 5.11
  cfme/tests/networks/test_tag_tagvis.py
Labels: fix-test, lint-ok

#9144 [1LP][RFR] Fix generation of multi-region manual tests
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/test_login.py
Labels: lint-ok, manual

#9146 [1LP][RFR] fix py3 conversion issue
  cfme/common/vm_console.py
  cfme/dashboard.py
  cfme/intelligence/reports/reports.py
  cfme/tests/intelligence/reports/test_canned_corresponds.py
Labels: fix-framework, lint-ok

#9048 [1LP][RFR] adding new manual subscription tests
  cfme/tests/configure/test_config_manual.py
Labels: lint-ok, manual

#9132 [1LP][RFR] Test case updated for 5.10z
  cfme/tests/automate/test_service_automate.py
  cfme/tests/automate/test_simulation.py
Labels: fix-test, lint-ok

#9150 [RFR] Fix test_provision_approval.
  scripts/smtp_collector.py
Labels: fix-framework, lint-ok, py3-compat

#9147 [RFR]Fix test: test_vm_disk_reconfig_via_rest
  cfme/tests/infrastructure/test_vm_reconfigure.py
Labels: fix-test, lint-ok, py3-compat

#9130 [1LP][RFR] fixed get_text_of in SummaryTable
  widgetastic_manageiq/__init__.py
Labels: fix-framework, lint-ok

#9151 [1LP][RFR] Change vm_name_prefix to include "test-"
  cfme/tests/infrastructure/test_scvmm_specific.py
Labels: fix-framework, issue-bug, lint-ok

#8994 [1LP][RFR]Fix test: test_contents
  cfme/configure/documentation.py
  cfme/tests/configure/test_docs.py
Labels: blockers-only, fix-locator-or-text, lint-ok

#9065 [1LP][RFR] Fixed provision entry point issue
  cfme/tests/automate/test_git_import.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, fix-test, lint-ok

#9153 [1LP][RFR] Update appliance console channel recv use, remove six from appliance
  cfme/utils/appliance/__init__.py
Labels: WIP-testing, fix-framework, lint-ok, py3-compat

#9152 [1LP][RFR] git verify-commit output
  cfme/utils/dockerbot/pytestbase/get_keys.py
  cfme/utils/dockerbot/pytestbase/verify_commit.py
Labels: enhancement, lint-ok

#8521 [1LP][RFR] Fix minor version update tests.
  cfme/base/__init__.py
  cfme/base/ui.py
  cfme/fixtures/cli.py
  cfme/fixtures/update_tests.py
  cfme/test_framework/pytest_plugin.py
  cfme/tests/cli/test_appliance_cli.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cli/test_appliance_update.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/db.py
  cfme/utils/appliance/services.py
  cfme/utils/log_validator.py
  cfme/utils/ssh.py
  cfme/utils/ssh_expect.py
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
Labels: enhancement, lint-ok

#9116 [1LP][WIPTEST] Add manual cases for Infra Hosts
  cfme/tests/infrastructure/test_infra_manual.py
Labels: WIP-testing, lint-ok, manual, new-test-or-feature

#9145 [1LP][RFR] Remove force stream
  cfme/tests/automate/custom_button/test_container_objects.py
  cfme/tests/automate/custom_button/test_service_vm_custom_button.py
Labels: blockers-only, lint-ok

#9155 [1LP][RFR] Use non-binary NamedTemporaryFile (fixes TypeError)
  cfme/utils/datafile.py
Labels: fix-framework, lint-ok

#9138 [1LP][RFR] Add tests for automating Tower workflow jobs
  cfme/tests/services/test_ansible_workflow_servicecatalogs.py
Labels: lint-ok, new-test-or-feature

#9164 [1LP][RFR] Update Set Ownership view for 5.11
  cfme/common/vm_views.py
Labels: fix-framework, lint-ok

#9159 [1LP][RFR] Added ignore_stream for 510
  cfme/tests/automate/custom_button/test_custom_menu.py
  cfme/tests/automate/custom_button/test_generic_objects.py
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: blockers-only, lint-ok

#9156 [1LP][RFR] fixed BZ flash message only for 5.11
  cfme/tests/configure/test_tag.py
Labels: fix-test, lint-ok

#9161 [1LP][RFR] fixed division in slicing
  cfme/tests/networks/test_sdn_topology.py
Labels: fix-test, lint-ok, py3-compat

#9148 [1LP][RFR]Fix test: test_providers_summary and test_datastores_summary
  cfme/tests/intelligence/reports/test_canned_corresponds.py
Labels: fix-test, lint-ok, py3-compat

#9123 [1LP][RFR] add test_appliance_contains_ansible_modules
  cfme/tests/test_appliance.py
Labels: lint-ok, new-test-or-feature

#9097 [1LP][RFR]Automate test: test_tls_openssl_verify_mode
  cfme/configure/configuration/server_settings.py
  cfme/tests/webui/test_general_ui.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: lint-ok, new-test-or-feature

#9089 [1LP][RFR]Automate test: test_sent_text_custom_report_with_long_condition
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/utils/smtp_collector_client.py
Labels: enhancement, lint-ok, new-test-or-feature

#9127 [1LP][RFR] Automate test: test_configuration_dropdown_roles_by_server
  cfme/base/ui.py
  cfme/tests/configure/test_config_diagnostics.py
  cfme/tests/configure/test_config_manual.py
  widgetastic_manageiq/__init__.py
Labels: lint-ok, new-test-or-feature

#9160 [RFR]Add tests: test_about_region AND test_about_zone
  cfme/configure/about.py
  cfme/tests/configure/test_about.py
Labels: enhancement, lint-ok, new-test-or-feature

#9170 [RFR] Update docs requirements for py3
  .readthedocs.yml
  requirements/docs.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
  requirements/on_rtd.txt
Labels: WIP, doc, lint-ok, py3-compat

#9117 [1LP][RFR] automate custom menu test
  cfme/tests/automate/custom_button/test_custom_menu.py
Labels: lint-ok, new-test-or-feature

#9162 [1LP][RFR] Remove use of six library
  artifactor/plugins/filedump.py
  artifactor/plugins/reporter.py
  cfme/common/__init__.py
  cfme/configure/access_control/__init__.py
  cfme/containers/provider/__init__.py
  cfme/containers/provider/openshift.py
  cfme/control/explorer/alerts.py
  cfme/fixtures/browser.py
  cfme/fixtures/cli.py
  cfme/fixtures/merkyl.py
  cfme/fixtures/nelson.py
  cfme/fixtures/parallelizer/parallelizer_tester.py
  cfme/fixtures/provider.py
  cfme/infrastructure/host.py
  cfme/markers/env_markers/provider.py
  cfme/metaplugins/server_roles.py
  cfme/test_framework/appliance.py
  cfme/test_framework/sprout/plugin.py
  cfme/tests/automate/test_git_import.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/configure/test_db_backup_schedule.py
  cfme/tests/configure/test_default_views_cloud.py
  cfme/tests/configure/test_default_views_infra.py
  cfme/tests/configure/test_visual_cloud.py
  cfme/tests/configure/test_visual_infra.py
  cfme/tests/distributed/test_appliance_replication.py
  cfme/tests/infrastructure/test_scvmm_specific.py
  cfme/tests/infrastructure/test_vmware_provider.py
  cfme/tests/integration/test_cfme_auth.py
  cfme/tests/intelligence/test_dashboard.py
  cfme/tests/webui/test_advanced_search.py
  cfme/utils/__init__.py
  cfme/utils/auth/__init__.py
  cfme/utils/blockers.py
  cfme/utils/browser.py
  cfme/utils/bz.py
  cfme/utils/dockerbot/dockerbot.py
  cfme/utils/providers.py
  cfme/utils/smem_memory_monitor.py
  cfme/utils/ssh.py
  cfme/utils/template/base.py
  cfme/utils/trackerbot.py
  cfme/utils/units.py
  cfme/utils/virtual_machines.py
  docs/guides/dev_guide.rst
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
  requirements/template_docs.txt
  scripts/coverage_report_jenkins.py
  scripts/install_vddk.py
  scripts/list_tests.py
  sprout/appliances/models.py
  sprout/appliances/views.py
  sprout/logserver.py
  sprout/sprout/__init__.py
  sprout/sprout/log.py
  widgetastic_manageiq/__init__.py
  widgetastic_manageiq/expression_editor.py
Labels: lint-ok, py3-compat, tech-debt

#9157 [1LP][RFR] removed workaround for BZ 1703744
  cfme/common/provider_views.py
Labels: blockers-only, lint-ok

#9171 [RFR] fixed all_options in tagging dropdown
  widgetastic_manageiq/__init__.py
Labels: fix-framework, lint-ok

#9169 [RFR] fixed create_volume function for 5.11
  cfme/tests/storage/test_volume.py
Labels: fix-test, lint-ok

#9167 [1LP][RFR] fixing template upload scripts
  cfme/common/provider.py
  cfme/common/vm.py
  cfme/configure/tasks.py
  cfme/tests/automate/test_common_methods.py
  cfme/tests/cloud/test_cloud_timelines.py
  cfme/tests/infrastructure/test_timelines.py
  cfme/tests/perf/workloads/test_provisioning.py
  cfme/tests/perf/workloads/test_refresh_providers.py
  cfme/tests/perf/workloads/test_refresh_vms.py
  cfme/tests/perf/workloads/test_smartstate_analysis.py
  cfme/tests/pod/test_appliance_crud.py
  cfme/utils/dockerbot/check_prs.py
  cfme/utils/grafana.py
  cfme/utils/smem_memory_monitor.py
  cfme/utils/template/base.py
  cfme/utils/template/rhevm.py
Labels: fix-framework, lint-ok, py3-compat

#9168 [RFR] fixed backup fixture for 5.11
  cfme/tests/storage/test_volume_backup.py
Labels: fix-test, lint-ok

#9158 [1LP][RFR] Fixed quota testing against reconfigure vm
  cfme/tests/infrastructure/test_tenant_quota.py
Labels: fix-test, lint-ok

#9178 [RFR] Use openssl for PYCURL_SSL_LIBRARY
  cfme/utils/dockerbot/pytestbase/setup.sh
Labels: infra-related, lint-ok

#9172 [RFR] Fix broken readthedocs build
  .readthedocs.yml
  cfme/utils/apidoc.py
  docs/conf.py
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
Labels: lint-ok, tech-debt

#9175 [RFR] Fixed type error in automate method
  cfme/automate/explorer/method.py
Labels: fix-framework, lint-ok

#9177 [1LP][RFR] Test cleanup and other changes
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/webui/test_general_ui.py
Labels: fix-test, lint-ok

#9181 [1LP][RFR] Fixing 5.11 migration failures
  cfme/tests/v2v/test_rest_migrations.py
Labels: fix-test, lint-ok

#9174 [1LP][RFR] ignore test_sdn_balancers_tagvis for 5.11
  cfme/tests/networks/test_sdn_balancers.py
Labels: blockers-only, lint-ok

#9165 [1LP][RFR] Add remaining manual tests for Compare Host/Node view to test_infra_manual.py
  cfme/tests/infrastructure/test_infra_manual.py
Labels: lint-ok, manual

#9180 [1LP][RFR] delete all methods to clean button and groups
  cfme/automate/buttons.py
Labels: enhancement, lint-ok

#9113 [1LP][RFR] New Test: Test vm retire by new user
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/infrastructure/test_vm_power_control.py
Labels: lint-ok, new-test-or-feature

#9166 [1LP][RFR] Automates BZ 1633867 for thick-lazy zero/eager zero provisioning
  cfme/common/host_views.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
Labels: customer-case, lint-ok

#9185 [RFR] uncollect 511 for test_manual.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#9187 [1LP][RFR]Fix schedules starting_date
  cfme/intelligence/reports/schedules.py
  cfme/tests/intelligence/reports/test_crud.py
Labels: fix-framework, lint-ok

#9163 [1LP][RFR] added check for snapshot size in rhv
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_snapshot.py
Labels: lint-ok, new-test-or-feature

#9149 [1LP][RFR] New Test: Test miq stop and abort in state machines
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_instance.py
Labels: lint-ok, new-test-or-feature

#9133 [1LP][RFR] log collection fixes
  cfme/configure/configuration/diagnostics_settings.py
  cfme/tests/configure/test_log_depot_operation.py
Labels: fix-test, lint-ok

#9196 [RFR] fixed test_collect_unconfigured
  cfme/tests/configure/test_log_depot_operation.py
Labels: fix-test, lint-ok

#9179 [RFR] fixed test_set_default_host_filter
  cfme/common/host_views.py
Labels: fix-framework, fix-test, lint-ok

#9192 [1LP][RFR] Replace uncollectif with Provider markers
  cfme/tests/cloud/test_instance_power_control.py
Labels: enhancement, lint-ok

#9201 [1LP][RFR]Fix SavedReportDetailsView is_displayed
  cfme/intelligence/reports/reports.py
  cfme/tests/intelligence/reports/test_generate_report.py
Labels: fix-locator-or-text, lint-ok

#9188 [1LP][RFR]Add request.addfinalizer wherever missing in reports
  cfme/tests/intelligence/reports/test_crud.py
  cfme/tests/intelligence/reports/test_import_export_reports_widgets.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_views.py
Labels: fix-test, lint-ok

#9208 [RFR] Fix RuntimeError in parallelizer due to dict size change
  cfme/fixtures/parallelizer/__init__.py
Labels: fix-framework, lint-ok

#9066 [1LP][RFR] fix test advanced search
  cfme/tests/webui/test_advanced_search.py
  widgetastic_manageiq/expression_editor.py
Labels: enhancement, fix-test, lint-ok

#9189 [1LP][RFR] New Test: Testing automate method call in state schema
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_method.py
Labels: lint-ok, new-test-or-feature

#9176 [1LP][RFR]Automate test: test_diagnostics_server
  cfme/base/ui.py
  cfme/tests/configure/test_config_diagnostics.py
  cfme/tests/configure/test_config_manual.py
Labels: lint-ok, new-test-or-feature

#9109 [1LP][RFR] Automate test: test_create_picture_with_role
  cfme/tests/configure/test_rest_access_control.py
  cfme/tests/test_rest_manual.py
Labels: lint-ok, new-test-or-feature

#9209 [1LP][RFR] Move test_fixauth_dryrun_has_feedback
  cfme/tests/integration/test_auth_scripts.py
  cfme/tests/test_appliance.py
Labels: fix-test, lint-ok

#9207 [RFR] fixed test_collect_single_servers
  cfme/tests/configure/test_log_depot_operation.py
Labels: fix-test, lint-ok

#9213 [1LP][RFR][NOTEST]Uncollect inplace upgrade test for 5.11.
  cfme/tests/test_db_migrate.py
Labels: blockers-only, lint-ok

#8695 [1LP][RFR] New Test: Testing embedded method for notify feature
  cfme/automate/explorer/klass.py
  cfme/automate/explorer/method.py
  cfme/tests/automate/test_method.py
Labels: lint-ok, new-test-or-feature

#9111 [1LP][RFR] Migration Throttling
  cfme/tests/v2v/test_migration_throttling.py
  cfme/v2v/migration_settings.py
  entry_points.txt
  widgetastic_manageiq/__init__.py
Labels: lint-ok, new-test-or-feature

#9217 [1LP][RFR]Vmware automation tests
  cfme/tests/infrastructure/test_vmware_provider.py
Labels: enhancement, lint-ok

#9191 [1LP][RFR] Multi-Region provision vm and login screen tests
  cfme/fixtures/appliance.py
  cfme/fixtures/multi_region.py
  cfme/test_framework/pytest_plugin.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/test_login.py
Labels: lint-ok, new-test-or-feature

#9190 [1LP][RFR] Add guidelines about Bugzilla related stuff
  docs/conf.py
  docs/guides/bugzilla.rst
  docs/guides/dev_guide.rst
Labels: enhancement, lint-ok

#9143 [1LP][RFR] Test delete search expression
  cfme/tests/webui/test_expression_editor.py
Labels: lint-ok, new-test-or-feature

#9067 [1LP][RFR] import_datastore fixture
  cfme/fixtures/automate.py
  cfme/tests/automate/test_file_import.py
Labels: customer-case, lint-ok, new-test-or-feature

#9214 [1LP][RFR] Adding more Tower workflow tests
  cfme/tests/services/test_ansible_workflow_servicecatalogs.py
Labels: lint-ok, new-test-or-feature

#9235 [1LP][RFR] Remove deadlock from qa_contact fixture.
  cfme/fixtures/qa_contact.py
Labels: fix-framework, lint-ok

#9221 [1LP][RFR] Use contextmanager to close sockets
  cfme/fixtures/rdb.py
  cfme/utils/net.py
  scripts/harden_security.py
Labels: lint-ok, tech-debt

#9212 [1LP][RFR][NOTEST] Remove dup tests
  cfme/tests/cli/test_appliance_update_manual.py
Labels: fix-locator-or-text, lint-ok

#9229 [1LP][RFR] Fix generic object
  cfme/generic_objects/definition/definition_views.py
Labels: fix-framework, lint-ok

#9182 [1LP][RFR] New View in 5.11 for Settings > Server > Workers
  cfme/base/ui.py
  cfme/configure/configuration/server_settings.py
Labels: enhancement, lint-ok

#9105 [1LP][RFR]Automate test: test_filtering_vm_with_multiple_ips
  cfme/common/vm.py
  cfme/tests/infrastructure/test_vm_rest.py
  cfme/tests/test_rest_manual.py
Labels: lint-ok, new-test-or-feature

#9228 [1LP][RFR] Some Generic obj fixture move to global
  cfme/fixtures/generic_object.py
  cfme/test_framework/pytest_plugin.py
  cfme/tests/automate/custom_button/test_service_objects.py
  cfme/tests/generic_objects/test_instances.py
Labels: enhancement, lint-ok

#8573 [1LP][RFR] New Test: Checking power operations on archived/orphaned vms
  cfme/cloud/instance/__init__.py
  cfme/common/vm.py
  cfme/infrastructure/virtual_machines.py
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/infrastructure/test_vm_power_control.py
Labels: lint-ok, new-test-or-feature

#8851 [1LP][RFR] New Test: Check whether service is getting retired by automate method
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_common_methods.py
Labels: lint-ok, new-test-or-feature

#9200 [1LP][RFR] New Test: Testing tenant attached to domain
  cfme/tests/automate/test_domain.py
Labels: lint-ok, new-test-or-feature

#9052 [1LP][RFR] Testing multiple automation requests
  cfme/tests/infrastructure/test_rest_automation_request.py
Labels: lint-ok, new-test-or-feature

#9219 [1LP][RFR]New Test: test_reports_menu_with_duplicate_reports
  cfme/tests/intelligence/reports/test_menus.py
Labels: lint-ok, new-test-or-feature

#9218 [1LP][RFR][NOTEST] Adding services and dialog manual tests
  cfme/tests/services/test_dialog_regex_validation_in_catalog.py
  cfme/tests/services/test_generic_service_catalogs.py
  cfme/tests/services/test_myservice.py
  cfme/tests/ssui/test_ssui_myservice.py
Labels: lint-ok, manual, new-test-or-feature

#9197 [1LP][RFR] fixed select in adding new orchestration template
  cfme/services/catalogs/orchestration_template.py
  widgetastic_manageiq/__init__.py
Labels: fix-locator-or-text, lint-ok

#9239 [RFR] Add bugzilla metadata to test_vm_capture
  cfme/tests/cloud/test_cloud_events.py
  cfme/tests/infrastructure/test_timelines.py
Labels: blockers-only, lint-ok

#9244 [RFR] Add unblock for providers that aren't Azure
  cfme/tests/cloud/test_cloud_timelines.py
Labels: blockers-only, lint-ok

#9243 [RFR] Uncollect RHV provider for cloning test
  cfme/tests/infrastructure/test_timelines.py
Labels: RHV, fix-test, lint-ok

#9248 [1LP][RFR] Remove old blocker for action test
  cfme/tests/control/test_actions.py
Labels: lint-ok, test-cleanup

#9249 [RFR] fix unavailable RDB
  cfme/fixtures/rdb.py
Labels: fix-framework, lint-ok

#9233 [RFR] fixed test_provider_log_level
  cfme/tests/configure/test_logs.py
Labels: enhancement, lint-ok

#9234 [RFR] Fixed vm reconfigure quota test case
  cfme/tests/infrastructure/test_quota_tagging.py
Labels: fix-test, lint-ok

#9245 [1LP][RFR]Fix failing tests and add ignore_stream wherever required
  cfme/tests/cloud/test_providers.py
  cfme/tests/infrastructure/test_vm_retirement_rest.py
  cfme/tests/intelligence/test_reports_with_timelines.py
  cfme/tests/intelligence/test_rss.py
Labels: fix-test, lint-ok

#9246 [1LP][RFR]Fix test: test_splitter.py for UtilizationCollection
  cfme/optimize/utilization.py
  cfme/tests/webui/test_splitter.py
Labels: fix-test, lint-ok

#9257 [1LP][RFR] fix custom menu test for test run
  cfme/tests/automate/custom_button/test_custom_menu.py
Labels: fix-test, lint-ok

#9256 [1LP][RFR] fix test and added blocker for custom button display
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: blockers-only, fix-locator-or-text, lint-ok

#9259 [1LP][RFR] Change default of the provider.delete() to False
  cfme/physical/provider/__init__.py
Labels: enhancement, lint-ok

#9251 [1LP][RFR]New Test: test_reset_report_menus AND remove unnecessary tests
  cfme/tests/configure/test_config_manual.py
  cfme/tests/intelligence/reports/test_menus.py
  cfme/tests/intelligence/reports/test_reports_manual.py
Labels: lint-ok, new-test-or-feature, test-cleanup

#9203 [1LP][RFR] Embedded Ansible 511 changes
  cfme/tests/ansible/test_embedded_ansible_crud.py
  cfme/utils/appliance/__init__.py
Labels: fix-test, lint-ok

#9258 [1LP][RFR] Fix problem with None being passed as service unit name on 5.9
  cfme/utils/appliance/db.py
Labels: fix-test, lint-ok

#9273 [RFR] Set assignee to jdupuy for Control requirement
  cfme/test_requirements.py
Labels: other

#9272 [1LP][RFR] Fix ValueError due to opening files with 'rw' mode
  cfme/utils/ansible.py
Labels: fix-framework, lint-ok

#9276 [1LP][RFR] Add test_requirements.containers for all container tests
  cfme/tests/containers/test_ad_hoc_metrics.py
  cfme/tests/containers/test_alerts.py
  cfme/tests/containers/test_basic_metrics.py
  cfme/tests/containers/test_blacklisted_container_events.py
  cfme/tests/containers/test_breadcrumbs.py
  cfme/tests/containers/test_chargeback.py
  cfme/tests/containers/test_cockpit.py
  cfme/tests/containers/test_configurable_menus.py
  cfme/tests/containers/test_containers_smartstate_analysis.py
  cfme/tests/containers/test_containers_smartstate_analysis_multiple_images.py
  cfme/tests/containers/test_containers_summary.py
  cfme/tests/containers/test_labels.py
  cfme/tests/containers/test_logging.py
  cfme/tests/containers/test_manageiq_ansible_custom_attributes.py
  cfme/tests/containers/test_node.py
  cfme/tests/containers/test_overview_data_integrity.py
  cfme/tests/containers/test_pause_resume_workers.py
  cfme/tests/containers/test_project_quota_historical_data.py
  cfme/tests/containers/test_projects_dashboard.py
  cfme/tests/containers/test_properties.py
  cfme/tests/containers/test_provider_configuration_menu.py
  cfme/tests/containers/test_provider_openscap_policy_attached.py
  cfme/tests/containers/test_relationships.py
  cfme/tests/containers/test_reload_button_provider.py
  cfme/tests/containers/test_reports.py
  cfme/tests/containers/test_search_bar.py
  cfme/tests/containers/test_ssa_set_cve_image_inspector_per_provider.py
  cfme/tests/containers/test_ssl_providers.py
  cfme/tests/containers/test_start_page.py
  cfme/tests/containers/test_static_custom_attributes.py
  cfme/tests/containers/test_table_views.py
  cfme/tests/containers/test_tables_fields.py
  cfme/tests/containers/test_tables_sort.py
  cfme/tests/containers/test_tags.py
Labels: lint-ok, other

#9277 [RFR] Update BootstrapSelect to ReactSelect for 5.11
  cfme/common/vm_views.py
Labels: fix-framework, lint-ok

#9278 Update DummyAppliance default version
  cfme/utils/appliance/__init__.py
Labels: lint-ok, other

#9270 [1LP][RFR] reasigned test_provision_vm_to_virtual_network
  cfme/tests/networks/test_provision_to_virtual_network.py
Labels: lint-ok, manual

#9223 [1LP][RFR] Don't loosen DB
  cfme/tests/infrastructure/test_scvmm_specific.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/db.py
  docs/getting_started.rst
Labels: fix-framework, lint-ok

#9199 [RFR] Test to create service dialog from Tower job template
  cfme/ansible_tower/explorer.py
  cfme/tests/infrastructure/test_config_management.py
Labels: lint-ok, new-test-or-feature

#9279 [RFR]Fixing test failure by adding required_fields
  cfme/tests/infrastructure/test_publish_vm_to_template.py
Labels: fix-test, lint-ok

#9275 [1LP][RFR] Fixed Ansible basic test for CF5.11
  cfme/tests/ansible/test_embedded_ansible_basic.py
Labels: fix-test, lint-ok

#9269 [1LP][RFR] automated the rest of expression editor tests
  cfme/tests/cloud_infra_common/test_tag_visibility.py
Labels: lint-ok, new-test-or-feature

#9280 [RFR]: Adding alert requirement to test_alert_run_ansible_playbook
  cfme/tests/ansible/test_embedded_ansible_automate.py
Labels: lint-ok, other

#9268 [1LP][RFR] New Test: Testing state machine variables
  cfme/automate/explorer/method.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_class.py
Labels: lint-ok, new-test-or-feature

#9281 [1LP][RFR] Adding test for Tower job using survey with a text area field
  cfme/tests/services/test_config_provider_servicecatalogs.py
Labels: lint-ok, new-test-or-feature

#9253 [1LP][RFR] automated BZ for recreating RHV Guest Devices on refresh
  cfme/tests/infrastructure/test_providers.py
Labels: lint-ok, new-test-or-feature

#9282 [1LP][RFR]: Make playbook lowercase in create method
  cfme/automate/explorer/method.py
  cfme/tests/ansible/test_embedded_ansible_automate.py
Labels: fix-framework, lint-ok

#9283 [1LP][RFR] Adding manual CFME/Insights integration test cases
  cfme/tests/cloud_insights/test_cloud_insights_manual.py
  conf/polarion_tools.yaml
Labels: lint-ok, manual

#9242 [1LP][RFR] New Test: Testing embedded method is visible after selection
  cfme/automate/explorer/method.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_method.py
Labels: lint-ok, new-test-or-feature

#9225 [1LP][RFR] Add customer scenario marker/filter, move tier and requirement markers
  cfme/fixtures/node_annotate.py
  cfme/markers/__init__.py
  cfme/markers/manual.py
  cfme/markers/marker_filters.py
  cfme/test_framework/pytest_plugin.py
  cfme/test_requirements.py
  cfme/tests/automate/custom_button/test_service_vm_custom_button.py
  cfme/tests/v2v/test_csv_import.py
  cfme/tests/webui/test_advanced_search.py
  cfme/utils/smem_memory_monitor.py
  conf/polarion_tools.yaml
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
Labels: enhancement, lint-ok

#9284 [1LP][RFR]: Add 1704395 as a blocker for test_policy_sim ui
  cfme/tests/cloud_infra_common/test_policy_simulation.py
Labels: blockers-only, lint-ok

#9285 [1LP][RFR] Add bz metadata for timelines tests
  cfme/tests/infrastructure/test_timelines.py
Labels: blockers-only, lint-ok
