Repository ManageIQ/integration_tests, pull requests merged in 2019-12, with the labels that each got.

#9384 [1LP][RFR] New Test: Testing domain version changed after upgrading appliance
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_domain.py
Labels: lint-ok, test-automation

#9686 [1LP][RFR]Automate: test_compliance_column_header AND test_misclicking_checkbox_vms
  cfme/tests/webui/test_general_ui.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: lint-ok, test-automation

#9702 [1LP][RFR] fixing vm ownership tests which fail due to late setup_provider call
  cfme/tests/cloud_infra_common/test_vm_ownership.py
Labels: fix-test, lint-ok

#9694 [1LP][RFR] Audit qe-test-coverage for Customer BZs
  cfme/tests/automate/test_service_dialog.py
  cfme/tests/configure/test_rest_access_control.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/test_rest_manual.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: customer-case, lint-ok, manual, new-test-or-feature

#9627 [1LP][RFR] New Test: Testing proper error flash message for playbook type domain imports
  cfme/automate/import_export.py
  cfme/tests/ansible/test_embedded_ansible_automate.py
  cfme/tests/automate/test_git_import.py
Labels: lint-ok, test-automation

#9568 [1LP][RFR][NOTEST] Add BZ links to the test cases
  cfme/tests/configure/test_register_appliance.py
  cfme/tests/test_db_migrate_manual.py
Labels: blockers-only, lint-ok, test-cleanup

#9667 [1LP][RFR] service order after prov deletion
  cfme/tests/services/test_service_catalog_dialog_manual.py
  cfme/tests/services/test_service_catalogs.py
Labels: lint-ok, test-automation

#9682 [1LP][RFR] Adding dialog tag control for request test
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9707 [RFR] ec2 template checksum validation fix
  cfme/utils/template/base.py
Labels: infra-related, issue-bug, lint-ok

#9696 [1LP][RFR] automated BZ 1594817
  cfme/tests/infrastructure/test_providers.py
Labels: lint-ok, new-test-or-feature

#9688 [1LP][RFR] Adding dialog dropdown int test
  cfme/tests/services/test_catalog_item.py
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9700 [1LP][RFR] Automate: test_import_report_preserve_owner
  cfme/tests/intelligence/reports/test_reports.py
Labels: customer-case, lint-ok, test-automation

#9690 [1LP][RFR] automated BZ 1696412
  cfme/tests/intelligence/reports/test_reports.py
Labels: lint-ok, new-test-or-feature

#9691 [1LP][RFR] updating aenum and fixing attr warning
  cfme/cloud/provider/__init__.py
  cfme/cloud/provider/azure.py
  cfme/cloud/provider/ec2.py
  cfme/cloud/provider/gce.py
  cfme/cloud/provider/openstack.py
  cfme/cloud/provider/vcloud.py
  cfme/common/provider.py
  cfme/configure/configuration/region_settings.py
  cfme/containers/provider/__init__.py
  cfme/containers/provider/openshift.py
  cfme/infrastructure/provider/__init__.py
  cfme/infrastructure/provider/kubevirt.py
  cfme/infrastructure/provider/openstack_infra.py
  cfme/infrastructure/provider/rhevm.py
  cfme/infrastructure/provider/scvmm.py
  cfme/infrastructure/provider/virtualcenter.py
  cfme/modeling/base.py
  cfme/networks/provider/__init__.py
  cfme/networks/provider/nuage.py
  cfme/physical/provider/__init__.py
  cfme/physical/provider/lenovo.py
  cfme/physical/provider/redfish.py
  cfme/test_framework/appliance.py
  cfme/test_framework/config.py
  cfme/utils/ssh.py
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: enhancement, lint-ok

#9680 [1LP][RFR] Fixed test_add_button testcase
  cfme/tests/services/test_catalog_item.py
Labels: fix-test, lint-ok

#9546 [1LP][RFR] Ansible Automation for Private Repository CRUD.
  cfme/ansible/repositories.py
  cfme/fixtures/ansible_fixtures.py
  cfme/tests/ansible/test_embedded_ansible_basic.py
  cfme/tests/ansible/test_embedded_ansible_manual.py
Labels: lint-ok, test-automation

#9629 [1LP][RFR] New Test: Testing domain refresh via API call with verify ssl
  cfme/automate/explorer/domain.py
  cfme/tests/automate/__init__.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_git_import.py
Labels: lint-ok, test-automation

#9712 [1LP][RFR] New Test: Test message attribute while simulation
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_simulation.py
Labels: lint-ok, test-automation

#9718 [1LP][RFR] Ignore Pause/Resume Container Test for 5.11
  cfme/tests/containers/test_provider_configuration_menu.py
Labels: fix-test, lint-ok

#9719 [1LP][RFR] Remove test_container_status_relationships_data_integrity
  cfme/tests/containers/test_relationships.py
Labels: fix-test, lint-ok, test-cleanup

#9717 [1LP][RFR] Fix test_manageiq_ansible_custom_attributes, convert bytes object to …
  cfme/tests/containers/test_manageiq_ansible_custom_attributes.py
Labels: fix-test, lint-ok, py3-compat

#9720 [RFR] Fix pytest.raise for test_ssl_providers
  cfme/tests/containers/test_ssl_providers.py
Labels: fix-test, lint-ok

#9693 [1LP][RFR] New Customer Scenario Test: test_miq_schedule_validation_failed
  cfme/tests/intelligence/reports/test_reports_schedules.py
Labels: customer-case, lint-ok, new-test-or-feature

#9716 [1LP][RFR] mgmt should refer to the vm object provider object
  cfme/utils/appliance/__init__.py
Labels: fix-framework, lint-ok

#9715 [RFR] Updates for gob tests that have had BZ's fixed
  cfme/generic_objects/definition/button_groups.py
  cfme/tests/automate/generic_objects/buttons/test_generic_class_custom_button.py
Labels: fix-locator-or-text, lint-ok

#9314 [RFR] Add support for 5.11's zip files for creating appliance on SCVMM
  cfme/tests/infrastructure/test_scvmm_specific.py
  cfme/utils/appliance/__init__.py
Labels: fix-test, lint-ok

#9648 [RFR] SUI:Automate chargeback test for service with multiple VMs
  cfme/fixtures/service_fixtures.py
  cfme/tests/ssui/test_ssui_dashboard.py
  cfme/tests/ssui/test_ssui_myservice.py
Labels: enhancement, lint-ok, new-test-or-feature

#9701 [RFR] Add _fill_vmrc_console_endpoint_dicts to provider.create_rest()
  cfme/common/provider.py
  cfme/infrastructure/provider/virtualcenter.py
Labels: enhancement, lint-ok

#9727 [1LP][RFR] Fixed Ansible playbook tags tests.
  cfme/ansible/playbooks.py
Labels: fix-test, lint-ok

#9710 [1LP][RFR] moving app hooks to pytest hooks
  cfme/fixtures/parallelizer/remote.py
  cfme/test_framework/appliance.py
  cfme/test_framework/appliance_hooks.py
  cfme/utils/appliance/__init__.py
  conftest.py
Labels: fix-framework, lint-ok

#9730 [1LP][RFR] Blocked azure provider refresh test case
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: blockers-only, lint-ok

#9684 [1LP][RFR] Fix dashboard tests.
  cfme/dashboard.py
  cfme/tests/intelligence/reports/test_widgets.py
  widgetastic_manageiq/__init__.py
Labels: fix-framework, lint-ok

#9729 [1LP][RFR] Fix test: TestUsersViaREST
  cfme/tests/configure/test_rest_access_control.py
Labels: fix-test, lint-ok

#9678 [1LP][RFR] Update release script
  cfme/scripting/miq.py
  cfme/scripting/release.py
  cfme/utils/release.py
Labels: enhancement, lint-ok

#9595 [1LP][RFR] Console tests
  cfme/common/provider.py
  cfme/common/vm_console.py
  cfme/configure/configuration/server_settings.py
  cfme/fixtures/vm_console.py
  cfme/infrastructure/provider/virtualcenter.py
  cfme/services/myservice/ssui.py
  cfme/test_requirements.py
  cfme/tests/cloud_infra_common/test_html5_vm_console.py
  cfme/tests/infrastructure/test_vmrc_console.py
  cfme/tests/infrastructure/test_webmks_console.py
  cfme/tests/ssui/test_ssui_myservice.py
  cfme/utils/net.py
  requirements/frozen.txt
Labels: fix-test, lint-ok, test-cleanup

#9689 [1LP][RFR] Automate: test_create_rhev_provider_with_metric
  cfme/tests/cloud_infra_common/test_rest_providers.py
  cfme/tests/test_rest_manual.py
Labels: lint-ok, test-automation

#9709 [1LP][RFR] New Test: remote appliance's credential validation testcase
  cfme/configure/configuration/region_settings.py
  cfme/tests/test_replication.py
Labels: lint-ok, new-test-or-feature, tech-debt

#9726 [1LP][RFR] Automating test_replication_remote_to_global_by_ip_pglogical
  cfme/tests/test_replication.py
Labels: lint-ok, test-automation

#9668 [1LP][RFR] Automate: test_update_roles_via_rest_name_change
  cfme/tests/test_providerless_rest.py
  cfme/tests/test_rest.py
  cfme/tests/test_rest_manual.py
Labels: lint-ok, test-automation

#9733 [1LP][RFR] Fixed quota exceed via lifecycle for cloud provider
  cfme/tests/cloud/test_quota_tagging.py
Labels: fix-test, lint-ok

#9663 [1LP][RFR]Ssui console tests
  cfme/tests/cloud_infra_common/test_html5_vm_console.py
  cfme/tests/cloud_infra_common/test_html5_vm_console_ssui.py
Labels: lint-ok, manual

#9724 [1LP][RFR] Refactor test_table_views for containers
  cfme/tests/containers/test_table_views.py
Labels: fix-test, lint-ok

#9749 [1LP][RFR] Fix typeerror in skip_not_implemented plugins
  cfme/fixtures/skip_not_implemented.py
Labels: fix-framework, lint-ok, rc-regression-fix

#9735 [1LP][RFR] Adding BZ blocker for Azure candu tests for 510
  cfme/tests/candu/test_utilization_metrics.py
Labels: blockers-only, lint-ok

#9743 [1LP][RFR] fix flash for group deletion
  cfme/configure/access_control/__init__.py
Labels: fix-test, lint-ok

#9662 [1LP][RFR] Migration throttling fix
  cfme/tests/v2v/test_migration_throttling.py
Labels: fix-test, lint-ok

#9722 [1LP][RFR] Automate: test_authorization_header_sql_response
  cfme/tests/test_providerless_rest.py
  cfme/tests/test_rest_manual.py
Labels: lint-ok, test-automation

#9728 [1LP][RFR] upgrade method for appliance
  cfme/utils/appliance/__init__.py
Labels: enhancement, lint-ok

#9750 [1LP][RFR] Fix TypeError in pytest.raises call
  cfme/tests/configure/test_access_control.py
Labels: fix-test, lint-ok

#9744 [1LP][RFR] Handle a 'None' BZ because of no creds
  cfme/utils/bz.py
Labels: infra-related, lint-ok

#9714 [1LP][RFR] Automate: test_delete_generated_report
  cfme/intelligence/optimization.py
  cfme/modeling/base.py
  cfme/tests/intelligence/test_optimization.py
Labels: lint-ok, test-automation

#9741 [1LP][RFR] Fixed rbac tree issue on 5.11
  cfme/tests/configure/test_access_control.py
  widgetastic_manageiq/__init__.py
Labels: fix-test, lint-ok

#9748 [RFR] Fix artifactor plugins
  artifactor/plugins/filedump.py
  artifactor/plugins/ostriz.py
  artifactor/plugins/reporter.py
Labels: fix-framework, lint-ok

#9317 [1LP][RFR] Conversion of ConfigManager to use BaseProvider and BaseCollection
  cfme/ansible_tower/explorer.py
  cfme/infrastructure/config_management/__init__.py
  cfme/infrastructure/config_management/ansible_tower.py
  cfme/infrastructure/config_management/config_profiles.py
  cfme/infrastructure/config_management/config_systems/__init__.py
  cfme/infrastructure/config_management/config_systems/ansible_tower.py
  cfme/infrastructure/config_management/config_systems/satellite.py
  cfme/infrastructure/config_management/satellite.py
  cfme/tests/infrastructure/test_config_management.py
  cfme/tests/infrastructure/test_config_management_rest.py
  cfme/tests/services/test_ansible_workflow_servicecatalogs.py
  cfme/tests/services/test_config_provider_servicecatalogs.py
  cfme/tests/webui/test_advanced_search.py
  cfme/utils/appliance/__init__.py
  cfme/utils/testgen.py
  conf/supportability.yaml
  entry_points.txt
Labels: collections-conversion, enhancement, lint-ok

#9751 [RFR] Changes to resolve the customer qa test coverage
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/configure/test_db_backup_schedule.py
  cfme/tests/test_db_migrate_manual.py
Labels: blockers-only, lint-ok, manual

#9699 [1LP][RFR] Remove the BZ 1704835 workaround and mark with automates.
  cfme/tests/cli/test_appliance_update.py
Labels: blockers-only, lint-ok

#9754 [RFR] remove tests as not supported by object
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: lint-ok, test-cleanup

#9711 [1LP][RFR] Network adapter support in VM reconfiguration for vsphere
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  widgetastic_manageiq/vm_reconfigure.py
Labels: enhancement, lint-ok, test-automation

#9521 [1LP][RFR] Automating test replication powertoggle
  cfme/tests/test_replication.py
Labels: lint-ok, test-automation

#9713 [1LP][RFR] New Test: Testing attribute value pairs of action type invoke automation
  cfme/control/explorer/actions.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_simulation.py
Labels: lint-ok, test-automation

#9736 [1LP][RFR] Fix test_appliance_log_rotate on 5.11
  cfme/tests/cli/test_appliance_log_rotate.py
Labels: fix-locator-or-text, lint-ok

#9757 [1LP][RFR] Move CandidateNotFound exception imports
  cfme/cloud/stack.py
  cfme/exceptions.py
  cfme/tests/cloud/test_stack.py
  cfme/utils/appliance/implementations/ui.py
Labels: fix-framework, lint-ok

#9631 [1LP][RFR] Automate test dialog not required behavior
  cfme/fixtures/service_fixtures.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: customer-case, lint-ok, test-automation

#9737 [1LP][RFR] New Test: Adding multiple Remote Appliances in Global Appliance
  cfme/configure/configuration/region_settings.py
  cfme/fixtures/appliance.py
  cfme/tests/test_replication.py
Labels: lint-ok, test-automation

#9297 [RFR] Add in test case for BZ 1741310
  cfme/infrastructure/config_management/__init__.py
  cfme/tests/webui/test_general_ui.py
Labels: lint-ok, new-test-or-feature

#9731 [RFR] Fix test failure
  cfme/tests/configure/test_rest_access_control.py
  cfme/tests/infrastructure/test_config_management_rest.py
  cfme/tests/webui/test_rest.py
Labels: fix-test, lint-ok

#9758 [1LP][RFR] Run few tests on Ansible Tower only
  cfme/tests/infrastructure/test_config_management.py
Labels: lint-ok, manual, test-cleanup

#9760 [1LP][RFR] Add test for disk io for availability zones
  cfme/tests/candu/test_utilization_metrics.py
Labels: fix-test, lint-ok

#9738 [1LP][RFR] Configuring remote app. and global App replication using UI
  cfme/configure/configuration/region_settings.py
  cfme/tests/test_replication.py
Labels: enhancement, lint-ok, test-automation

#9645 [1LP][RFR] Fix restore (and proxy) tests second part
  cfme/fixtures/utility_vm.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/configure/test_proxy.py
  cfme/utils/net.py
  conftest.py
  requirements/frozen.txt
  scripts/utility-vm/Makefile
  scripts/utility-vm/README
  scripts/utility-vm/customization-script.sh
  scripts/utility-vm/meta-data
  scripts/utility-vm/rhel7.repo.template
  scripts/utility-vm/rhel8.repo.template
  scripts/utility-vm/user-data.yaml
Labels: fix-test, lint-ok

#9764 [1LP][RFR] dismiss_alerts closes vmrc related alerts
  cfme/common/vm.py
  cfme/utils/appliance/implementations/common.py
Labels: fix-framework, lint-ok

#9753 [1LP][RFR] Add periodic call and use it to prolong the appliances from Sprout
  cfme/fixtures/appliance.py
  cfme/test_framework/sprout/client.py
  cfme/utils/__init__.py
Labels: enhancement, lint-ok

#9773 [1LP][RFR] dummy-appliance=>collect-only
  cfme/test_framework/appliance.py
  cfme/utils/dockerbot/pytestbase/setup.sh
Labels: enhancement

#9777 [1LP][RFR] Fix collections import deprecation
  cfme/common/provider.py
  cfme/fixtures/templates.py
  cfme/utils/bz.py
  cfme/utils/db.py
  cfme/utils/events_db.py
  cfme/utils/providers.py
Labels: py3-compat

#9755 [1LP][RFR] fixing one more issue in artifactor's filedump
  artifactor/plugins/filedump.py
  artifactor/plugins/reporter.py
Labels: fix-framework, lint-ok

#9589 [RFR] Serial marker for parallelizer
  cfme/fixtures/parallelizer/__init__.py
  cfme/markers/serial.py
  cfme/tests/control/test_basic.py
  cfme/tests/integration/test_aws_iam_auth_and_roles.py
  cfme/tests/integration/test_cfme_auth.py
  conftest.py
Labels: lint-ok, tech-debt

#9776 [1LP][WIPTEST] Also use --include-manual when setting the coverage flag.
  cfme/scripting/bz.py
  cfme/tests/configure/test_db_backup_schedule.py
  cfme/tests/test_db_migrate_manual.py
Labels: blockers-only, enhancement

#9781 [1LP][RFR] Update getting started doc, mention core support for Fedora
  docs/getting_started.rst
Labels: doc, lint-ok

#9778 [1LP][RFR] Clear cached appliance DB properties on appliance upgrade
  cfme/utils/appliance/__init__.py
Labels: issue-bug, lint-ok

#9779 [1LP][RFR] Change test_child_tenant to use non super-admin role
  cfme/tests/infrastructure/test_child_tenant.py
Labels: issue-bug, lint-ok

#9756 [1LP][RFR] New Test: Test overwrite domain using rake command
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_file_import.py
Labels: WIP-testing, lint-ok, test-automation

#9770 [1LP][RFR] Automate: test_service_refresh_dialog_fields_default_values
  cfme/automate/dialogs/service_dialogs.py
  cfme/tests/services/test_rest_services.py
  cfme/tests/test_rest_manual.py
Labels: customer-case, lint-ok, test-automation

#9747 [1LP][RFR] New Test:: test_replication_global_to_remote_new_vm_from_template
  cfme/tests/test_replication.py
Labels: lint-ok, test-automation

#9739 [1LP][RFR] automate service fetch error after user delete
  cfme/tests/ssui/test_ssui_myservice.py
Labels: lint-ok, test-automation

#9780 [1LP][RFR] Remove old/irrelevant/closed blockers
  cfme/tests/cloud_infra_common/test_genealogy.py
  cfme/tests/configure/test_visual_infra.py
  cfme/tests/infrastructure/test_advanced_search_vms.py
  cfme/tests/services/test_config_provider_servicecatalogs.py
  cfme/tests/services/test_pxe_service_catalogs.py
Labels: blockers-only, lint-ok

#9772 [1LP][RFR] Update password gem name
  cfme/tests/automate/test_common_methods.py
  cfme/utils/appliance/__init__.py
  scripts/harden_security.py
Labels: issue-bug, lint-ok, tech-debt

#9746 [1LP][RFR] Automate: test_provider_details_page_refresh_after_clear_cookies
  cfme/tests/webui/test_general_ui.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: lint-ok, test-automation

#9785 [1LP][RFR] New Test: Testing available tags on GitHub repo are displayed while refreshing domain
  cfme/automate/explorer/domain.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_git_import.py
Labels: lint-ok, test-automation

#9774 [1LP][RFR] New Test: test_crud_service_template_with_picture
  cfme/services/catalogs/catalog.py
  cfme/tests/services/test_rest_services.py
Labels: customer-case, enhancement, lint-ok, new-test-or-feature

#9732 [1LP][RFR] Adding Service Dialog Dropdown tests.
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_dynamicdd_dialogelement.py
Labels: WIP-testing, lint-ok, test-automation

#9745 [1LP][RFR] fix test with new product feature changes
  cfme/tests/configure/test_access_control.py
Labels: fix-test, lint-ok

#9783 [1LP][RFR] New Test:: Testing App IP is present or not on appliance console
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9792 [1LP][RFR] Update click_cancel and click_reset kwargs to be consistent
  cfme/common/vm.py
  cfme/infrastructure/virtual_machines.py
  cfme/tests/cloud_infra_common/test_vm_ownership.py
Labels: fix-framework, lint-ok

#9793 [1LP][RFR] clean up version picking and time.sleeps in ssui service module
  cfme/services/myservice/ssui.py
Labels: fix-framework, lint-ok

#9765 [1LP][RFR] Fix subscription tests
  cfme/configure/configuration/region_settings.py
  cfme/tests/configure/test_register_appliance.py
  cfme/utils/appliance/__init__.py
Labels: fix-test, lint-ok

#9787 [1LP][RFR] Automate dialog dynamic field refresh
  cfme/tests/services/test_dynamicdd_dialogelement.py
Labels: customer-case, lint-ok, test-automation

#9798 [1LP][RFR][NOTEST] Re-assigning FA
  cfme/tests/cli/test_appliance_cli.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/infrastructure/test_vm_migrate.py
  cfme/tests/test_replication.py
Labels: fix-locator-or-text, lint-ok

#9788 [1LP][RFR] New Test: Testing managed vms relationships
  cfme/infrastructure/datastore.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: lint-ok, test-automation

#9767 [1LP][RFR] Automate dynamic dialog execution
  cfme/services/service_catalogs/ui.py
  cfme/tests/ssui/test_ssui_myservice.py
Labels: customer-case, lint-ok, test-automation

#9794 [1LP][RFR] Adding Test Coverage for customer BZ
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/test_db_migrate_manual.py
Labels: lint-ok, manual

#9782 [1LP][RFR] New Test:: Testing start EVM command
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9230 [1LP][RFR] New Test: Checks moving VMWare vm to custom vm folder
  cfme/tests/automate/test_common_methods.py
Labels: lint-ok, new-test-or-feature
