Repository ManageIQ/integration_tests, pull requests merged in 2019-06, with the labels that each got.

#8872 [1LP][RFR] Moved targeted refresh tests to cloud
  cfme/test_requirements.py
  cfme/tests/cloud/test_targeted_refresh.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#8900 [RFR] fix log-validator
  cfme/utils/ssh.py
Labels: fix-framework, lint-ok

#8898 [1LP][RFR] remove useless appliance configure method
  cfme/utils/appliance/__init__.py
Labels: fix-framework, lint-ok

#8895 [1LP][RFR] trying to turn off strict host key checking
  cfme/utils/ssh.py
Labels: enhancement, lint-ok

#8890 [1LP][RFR] added new param to cover BZ1402392
  cfme/tests/webui/test_advanced_search.py
Labels: fix-test, lint-ok, new-test-or-feature

#8896 [RFR, NOTEST] Remove prince from the packages on appliance.
  cfme/tests/test_appliance.py
Labels: fix-test, lint-ok

#8887 [RFR] test coverage for BZ1443411
  cfme/tests/infrastructure/test_snapshot.py
Labels: lint-ok, new-test-or-feature

#8910 [RFR] adding new polarion plugin in order to fix collection issue
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
Labels: fix-framework, lint-ok

#8839 [1LP][RFR] fix open url changes
  cfme/tests/automate/custom_button/test_buttons.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
Labels: fix-test, lint-ok

#8908 [1LP][RFR]Update test_server_info test
  cfme/tests/test_rest.py
Labels: enhancement, lint-ok

#8888 [1LP][RFR] Updates to handle wrapanapi IP changes
  cfme/common/vm.py
  cfme/configure/configuration/diagnostics_settings.py
  cfme/fixtures/depot.py
  cfme/fixtures/templateloader.py
  cfme/fixtures/vm.py
  cfme/test_framework/pytest_plugin.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
  cfme/tests/configure/test_db_backup_schedule.py
  cfme/tests/configure/test_log_depot_operation.py
  cfme/tests/configure/test_proxy.py
  cfme/utils/appliance/__init__.py
  cfme/utils/net.py
  cfme/utils/template/base.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
  scripts/clone_template.py
  sprout/appliances/tasks.py
  sprout/sprout.sh
Labels: enhancement, lint-ok

#8913 [RFR][1LP] fedora 30 in quickstart
  cfme/scripting/quickstart/system.py
  cfme/scripting/tests/test_quickstart.py
Labels: enhancement, lint-ok

#8907 [1LP][RFR]Change provider_attribute key for passing azure tenant id
  cfme/common/provider.py
Labels: fix-framework, lint-ok

#8892 [1LP][RFR] new test to check template refresh relationships
  cfme/common/provider_views.py
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: lint-ok, new-test-or-feature

#8782 [1LP][RFR] Automate Test: test_rbac_move_custom_report
  cfme/intelligence/reports/menus.py
  cfme/tests/intelligence/reports/test_menus.py
  cfme/tests/intelligence/reports/test_reports_manual.py
Labels: enhancement, lint-ok, new-test-or-feature

#8912 [NOTEST] Adding requirements for Bottleneck tests
  cfme/tests/optimize/test_bottlenecks.py
Labels: lint-ok

#8826 [1LP][RFR] test_unassigned button behavior for service obj
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: lint-ok, new-test-or-feature

#8922 [1LP][RFR] sprout fixes
  sprout/appliances/tasks.py
Labels: lint-ok, sprout

#8906 [NOTEST] Adding requirements for Multi-tenancy tests
  cfme/tests/configure/test_access_control.py
Labels: fix-test, lint-ok

#8916 [1LP][RFR][NOTEST] Migration requirement and metadata
  cfme/tests/v2v/test_csv_import.py
  cfme/tests/v2v/test_infrastructure_mapping.py
  cfme/tests/v2v/test_migration_plan.py
  cfme/tests/v2v/test_post_migrations.py
  cfme/tests/v2v/test_rest_migrations.py
  cfme/tests/v2v/test_v2v_ansible.py
  cfme/tests/v2v/test_v2v_migrations.py
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
  cfme/tests/v2v/test_v2v_schedule_migrations.py
Labels: enhancement, lint-ok

#8794 [1LP][RFR]Fix Import/Export for reports and widgets
  cfme/control/import_export.py
  cfme/intelligence/reports/import_export.py
  cfme/intelligence/reports/reports.py
  cfme/intelligence/reports/widgets/__init__.py
  cfme/tests/intelligence/reports/test_import_export_reports_widgets.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  data/ui/intelligence/import_report.yaml
  data/ui/intelligence/import_widget.yaml
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok, new-test-or-feature

#8818 [1LP][RFR] Put in order storage tests
  cfme/tests/storage/test_object_store_container.py
  cfme/tests/storage/test_object_store_object.py
  cfme/tests/storage/test_volume.py
  cfme/tests/storage/test_volume_backup.py
  cfme/tests/storage/test_volume_snapshot.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#8897 [1LP][RFR] Automate import/export of generic object definitions
  cfme/tests/generic_objects/test_instances.py
Labels: lint-ok, new-test-or-feature

#8909 [1LP][RFR] fixed test_vm_filter_with_user_input
  cfme/tests/infrastructure/test_advanced_search_vms.py
Labels: fix-test, lint-ok

#8919 [1LP][RFR][NOTEST] Added new manual test cases
  cfme/tests/automate/test_automate_manual.py
Labels: lint-ok, manual

#8920 [RFR] Updated with use of ansible global fixture.
  cfme/tests/ansible/test_embedded_ansible_actions.py
Labels: enhancement, lint-ok

#8925 [RFR] Re-assigning chargeback CRUD tests to current FA owner
  cfme/tests/intelligence/test_chargeback.py
Labels: lint-ok, manual

#8893 [RFR] Removing test_appliance_console_screen test
  cfme/tests/cli/test_appliance_console.py
Labels: fix-test, lint-ok

#8914 [RFR]Enhance test cases to test user tag assignment/unassignment via REST.
  cfme/tests/configure/test_tag.py
Labels: enhancement, lint-ok

#8921 [RFR] added BZ for ServerCollectLogsEditView is_displayed
  cfme/configure/configuration/diagnostics_settings.py
Labels: blockers-only, lint-ok

#8926 [RFR] Add a default severity for CFME 5.11
  cfme/control/explorer/alerts.py
Labels: WIP-testing, fix-framework, lint-ok

#8902 [RFR] Add in a wait_for between creating and removing the network security group
  cfme/tests/cloud/test_cloud_events.py
Labels: fix-test, lint-ok

#8928 [RFR] Add iputils to pytestbase Dockerfile
  cfme/utils/dockerbot/pytestbase/Dockerfile
Labels: fix-framework

#8927 [RFR] fixing 5.11.0.7 configuration()
  cfme/utils/appliance/db.py
Labels: fix-framework, lint-ok

#8904 [RFR] Add forced streams for BZ's that aren't backported to 5.10 and some for 5.11
  cfme/tests/cloud_infra_common/test_policy_simulation.py
  cfme/tests/infrastructure/test_scvmm_specific.py
Labels: blockers-only, lint-ok

#8931 [RFR] make sprout wait for first outward appliance ip
  cfme/utils/net.py
  sprout/appliances/tasks.py
Labels: lint-ok, sprout

#8935 [1LP][RFR] Update template upload to use wait_pingable
  cfme/utils/template/base.py
Labels: infra-related, lint-ok

#8948 [1LP][RFR] This PR will fix Breadcrumbs issue
  cfme/modeling/base.py
Labels: lint-ok, rc-regression-fix

#8946 [RFR] views support in db client
  cfme/utils/db.py
Labels: fix-framework, lint-ok

#8939 [1LP][RFR] Moved the rest of tests from test_manual.py
  cfme/tests/cloud/test_cloud_manual.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/configure/test_proxy.py
  cfme/tests/networks/test_sdn_security_groups.py
  cfme/tests/test_appliance.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#8932 [1LP][RFR]Add manual tests for RFEs
  cfme/tests/automate/test_git_import.py
  cfme/tests/intelligence/reports/test_reports_manual.py
Labels: lint-ok, manual

#8934 [1LP][RFR] Deleting candu tests that have been automated
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#8917 [RFR] Added VDDK 6.7 checks and updated getter method
  cfme/tests/infrastructure/test_ssa_vddk.py
Labels: fix-test, lint-ok

#8813 [1LP][RFR] Automate test case for creating an appliance in SCVMM
  cfme/tests/infrastructure/test_scvmm_specific.py
  cfme/utils/appliance/__init__.py
  scripts/clone_template.py
Labels: lint-ok, new-test-or-feature

#8951 [RFR] Fix catalog button group nav
  cfme/services/catalogs/catalog_items/__init__.py
Labels: fix-framework, lint-ok, rc-regression-fix

#8950 [RFR] fix required icon/request
  cfme/tests/automate/custom_button/test_buttons.py
Labels: fix-test, lint-ok, rc-regression-fix

#8955 [RFR] Add wait_for_web_ui after Restarting Server
  cfme/tests/test_appliance.py
Labels: fix-test, lint-ok

#8944 [RFR] Add a widget to deal with sectioned bootstrap selects, fix action tests
  cfme/control/explorer/actions.py
  widgetastic_manageiq/__init__.py
Labels: fix-framework, lint-ok

#8835 [1LP][RFR] Remove appliance dependencies from cfme.utils.bz and move them to cfme.utils.blockers
  cfme/utils/appliance/__init__.py
  cfme/utils/blockers.py
  cfme/utils/bz.py
Labels: enhancement, fix-framework, lint-ok

#8933 [1LP][RFR] Change naming of widgets, use button click method for ExpressionEditor
  widgetastic_manageiq/expression_editor.py
Labels: enhancement, fix-framework, lint-ok

#8945 [1LP][RFR] Simplify return in template_upload, null cache for sprout.Appliance.v…
  cfme/utils/template/base.py
  sprout/appliances/tasks.py
Labels: infra-related, lint-ok, sprout

#8885 [1LP][RFR] Customer Story: Automate-Dynamic Dialog-Custom Button
  cfme/automate/dialogs/dialog_element.py
  cfme/fixtures/automate.py
  cfme/tests/automate/custom_button/__init__.py
  cfme/tests/automate/custom_button/test_service_vm_custom_button.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok, new-test-or-feature

#8949 [1LP][RFR] New Test: Testing service provisioning mail error in automation logs
  cfme/tests/services/test_catalog_item.py
Labels: lint-ok, new-test-or-feature

#8947 [1LP][RFR] New Test: Testing object attributes on simulation page
  cfme/tests/automate/test_simulation.py
Labels: lint-ok, new-test-or-feature

#8883 [1LP][RFR] New Test: Test generic object service associations using automate method
  cfme/generic_objects/definition/rest.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_method.py
Labels: lint-ok, new-test-or-feature

#8923 [1LP][RFR]New Test: test_provider_options_region
  cfme/tests/test_rest.py
Labels: lint-ok, new-test-or-feature

#8952 [WIPTEST] Fixed reorder elements in service dialogs
  cfme/automate/dialogs/__init__.py
  cfme/automate/dialogs/dialog_element.py
Labels: WIP-testing, fix-framework, lint-ok

#8871 [1LP][RFR] CB- roles Selection test
  cfme/automate/buttons.py
  cfme/tests/automate/custom_button/test_buttons.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok, new-test-or-feature

#8958 [1LP][RFR] Automate test: test_domain_import_git_rest
  cfme/tests/automate/test_git_import.py
Labels: lint-ok, new-test-or-feature

#8905 [1LP][RFR] Create a test case to test policy conditions with multiple OR statements
  cfme/tests/control/test_bugs.py
  widgetastic_manageiq/expression_editor.py
Labels: lint-ok, new-test-or-feature

#8957 [RFR] Add cleanup to test provision from template using rest
  cfme/tests/cloud_infra_common/test_provisioning.py
Labels: enhancement, fix-test, lint-ok

#8954 [1LP][WIPTEST] Move manual test cases owned by tpapaioa out of test_manual.py
  cfme/tests/candu/test_nor_rightsize.py
  cfme/tests/cloud_infra_common/test_retirement_manual.py
  cfme/tests/distributed/test_appliance_manual.py
  cfme/tests/distributed/test_appliance_replication_manual.py
  cfme/tests/intelligence/test_chargeback_manual.py
  cfme/tests/satellite/test_satellite_manual.py
  cfme/tests/test_manual.py
  cfme/tests/test_server_manual.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: WIP-testing, lint-ok, manual

#8938 [1LP][RFR] Simulation copy test
  cfme/automate/buttons.py
  cfme/automate/simulation.py
  cfme/base/ui.py
  cfme/tests/automate/custom_button/test_buttons.py
Labels: lint-ok, new-test-or-feature

#8941 [1LP][RFR] Fix python command for test_send_test_email
  cfme/utils/net.py
Labels: fix-locator-or-text, lint-ok

#8965 [1LP][RFR]Move manual tests
  cfme/tests/configure/test_config_manual.py
  cfme/tests/test_manual.py
  cfme/tests/test_rest_manual.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: lint-ok, manual

#8924 [1LP][RFR] added test requirements to the tests
  cfme/tests/ansible/test_embedded_ansible_tags.py
  cfme/tests/automate/custom_button/test_buttons.py
  cfme/tests/cloud/test_azure_manual.py
  cfme/tests/cloud/test_keypairs.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud/test_tag_mapping.py
  cfme/tests/cloud_infra_common/test_discovery_and_support.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/cloud_infra_common/test_provisioning_manual.py
  cfme/tests/cloud_infra_common/test_relationships.py
  cfme/tests/cloud_infra_common/test_tag_objects.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/configure/test_analysis_profiles.py
  cfme/tests/configure/test_database_ui.py
  cfme/tests/configure/test_display_settings.py
  cfme/tests/configure/test_docs.py
  cfme/tests/configure/test_log_depot_operation_manual.py
  cfme/tests/configure/test_logs.py
  cfme/tests/configure/test_ntp_server.py
  cfme/tests/configure/test_remote_server_tabs.py
  cfme/tests/configure/test_server_roles.py
  cfme/tests/configure/test_session_timeout.py
  cfme/tests/configure/test_tag.py
  cfme/tests/configure/test_tag_category.py
  cfme/tests/configure/test_timeprofile.py
  cfme/tests/configure/test_workers.py
  cfme/tests/configure/test_zones.py
  cfme/tests/generic_objects/test_instances.py
  cfme/tests/infrastructure/test_advanced_search_host.py
  cfme/tests/infrastructure/test_advanced_search_providers.py
  cfme/tests/infrastructure/test_advanced_search_vms.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_iso_datastore.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
  cfme/tests/infrastructure/test_set_default_filter.py
  cfme/tests/infrastructure/test_snapshot.py
  cfme/tests/networks/test_sdn_balancers.py
  cfme/tests/networks/test_sdn_topology.py
  cfme/tests/networks/test_tag_tagvis.py
  cfme/tests/services/test_catalog_item.py
  cfme/tests/services/test_iso_service_catalogs.py
  cfme/tests/services/test_orchestration_template.py
  cfme/tests/services/test_provision_stack.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/ssui/test_ssui_tags.py
  cfme/tests/storage/test_object_store_container.py
  cfme/tests/storage/test_object_store_object.py
  cfme/tests/storage/test_volume.py
  cfme/tests/storage/test_volume_snapshot.py
  cfme/tests/test_manual.py
  cfme/tests/webui/test_advanced_search.py
Labels: lint-ok, manual

#8889 [1LP][RFR] Add test coverages
  cfme/tests/cloud_infra_common/test_snapshots_rest.py
  cfme/tests/configure/test_config_manual.py
Labels: lint-ok, manual

#8241 [1LP][RFR]Modify test which encases landing page testing
  cfme/tests/configure/test_landing_page.py
  cfme/tests/configure/test_visual_cloud.py
  cfme/tests/configure/test_visual_infra.py
Labels: enhancement, lint-ok

#8953 [1LP][RFR] Testing user requester for service or life cycle provision
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_service_automate.py
Labels: lint-ok, new-test-or-feature

#8959 [1LP][RFR] Testing invalid value for assertion field
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_simulation.py
Labels: lint-ok, new-test-or-feature

#8961 [1LP][RFR] Automate test: test_service_retirement_methods AND fix service retire…
  cfme/tests/services/test_rest_services.py
Labels: customer-case, lint-ok, new-test-or-feature

#8966 [1LP][RFR] Added new test cases
  cfme/tests/automate/test_automate_manual.py
Labels: lint-ok, manual

#8969 [1LP][RFR] Add test case for BZ 1650104
  cfme/tests/generic_objects/test_definitions.py
Labels: lint-ok, new-test-or-feature

#8975 [1LP][RFR] fix openshift appliances in sprout
  sprout/appliances/tasks.py
Labels: infra-related, lint-ok, sprout

#6576 [1LP][RFR] dockerbot: use readable task ids
  cfme/utils/dockerbot/check_prs.py
Labels: enhancement, lint-ok

#8879 [1LP][RFR]updating vmware test to automate vmware filters test and test vdswitch ui display
  cfme/common/host_views.py
  cfme/infrastructure/host.py
  cfme/tests/infrastructure/test_vmware_provider.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
Labels: lint-ok, new-test-or-feature

#8942 [1LP][RFR] fixed CloudProviderInstancesView and tags
  cfme/cloud/provider/__init__.py
  cfme/cloud/tenant.py
  cfme/common/__init__.py
  cfme/configure/access_control/__init__.py
  widgetastic_manageiq/__init__.py
Labels: lint-ok, rc-regression-fix

#8868 [1LP][RFR] Cancel migration and check if instance, volumes and ports get deleted
  cfme/tests/v2v/test_v2v_cancel_migrations.py
Labels: lint-ok, new-test-or-feature

#8930 [1LP][RFR] Added key pair tests for ec2
  cfme/cloud/keypairs.py
  cfme/tests/cloud/test_keypairs.py
  cfme/tests/test_manual.py
Labels: lint-ok, new-test-or-feature

#8977 [1LP][RFR] Global fixture update and some tests tag fix
  cfme/ansible/credentials.py
  cfme/ansible/repositories.py
  cfme/tests/ansible/test_embedded_ansible_tags.py
Labels: lint-ok

#8884 [1LP][RFR] Automating Ansible manual tests
  cfme/fixtures/ansible_fixtures.py
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/services/catalogs/catalog_items/ansible_catalog_items.py
  cfme/services/myservice/ui.py
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: lint-ok, new-test-or-feature

#8869 [RFR] This PR will reduce creation of extra VMs for each test.
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
Labels: enhancement, lint-ok

#8880 [1LP][RFR] New conversion host ui
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_conversion_host.py
  cfme/v2v/conversion_hosts.py
  entry_points.txt
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok, new-test-or-feature

#8979 [RFR] fixed set in ReactSelect
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok

#8971 [1LP][RFR] BZ 1698431
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/services/catalogs/catalog_items/catalog_bundles.py
  cfme/tests/services/test_service_customer_bz.py
  widgetastic_manageiq/__init__.py
Labels: customer-case, enhancement, lint-ok

#8981 [RFR] fixed assignee for azure and rhev
  cfme/test_requirements.py
Labels: infra-related, lint-ok

#8968 [1LP][RFR] New Test: Testing quota source value
  cfme/tests/automate/test_instance.py
Labels: lint-ok, new-test-or-feature

#8881 [1LP][RFR] Updated test case of automate domain disable and lock
  cfme/tests/automate/test_domain.py
Labels: enhancement, lint-ok

#8918 [1LP][RFR] Enhance LogValidator for pattern match
  cfme/tests/automate/custom_button/test_infra_objects.py
  cfme/tests/test_appliance.py
  cfme/utils/log_validator.py
Labels: enhancement, lint-ok

#8964 [1LP][RFR]Cd dvd/DIsk table updates and Tests
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_vmware_provider.py
  widgetastic_manageiq/vm_reconfigure.py
Labels: enhancement, lint-ok

#8982 [1LP][RFR] Remove blocker for resolved bz 1656873
  cfme/tests/configure/test_workers.py
Labels: fix-test, lint-ok

#8778 [1LP][RFR] Add miq command for updating qe-test-coverage flag and generating BZ reports
  cfme/fixtures/bzs.py
  cfme/scripting/bz.py
  cfme/scripting/miq.py
  cfme/test_framework/pytest_plugin.py
  cfme/tests/control/test_bugs.py
  cfme/utils/bz.py
Labels: enhancement, lint-ok

#8956 [RFR] Add conversion setup as a fixture and test
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_rest_migrations.py
Labels: lint-ok, new-test-or-feature

#8970 [RFR]Vds ui tests
  cfme/tests/infrastructure/test_vmware_provider.py
Labels: fix-test, lint-ok, new-test-or-feature

#8983 [RFR] Skip the cluster test if the host is unclustered
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: lint-ok, rc-regression-fix

#8986 [NOTEST][RFR]Removing test test_vmware_guests_linked_clone as this feature is no longer valid
  cfme/tests/infrastructure/test_vmware_provider.py
Labels: lint-ok

#8988 [1LP][RFR] improved locator for ReactSelect
  cfme/common/__init__.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, fix-framework, lint-ok

#8989 [1LP][RFR] Adding Multi-Region FA requirement and appropriate tests
  cfme/test_requirements.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/cloud_infra_common/test_retirement.py
  cfme/tests/distributed/test_appliance_replication.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/test_replication.py
Labels: lint-ok, manual

#8992 [1LP][RFR] Update OpenstackProvider.view_value_mapping, v3 fields
  cfme/cloud/provider/openstack.py
Labels: fix-framework, lint-ok

#8936 [1LP][RFR] Update template upload for rhevm, name database disk
  cfme/utils/template/rhevm.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
Labels: infra-related, lint-ok

#8993 [1LP][RFR] Block alert_profile_crud test due to BZ
  cfme/infrastructure/provider/__init__.py
  cfme/tests/control/test_basic.py
Labels: blockers-only, lint-ok

#8991 [1LP][RFR] Fixed power dropdown
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_vm_power_control.py
Labels: fix-locator-or-text, lint-ok, rc-regression-fix

#8865 [1LP][RFR] Adding cleanup script for old snapshot
  cfme/tests/cloud_infra_common/test_snapshots_rest.py
  cfme/tests/infrastructure/test_snapshot.py
  scripts/cleanup_openstack_instance_snapshot.py
Labels: infra-related, lint-ok

#8984 [1LP][RFR] automated test_vpc_env_selection
  cfme/tests/cloud/test_azure_manual.py
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, new-test-or-feature

#8995 [1LP][RFR] fixed test_proxy_invalid
  cfme/tests/configure/test_proxy.py
Labels: fix-test, lint-ok

#8998 [RFR] Fix physical infra policy TREE_NODE for 5.11
  cfme/control/explorer/policies.py
Labels: fix-locator-or-text, fix-test, lint-ok

#8960 [1LP][RFR] New Test: Tesing quota check while provisioning services
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_method.py
Labels: lint-ok, new-test-or-feature

#8929 [1LP][RFR] added fileserver for remote file management
  cfme/tests/intelligence/reports/test_import_export_reports_widgets.py
  cfme/utils/ftp.py
Labels: enhancement, lint-ok

#8987 [1LP][RFR] added template cleanup on provider
  cfme/tests/infrastructure/test_publish_vm_to_template.py
Labels: fix-framework, lint-ok

#9010 [RFR] removed force block
  cfme/tests/automate/custom_button/test_service_vm_custom_button.py
Labels: fix-locator-or-text, lint-ok

#9008 [RFR] fix evm object visibility test
  cfme/tests/automate/custom_button/test_generic_objects.py
Labels: fix-test, lint-ok

#8999 [1LP][RFR] Add a test case to check default policy events
  cfme/tests/control/test_basic.py
Labels: lint-ok, new-test-or-feature

#9009 [1LP][RFR] Fixed root node issue for entry point selection
  cfme/tests/cloud/test_tenant_quota.py
  cfme/tests/infrastructure/test_tenant_quota.py
Labels: WIP-testing, fix-test, lint-ok

#9003 [1LP][RFR] fix issue when sprout can't get ip of renamed appliance
  sprout/appliances/tasks.py
Labels: infra-related, lint-ok, sprout

#9000 [1LP][RFR][NOTEST] Add automates metadata for control FA
  cfme/tests/control/test_actions.py
  cfme/tests/control/test_bugs.py
Labels: blockers-only, lint-ok

#9015 [RFR] Adding two blocking BZs to tests
  cfme/tests/cloud/test_cloud_events.py
  cfme/tests/control/test_actions.py
Labels: blockers-only, lint-ok

#9021 [RFR] Changes list_hosts to list_host for mgmt method calls
  cfme/tests/intelligence/reports/test_canned_corresponds.py
  cfme/tests/openstack/infrastructure/test_hosts.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
  requirements/template_docs.txt
Labels: fix-framework, lint-ok

#8972 [1LP][RFR] Scsi controller vmware
  cfme/tests/infrastructure/test_vmware_provider.py
Labels: lint-ok, new-test-or-feature
