Repository ManageIQ/integration_tests, pull requests merged in 2019-10, with the labels that each got.

#9419 [1LP][RFR] Remove uses of uncollectif where provider markers should be used
  cfme/tests/automate/custom_button/__init__.py
  cfme/tests/automate/custom_button/test_buttons.py
  cfme/tests/automate/custom_button/test_cloud_objects.py
  cfme/tests/automate/custom_button/test_container_objects.py
  cfme/tests/automate/custom_button/test_infra_objects.py
  cfme/tests/automate/custom_button/test_rest_custom_button.py
  cfme/tests/automate/custom_button/test_service_objects.py
  cfme/tests/candu/test_azone_graph.py
  cfme/tests/candu/test_host_graph.py
  cfme/tests/candu/test_utilization_metrics.py
  cfme/tests/candu/test_vm_graph.py
  cfme/tests/cloud/test_keypairs.py
  cfme/tests/cloud_infra_common/test_cockpit_server.py
  cfme/tests/cloud_infra_common/test_power_control_rest.py
  cfme/tests/cloud_infra_common/test_retirement.py
  cfme/tests/cloud_infra_common/test_snapshots_rest.py
  cfme/tests/configure/test_default_views_infra.py
  cfme/tests/configure/test_landing_page.py
  cfme/tests/configure/test_server_roles.py
  cfme/tests/containers/test_logging.py
  cfme/tests/control/test_alerts.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_host_analysis.py
  cfme/tests/infrastructure/test_individual_host_creds.py
  cfme/tests/infrastructure/test_providers.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
  cfme/tests/infrastructure/test_provisioning_rest.py
  cfme/tests/infrastructure/test_snapshot.py
  cfme/tests/infrastructure/test_vm_clone.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  cfme/tests/intelligence/reports/test_metering_report.py
  cfme/tests/intelligence/reports/test_validate_chargeback_report.py
  cfme/tests/openstack/infrastructure/test_host_power_control.py
  cfme/tests/optimize/test_bottlenecks.py
  cfme/tests/services/test_config_provider_servicecatalogs.py
  cfme/tests/services/test_myservice.py
  cfme/tests/services/test_provision_stack.py
  cfme/tests/services/test_service_catalogs_multi_region.py
  cfme/tests/v2v/test_csv_import.py
  cfme/tests/v2v/test_v2v_migrations.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/utils/appliance/__init__.py
  conf/supportability.yaml
Labels: fix-test, lint-ok, tech-debt

#9431 [1LP][RFR] Reassign auth tests to jdupuy and add requirements
  cfme/tests/integration/test_aws_iam_auth_and_roles.py
  cfme/tests/integration/test_cfme_auth.py
  cfme/tests/integration/test_ldap_auth_and_roles.py
Labels: lint-ok, other

#9430 [1LP][RFR]Fixed bytes to string decode for public key in test_keypairs
  cfme/tests/cloud/test_keypairs.py
Labels: fix-test, lint-ok

#8698 [1LP][RFR] Add services loading time performance test.
  cfme/fixtures/appliance.py
  cfme/fixtures/candu.py
  cfme/services/myservice/ui.py
  cfme/tests/optimize/test_bottlenecks.py
  cfme/tests/services/test_service_performance.py
  cfme/tests/test_db_migrate.py
  widgetastic_manageiq/__init__.py
Labels: lint-ok, new-test-or-feature

#9406 [1LP][RFR] button test for multiple deletion
  cfme/tests/automate/custom_button/test_buttons.py
Labels: lint-ok, new-test-or-feature

#9396 [1LP][RFR] Test case for BZ 1753237
  cfme/tests/automate/generic_objects/buttons/test_generic_class_custom_button.py
Labels: lint-ok, new-test-or-feature

#9425 [1LP][RFR] Download ansible logs
  cfme/tests/v2v/test_v2v_ansible.py
  cfme/tests/v2v/test_v2v_manual.py
  cfme/v2v/migration_plans.py
Labels: lint-ok, test-automation

#9432 [RFR]Fixing volume snapshot tests for openstack in 5.11
  cfme/tests/storage/test_volume_snapshot.py
Labels: fix-test, lint-ok

#9438 [1LP][RFR] Update wt.core
  requirements/frozen.txt
Labels: requirements

#9429 [1LP][RFR] Fix db last start time lookup in test_configure_vmdb_last_start_time
  cfme/tests/configure/test_database_ui.py
Labels: fix-test, lint-ok, new-test-or-feature

#9444 [1LP][RFR] forced stream for 5.11
  cfme/fixtures/v2v_fixtures.py
Labels: fix-locator-or-text

#9271 [1LP][RFR] New Test: Testing hash data in simulation tree on UI
  cfme/tests/automate/__init__.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_simulation.py
Labels: lint-ok, new-test-or-feature, test-automation

#9389 [1LP][RFR] New Test: Testing import of blank file
  cfme/automate/import_export.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_file_import.py
Labels: lint-ok, test-automation

#9442 [1LP][RFR] Move manual auth tests to their own file
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/integration/test_cfme_auth.py
Labels: manual, test-cleanup

#9400 [1LP][RFR] Automate: test_refresh_with_empty_iot_hub_azure
  cfme/tests/cloud/test_azure_manual.py
  cfme/tests/cloud/test_providers.py
  requirements/frozen.txt
Labels: lint-ok, test-automation

#9448 [1LP][RFR] Add module scope to override provider markers in test_provision_stack
  cfme/tests/services/test_provision_stack.py
Labels: fix-test

#9452 [RFR] Fixed tag remove issue
  cfme/common/__init__.py
Labels: fix-locator-or-text

#9331 [1LP][RFR] Fixed instace type issue of rhos provider
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/cloud/test_quota_tagging.py
Labels: fix-test, lint-ok

#9427 [1LP][RFR][NOTEST] Remove insights and load balancers to fix test
  cfme/roles.py
  cfme/tests/configure/test_landing_page.py
  cfme/tests/configure/test_rest_access_control.py
Labels: fix-locator-or-text, lint-ok

#9460 [RFR] Add jdupuy as auth requirement owner
  cfme/test_requirements.py
Labels: requirements

#9451 [1LP][RFR] Extend test_refresh_relationships: check for errors in evm.log
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: enhancement, lint-ok

#9457 [1LP][RFR] Block group switching tests for auth
  cfme/tests/integration/test_cfme_auth.py
Labels: blockers-only, lint-ok

#9392 [1LP][RFR] Optimize TestInstanceRESTAPI to execute faster
  cfme/common/vm.py
  cfme/tests/cloud/test_instance_power_control.py
Labels: enhancement, lint-ok

#9437 [1LP][RFR] Migration without conversion hosts
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/v2v/migration_plans.py
  widgetastic_manageiq/__init__.py
Labels: lint-ok, new-test-or-feature

#9434 [1LP][RFR] marked test_azure_multiple_subscription with 2 providers
  cfme/markers/env_markers/provider.py
  cfme/tests/cloud/test_providers.py
Labels: fix-test, lint-ok

#9454 [1LP][RFR]Added manual tests for ec2 url_endpoint and ec2 regions
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, manual

#9467 [1LP][RFR] skip pdf download
  cfme/tests/intelligence/test_download_report.py
Labels: lint-ok, other

#9465 [1LP][RFR] Fixed instance type issue of rhos with quota
  cfme/tests/cloud/test_quota_tagging.py
  cfme/tests/cloud/test_tenant_quota.py
Labels: fix-test, lint-ok

#9441 [1LP][RFR] upgrade sprout to py3 + f30 + latest django/redis/postgre and etc
  .gitignore
  cfme/test_framework/config.py
  sprout/__init__.py
  sprout/appliances/api.py
  sprout/appliances/migrations/0001_initial.py
  sprout/appliances/migrations/0007_provider_num_simultaneous_configuring.py
  sprout/appliances/migrations/0019_auto_20150430_1546.py
  sprout/appliances/migrations/0037_auto_20170131_1058.py
  sprout/appliances/migrations/0038_auto_20170131_1512.py
  sprout/appliances/migrations/0039_auto_20170131_1512.py
  sprout/appliances/migrations/0040_provider_memory_limit.py
  sprout/appliances/migrations/0041_auto_20170131_1518.py
  sprout/appliances/migrations/0042_auto_20170131_1526.py
  sprout/appliances/migrations/0043_auto_20170131_1609.py
  sprout/appliances/migrations/0044_auto_20170201_1218.py
  sprout/appliances/migrations/0045_auto_20170403_0918.py
  sprout/appliances/migrations/0046_auto_20180201_1342.py
  sprout/appliances/migrations/0047_auto_20180216_1634.py
  sprout/appliances/migrations/0048_openshift_appliances_support.py
  sprout/appliances/migrations/0049_provider_provider_type.py
  sprout/appliances/migrations/0050_template_template_type.py
  sprout/appliances/migrations/0051_appliancepool_template_type.py
  sprout/appliances/migrations/0052_remove_appliancepool_is_container.py
  sprout/appliances/migrations/0053_ipaddress_made_bigger.py
  sprout/appliances/migrations/0054_openshift_project_made_bigger.py
  sprout/appliances/migrations/0055_migration_to_django225.py
  sprout/appliances/models.py
  sprout/appliances/tasks.py
  sprout/appliances/templates/appliances/my_appliances.html
  sprout/appliances/templates/appliances/provider_usage.html
  sprout/appliances/templates/appliances/providers.html
  sprout/appliances/templates/appliances/swap_offenders.html
  sprout/appliances/templates/appliances/template_conf.html
  sprout/appliances/templates/appliances/templates.html
  sprout/appliances/templates/appliances/vms/_list.html
  sprout/appliances/templates/appliances/vms/index.html
  sprout/appliances/templates/base.html
  sprout/appliances/templates/bugs/bugs_base.html
  sprout/appliances/templates/bugs/list_query.html
  sprout/appliances/templates/bugs/new_query.html
  sprout/appliances/templates/login.html
  sprout/appliances/templates/password.html
  sprout/appliances/urls.py
  sprout/appliances/views.py
  sprout/dockerfiles/Dockerfile
  sprout/logserver.py
  sprout/requirements.txt
  sprout/sprout/__init__.py
  sprout/sprout/settings.py
  sprout/sprout/urls.py
Labels: infra-related, lint-ok, py3-compat

#9470 [1LP][RFR] Fixed multiple domain import
  cfme/tests/automate/test_git_import.py
Labels: fix-test, lint-ok

#9450 [1LP][RFR]test_sdn_port_net_prov for azure is blocked by BZ
  cfme/tests/networks/test_sdn_ports.py
Labels: blockers-only, lint-ok

#9440 [1LP][RFR] New Test: Test embedded method copy to new domain
  cfme/automate/explorer/method.py
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/automate/test_method.py
Labels: lint-ok, new-test-or-feature, test-automation

#9433 [1LP][RFR] New Test: Testing CRUD operations on imported domains
  cfme/automate/explorer/domain.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_file_import.py
Labels: lint-ok, test-automation

#9464 [1LP][RFR] cleanup volume on target provider
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_v2v_ansible.py
  cfme/tests/v2v/test_v2v_migrations.py
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
  cfme/tests/v2v/test_v2v_schedule_migrations.py
  cfme/tests/v2v/test_v2v_smoke.py
  cfme/v2v/migration_plans.py
Labels: enhancement, lint-ok

#9222 [1LP][RFR] New Test: Testing variable pass between method and playbook
  cfme/ansible/repositories.py
  cfme/automate/explorer/domain.py
  cfme/fixtures/automate.py
  cfme/tests/ansible/test_embedded_ansible_automate.py
Labels: lint-ok, new-test-or-feature

#9411 [1LP][RFR] Fix logic for whether server or zone display as current
  cfme/base/__init__.py
  cfme/base/ui.py
  cfme/configure/configuration/diagnostics_settings.py
  cfme/tests/configure/test_log_depot_operation.py
  cfme/tests/configure/test_paginator.py
  cfme/tests/configure/test_remote_server_tabs.py
Labels: fix-framework, lint-ok

#9435 [RFR][NOTEST] Configure saml provider on appliance
  cfme/configure/configuration/server_settings.py
  cfme/utils/appliance/__init__.py
  cfme/utils/auth/__init__.py
  entry_points.txt
  requirements/frozen.txt
  requirements/template_scanned_imports.txt
Labels: enhancement, lint-ok

#9471 [RFR] quickly fixed ipv6 LL issue in sprout
  cfme/utils/net.py
Labels: fix-framework, lint-ok

#9462 [1LP][RFR][NOTEST] Move manual login cases to test_auth_manual.py
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/test_login.py
Labels: lint-ok, manual, test-cleanup

#9463 [1LP][RFR] Adding test automation for bz1755070
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_vmware_provider.py
  widgetastic_manageiq/__init__.py
Labels: lint-ok, new-test-or-feature

#9476 [1LP][RFR] resetter should point all active services
  cfme/services/myservice/ui.py
Labels: fix-framework, lint-ok, rc-regression-fix

#9475 [1LP][RFR] Automated BZ 1742839 applicable for CF5.11
  cfme/services/myservice/__init__.py
  cfme/services/myservice/ui.py
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: lint-ok, new-test-or-feature

#9482 [1LP][RFR] fix: avoid resetter for perf test
  cfme/tests/services/test_service_performance.py
Labels: fix-test, lint-ok

#9474 [1LP][RFR] Add planned-in to requirements for polarion
  cfme/test_requirements.py
  conf/polarion_tools.yaml
  requirements/frozen.txt
Labels: enhancement, lint-ok

#9461 [1LP][RFR] Multi tenancy : Test group crud as tenant admin
  cfme/tests/configure/test_access_control.py
Labels: lint-ok, test-automation

#9486 [1LP][RFR] fixing parsing openshift template tags
  cfme/utils/trackerbot.py
  sprout/appliances/tasks.py
Labels: fix-framework, lint-ok, sprout

#9496 [1LP][RFR][NOTEST] remove duplicate cat item button test
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: lint-ok, test-cleanup

#9414 [1LP][RFR] Embedded Ansible service to check "Cloud Credentials" used in the service.
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: lint-ok, tech-debt, test-automation

#9480 [1LP][RFR] Specify a timeout on test_import_own_module
  cfme/tests/test_modules_importable.py
Labels: fix-test, lint-ok

#9393 [1LP][RFR] Fix test_provision_stack
  cfme/cloud/stack.py
  cfme/services/catalogs/orchestration_template.py
  cfme/services/myservice/__init__.py
  cfme/services/myservice/ui.py
  cfme/services/requests.py
  cfme/tests/services/test_provision_stack.py
Labels: fix-test, lint-ok

#9492 [1LP][RFR] uncollect load balancer for 5.11+
  cfme/tests/automate/custom_button/test_buttons.py
Labels: lint-ok, test-cleanup

#9436 [1LP][RFR] Ec2 sts assume role test
  cfme/cloud/provider/ec2.py
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, new-test-or-feature

#9473 [1LP][RFR] Remove superfluous manual vm retirement tests
  cfme/common/vm.py
  cfme/tests/cloud_infra_common/test_retirement.py
  cfme/tests/cloud_infra_common/test_retirement_manual.py
Labels: fix-test, lint-ok

#9477 [1LP][RFR] New Test: test_release_server_info
  cfme/tests/test_rest.py
Labels: lint-ok, new-test-or-feature

#9350 [1LP][RFR] Report data view
  cfme/intelligence/reports/reports.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  widgetastic_manageiq/__init__.py
Labels: fix-framework, lint-ok, new-test-or-feature

#9485 [1LP][RFR] disabling returing ipv6 ips for sprout appliances. those need additional setup
  cfme/utils/net.py
  requirements/frozen.txt
  sprout/appliances/tasks.py
Labels: lint-ok, sprout, tech-debt

#8976 [1LP][RFR] Deleted duplicate OSP storage tests and automated test_storage_volume_attached_delete
  cfme/storage/volume.py
  cfme/tests/storage/test_object_store_container.py
  cfme/tests/storage/test_object_store_object.py
  cfme/tests/storage/test_volume.py
  cfme/tests/storage/test_volume_backup.py
Labels: lint-ok, test-automation, test-cleanup

#9367 [1LP][RFR] expression test for ansible service
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: enhancement, lint-ok

#9500 [1LP][RFR][NOTEST] Remove old test that is covered by automation
  cfme/tests/cloud_infra_common/test_relationships.py
  cfme/tests/infrastructure/test_scvmm_specific.py
Labels: lint-ok, test-cleanup

#9505 [1LP][RFR] Automate test-pwd tests, delete manual cases
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/integration/test_db_auth.py
Labels: lint-ok, test-automation, test-cleanup

#9418 [1LP][RFR] add refresh_and_wait / remove copypasta
  cfme/cloud/instance/__init__.py
  cfme/common/provider.py
  cfme/common/vm.py
  cfme/fixtures/nuage.py
  cfme/infrastructure/virtual_machines.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud/test_tag_mapping.py
  cfme/tests/cloud_infra_common/test_relationships.py
  cfme/tests/configure/test_logs.py
  cfme/tests/infrastructure/test_snapshot.py
  cfme/tests/infrastructure/test_vmware_provider.py
  cfme/tests/networks/test_sdn_inventory_collection.py
Labels: enhancement

#9403 [1LP][RFR] Adding RHEL upgrade to Temporary Appliances for Interop Testing
  cfme/fixtures/appliance.py
Labels: enhancement, lint-ok

#9483 [1LP][RFR] added proper skip if the datastore is not available for ssa
  cfme/tests/infrastructure/test_datastore_analysis.py
Labels: fix-test, lint-ok

#9466 [1LP][RFR] New Test: Testing datastore attribute update
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_file_import.py
Labels: lint-ok, test-automation

#9495 [1LP][RFR] Archive vm custom button
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: lint-ok, test-automation

#9456 [1LP][RFR] Update entities.get_all() to allow return of subset of total entities and optimize how I determine number of entities in test.
  cfme/tests/infrastructure/test_host.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok

#9489 [1LP][RFR] Adding new test of edit import dialog. bz_1720617
  cfme/automate/dialogs/service_dialogs.py
  cfme/tests/automate/test_service_dialog.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_customer_bz.py
Labels: lint-ok, new-test-or-feature

#9491 [1LP][RFR] added test_revert_to_active_vm for RHV
  cfme/tests/infrastructure/test_snapshot.py
Labels: lint-ok, new-test-or-feature

#9493 [1LP][RFR] New Test: Testing dialog widget types while ordering catalog
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9497 [1LP][RFR] Automate test_generic_object_on_service_breadcrumb
  cfme/tests/automate/generic_objects/test_instances.py
Labels: lint-ok, test-automation

#9501 [1LP][RFR] miq appliance minor upgrade 511 support
  cfme/scripting/appliance.py
Labels: enhancement, lint-ok

#9494 [1LP][RFR] Add methods to add and delete folders and subfolders
  cfme/intelligence/reports/menus.py
  cfme/tests/intelligence/reports/test_menus.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok, new-test-or-feature

#9498 [1LP][RFR] New Test: test_reports_schedules_user
  cfme/intelligence/reports/schedules.py
  cfme/tests/intelligence/reports/test_reports_schedules.py
Labels: lint-ok, new-test-or-feature

#9523 [1LP][RFR] Remove rhel_testing mark from test_rh_updates
  cfme/tests/configure/test_register_appliance.py
Labels: lint-ok, other

#9529 [1LP][RFR] Security advisories for pillow and ecdsa
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: lint-ok, requirements

#9525 [1LP][RFR] Time configuration removed from the appliance console in 5.11
  cfme/tests/cli/test_appliance_console.py
Labels: fix-test, lint-ok

#9469 [1LP][RFR] Priq in sprout
  sprout/appliances/admin.py
  sprout/appliances/api.py
  sprout/appliances/migrations/0055_migration_to_django225.py
  sprout/appliances/models.py
  sprout/appliances/tasks.py
  sprout/appliances/tasks/__init__.py
  sprout/appliances/tasks/maintainance.py
  sprout/appliances/tasks/provisioning.py
  sprout/appliances/tasks/service_ops.py
  sprout/appliances/tasks/template.py
  sprout/appliances/templates/appliances/my_appliances.html
  sprout/appliances/templates/base.html
  sprout/appliances/views.py
  sprout/celery_runner
  sprout/logserver.py
  sprout/manage.py
  sprout/requirements.txt
  sprout/sprout.sh
  sprout/sprout/settings.py
Labels: enhancement, lint-ok, sprout

#9517 [1LP][RFR] Change default provider marker selector to ONE_PER_VERSION
  cfme/markers/env_markers/provider.py
Labels: fix-framework, issue-bug, lint-ok

#9504 [WIPTEST] Restore accidentally-removed module scope for provider fixture.
  cfme/tests/intelligence/reports/test_metering_report.py
  cfme/tests/intelligence/reports/test_validate_chargeback_report.py
Labels: WIP-testing, fix-test, issue-bug, lint-ok

#9508 [1LP][RFR] Add parameterized fixture to test_infrastructure_hosts_navigation_aft…
  cfme/tests/infrastructure/test_host.py
Labels: enhancement, lint-ok

#9538 [1LP][RFR] Reassign v2v tests to sshveta
  cfme/tests/v2v/test_csv_import.py
  cfme/tests/v2v/test_post_migrations.py
  cfme/tests/v2v/test_rest_migrations.py
  cfme/tests/v2v/test_v2v_cancel_migrations.py
  cfme/tests/v2v/test_v2v_manual.py
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/tests/v2v/test_v2v_schedule_migrations.py
Labels: lint-ok, test-cleanup

#9537 [1LP][RFR] fixing several sprout tasks started to fail after py3 migration
  sprout/appliances/tasks/__init__.py
  sprout/appliances/tasks/maintainance.py
  sprout/celery_runner
Labels: fix-framework, lint-ok

#9542 [1LP][RFR] removed uncollectif for 5.10
  cfme/tests/webui/test_expression_editor.py
Labels: lint-ok, test-cleanup

#9543 [1LP][RFR] typo in scavenge providers task
  sprout/appliances/tasks/maintainance.py
Labels: fix-framework, lint-ok

#9539 [1LP][RFR][NOTEST] Added BZ param in the already automated tests.
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/ansible/test_embedded_ansible_tags.py
Labels: lint-ok, test-automation

#9034 [1LP][RFR] rbac roles custom button
  cfme/configure/access_control/__init__.py
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: enhancement, lint-ok, test-automation

#9378 [1LP][RFR] Automate: test_reports_service_unavailable AND add methods to ApplianceDB and FTPFileWrapper
  cfme/base/__init__.py
  cfme/fixtures/customer_db_migrate.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/db.py
  cfme/utils/ftp.py
Labels: enhancement, lint-ok, test-automation

#9446 [1LP][RFR] New Test: Testing domain import with or without connection
  cfme/automate/import_export.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_git_import.py
Labels: lint-ok, test-automation

#9455 [1LP][RFR] automated BZ1534400
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_vm_engine_relationship.py
Labels: lint-ok, new-test-or-feature

#9536 [1LP][RFR] New Test: Testing handle alert while editing dialog
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9390 [1LP][WIPTEST] Custom button ansible infra
  cfme/fixtures/ansible_fixtures.py
  cfme/tests/automate/custom_button/__init__.py
  cfme/tests/automate/custom_button/test_infra_objects_ansible.py
  cfme/utils/ssh.py
Labels: WIP-testing, enhancement, lint-ok, new-test-or-feature

#9487 [1LP][RFR] Automate test_generic_object_button_delete_flash
  cfme/tests/automate/generic_objects/buttons/test_generic_class_custom_button.py
Labels: lint-ok, new-test-or-feature, test-automation

#9468 [1LP][RFR] New Test: Testing quota exceed mail
  cfme/provisioning.py
  cfme/tests/cloud_infra_common/test_quota_manual.py
  cfme/tests/infrastructure/test_tenant_quota.py
Labels: lint-ok, new-test-or-feature

#9511 [1LP][RFR] New Test: Test input values of dialog input after refresh
  cfme/fixtures/service_fixtures.py
  cfme/services/service_catalogs/__init__.py
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9509 [1LP][RFR] New test: test_embedded_ansible_cat_item_edit_rest
  cfme/tests/services/test_rest_services.py
Labels: lint-ok, new-test-or-feature

#9520 [1LP][RFR] Adding new test of vm reconfig resize disk snapshot
  cfme/tests/infrastructure/test_vm_reconfigure.py
Labels: lint-ok, test-automation

#9512 [1LP][RFR] Adding new tests of VM reconfig resize disk
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
Labels: lint-ok, test-automation

#9526 [1LP][RFR] New Test: Checking details of catalog item via list
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9513 [1LP][RFR] Create a fixture to monitor logs for passwords for auth tests
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/integration/test_cfme_auth.py
Labels: lint-ok, test-automation

#9533 [1LP][RFR]Automate: test_vm_right_size_recommendation_back_button
  cfme/cloud/instance/openstack.py
  cfme/common/vm.py
  cfme/common/vm_views.py
  cfme/tests/webui/test_general_ui.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: lint-ok, test-automation

#9544 [RFR] automated BZ 1741243
  cfme/tests/webui/test_expression_editor.py
Labels: lint-ok, new-test-or-feature

#9532 [1LP][RFR] automated test_error_message_azure
  cfme/tests/services/test_provision_stack.py
Labels: lint-ok, test-automation

#9408 [1LP][WIPTEST] Add test_compare_hosts_from_provider_allhosts to test_host.py
  cfme/common/host_views.py
  cfme/tests/infrastructure/test_host.py
Labels: WIP-testing, lint-ok, new-test-or-feature

#9506 [1LP][RFR] OSP flavor and security group
  cfme/tests/v2v/test_v2v_migrations_ui.py
Labels: lint-ok, new-test-or-feature

#9541 [RFR] automation for test_validate_lookup_button
  cfme/common/vm_views.py
  cfme/fixtures/authentication.py
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/integration/test_ldap_auth.py
Labels: lint-ok, test-automation

#9547 [1LP][RFR] Prevent AttributeError in provider endpoints
  cfme/common/provider.py
  cfme/infrastructure/provider/openstack_infra.py
  cfme/infrastructure/provider/rhevm.py
  cfme/infrastructure/provider/scvmm.py
Labels: rc-regression-fix

#9548 [1LP][RFR] Have to actually return the socket object
  cfme/fixtures/rdb.py
Labels: fix-framework, rc-regression-fix

#9549 [1LP][RFR] Fix fixture scope mismatches
  cfme/tests/candu/test_utilization_metrics.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_provisioning_rest.py
Labels: fix-test, lint-ok, rc-regression-fix

#9551 [RFR] Update automate button group create, add button wait
  cfme/automate/buttons.py
Labels: WIP-testing, fix-test, lint-ok, rc-regression-fix

#9550 [RFR] sprout tasks' fixes
  cfme/cloud/provider/azure.py
  cfme/cloud/provider/ec2.py
  cfme/cloud/provider/gce.py
  cfme/cloud/provider/openstack.py
  cfme/cloud/provider/vcloud.py
  cfme/containers/provider/openshift.py
  cfme/infrastructure/provider/kubevirt.py
  cfme/infrastructure/provider/openstack_infra.py
  cfme/infrastructure/provider/rhevm.py
  cfme/infrastructure/provider/scvmm.py
  cfme/infrastructure/provider/virtualcenter.py
  cfme/networks/provider/nuage.py
  cfme/physical/provider/lenovo.py
  cfme/physical/provider/redfish.py
  cfme/utils/appliance/__init__.py
  cfme/utils/providers.py
  sprout/appliances/models.py
  sprout/appliances/tasks/maintainance.py
  sprout/sprout/settings.py
Labels: fix-framework, infra-related, lint-ok, rc-regression-fix, sprout

#9554 [1LP][RFR] Automate test case for checking that invalid user cannot login
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/integration/test_db_auth.py
Labels: lint-ok, test-automation

#9518 [1LP][RFR] Retry migration plan
  cfme/tests/v2v/test_v2v_cancel_migrations.py
Labels: lint-ok, new-test-or-feature

#9515 [1LP][RFR] Use temp_appliance_preconfig for auth tests
  cfme/fixtures/appliance.py
  cfme/fixtures/authentication.py
  cfme/tests/integration/test_aws_iam_auth_and_roles.py
  cfme/tests/integration/test_cfme_auth.py
  cfme/tests/integration/test_ldap_auth_and_roles.py
Labels: fix-test, lint-ok, tech-debt

#9561 [1LP][RFR] Updating coverage markers
  cfme/tests/cloud/test_snapshot.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
Labels: blockers-only, lint-ok

#9562 [1LP][RFR] Add BZ automates marker to Containers Crud Test
  cfme/tests/containers/test_container_provider_crud.py
Labels: blockers-only, lint-ok

#9563 [RFR] Add qe coverage
  cfme/tests/automate/custom_button/test_buttons.py
  cfme/tests/automate/custom_button/test_rest_custom_button.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_common_methods.py
  cfme/tests/candu/test_utilization_metrics.py
  cfme/tests/services/test_myservice.py
  cfme/tests/services/test_service_performance.py
Labels: ansible, blockers-only, lint-ok

#9481 [1LP][RFR] Move manual Ansible Tower test cases
  cfme/tests/infrastructure/test_config_management.py
  cfme/tests/services/test_tower_manual.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual
