Repository ManageIQ/integration_tests, pull requests merged in 2019-11, with the labels that each got.

#9557 [1LP][RFR] Re-add removed test_db_migrate
  cfme/tests/services/test_service_performance.py
  cfme/tests/test_db_migrate.py
Labels: lint-ok, new-test-or-feature, test-cleanup

#9560 [1LP][RFR] automated BZ 1669011
  cfme/tests/infrastructure/test_host.py
Labels: lint-ok, test-automation

#9564 [1LP][RFR] moved flash msg to test and improved checks
  cfme/automate/buttons.py
  cfme/tests/automate/custom_button/test_buttons.py
Labels: enhancement, lint-ok

#9453 [1LP][RFR] Add test_requirements for jhenner's tests
  cfme/test_requirements.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cli/test_appliance_log_rotate.py
  cfme/tests/cli/test_appliance_update_manual.py
  cfme/tests/cloud_infra_common/test_cloud_init_provisioning.py
  cfme/tests/cloud_infra_common/test_provisioning_manual.py
  cfme/tests/configure/test_proxy.py
  cfme/tests/configure/test_register_appliance.py
  cfme/tests/configure/test_schedule_operations.py
  cfme/tests/configure/test_version.py
  cfme/tests/infrastructure/test_customization_template.py
  cfme/tests/infrastructure/test_host_provisioning.py
  cfme/tests/infrastructure/test_iso_provisioning.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
  cfme/tests/infrastructure/test_pxe.py
  cfme/tests/infrastructure/test_pxe_provisioning.py
  cfme/tests/infrastructure/test_vm_clone.py
  cfme/tests/integration/test_auth_scripts.py
  cfme/tests/platform/test_advanced_config.py
  cfme/tests/platform/test_locale.py
  cfme/tests/services/test_provision_stack.py
  cfme/tests/test_appliance.py
  cfme/tests/test_db_migrate.py
  cfme/tests/test_db_migrate_manual.py
Labels: lint-ok, requirements

#9572 [RFR] Removing rhel_testing marker from test_appliance_update.py
  cfme/tests/cli/test_appliance_update.py
Labels: lint-ok, other

#9571 [RFR] Update test case meta
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_domain_priority.py
  cfme/tests/automate/test_git_import.py
  cfme/tests/automate/test_instance.py
  cfme/tests/automate/test_method.py
  cfme/tests/automate/test_service_dialog.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud/test_snapshot.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/cloud_infra_common/test_provisioning_manual.py
  cfme/tests/cloud_infra_common/test_quota_manual.py
  cfme/tests/cloud_infra_common/test_relationships.py
  cfme/tests/cloud_insights/test_cloud_insights_manual.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/configure/test_config_manual.py
  cfme/tests/configure/test_log_depot_operation_manual.py
  cfme/tests/containers/test_project_quota_historical_data.py
  cfme/tests/distributed/test_appliance_manual.py
  cfme/tests/distributed/test_appliance_replication_manual.py
  cfme/tests/infrastructure/test_scvmm_specific.py
  cfme/tests/infrastructure/test_snapshot.py
  cfme/tests/infrastructure/test_vmware_provider.py
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/intelligence/test_chargeback_manual.py
  cfme/tests/networks/test_sdn_inventory_collection.py
  cfme/tests/networks/test_sdn_security_groups.py
  cfme/tests/pod/test_appliance_crud.py
  cfme/tests/satellite/test_satellite_manual.py
  cfme/tests/test_appliance.py
  cfme/tests/test_manual.py
  cfme/tests/test_server_manual.py
  cfme/tests/webui/test_general_ui_manual.py
  conf/polarion_tools.yaml
Labels: lint-ok, test-cleanup

#9575 [RFR] fixing lost sprout script permissions
  sprout/celery_runner
  sprout/logserver.py
  sprout/manage.py
  sprout/sprout.sh
Labels: infra-related, sprout

#9573 [RFR] Remove duplicated ansible test cases, parametrize with provider
  cfme/tests/ansible/test_embedded_ansible_manual.py
Labels: lint-ok, test-cleanup

#9577 [RFR] [NOTEST] Parametrize the nor/rightsize tests, eliminate duplication
  cfme/tests/candu/test_nor_rightsize.py
Labels: lint-ok, test-cleanup

#9578 [1LP][RFR] Update cfme.container.topology, CEMv3
  cfme/common/__init__.py
  cfme/containers/topology.py
  entry_points.txt
Labels: collections-conversion, lint-ok

#9567 [1LP][RFR] Add stringification function to BaseProvider class
  cfme/common/provider.py
Labels: enhancement, lint-ok

#9582 [WIPTEST] Fix uncollectif for pytest5
  .travis.yml
  cfme/markers/uncollect.py
  cfme/tests/infrastructure/test_config_management.py
Labels: WIP-testing, fix-framework, fix-test, lint-ok

#9531 [1LP][RFR] Updates to test_catalog.py and Remove Flash Assert in Catalog Entity
  cfme/services/catalogs/catalog.py
  cfme/tests/services/test_catalog.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, fix-test, lint-ok

#9530 [1LP][RFR] Automate tests for C&U data rollup in Availability zones
  cfme/tests/candu/test_utilization_metrics.py
Labels: lint-ok, new-test-or-feature

#9519 [1LP][RFR] Automating Replication Test
  cfme/configure/configuration/region_settings.py
  cfme/tests/test_replication.py
Labels: lint-ok, test-automation

#9552 [1LP][RFR] Automate test case for db user in ldap configured appliance
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/integration/test_ldap_auth.py
Labels: lint-ok, test-automation

#9558 [1LP][RFR] Test case for setting up external auth when ntpd is off on IPA server
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/integration/test_external_auth.py
  cfme/utils/appliance/__init__.py
  cfme/utils/auth/__init__.py
Labels: lint-ok, test-automation

#9588 [1LP][RFR][NOTEST]Remove the test_rh_unregistration_ui
  cfme/tests/test_db_migrate_manual.py
Labels: lint-ok

#9587 [NOTEST][1LP][RFR]Remove test_identical_dashboard_widgets
  cfme/tests/intelligence/test_dashboard.py
Labels: lint-ok, test-cleanup

#9586 [NOTEST][1LP][RFR]Remove the test_template_list_of_provider.
  cfme/tests/cloud_infra_common/test_provisioning_manual.py
Labels: lint-ok, test-cleanup

#9565 [1LP][RFR] automated BZ 1726590
  cfme/common/vm_views.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
Labels: lint-ok, new-test-or-feature

#9503 [1LP][RFR] New Test: Testing default values of dialog widgets
  cfme/automate/dialogs/dialog_element.py
  cfme/services/service_catalogs/__init__.py
  cfme/tests/services/test_different_dialogs_in_catalogs.py
Labels: lint-ok, test-automation

#9576 [1LP][RFR] New Test: Checking dialog export flash message on while editing dialog
  cfme/automate/dialog_import_export.py
  cfme/tests/automate/test_service_automate.py
Labels: lint-ok, test-automation

#9592 [RFR] Add BZ Blocker test_appliance_console_scap
  cfme/tests/cli/test_appliance_console.py
Labels: WIP-testing, blockers-only, lint-ok

#9591 [1LP][RFR] Moving candu manual tests
  cfme/tests/candu/test_candu_manual.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#9594 [1LP][RFR] Update meta marker to debug log
  cfme/markers/meta.py
Labels: enhancement, lint-ok

#9534 [1LP][RFR] New Test: Testing automate method called more than expected
  cfme/tests/automate/test_service_dialog.py
  cfme/tests/services/test_different_dialogs_in_catalogs.py
Labels: customer-case, lint-ok, test-automation

#9502 [1LP][RFR] automate test_ec2_tags_image & instance
  cfme/fixtures/vm.py
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/cloud/test_tag_mapping.py
Labels: lint-ok, test-automation

#9593 [1LP][RFR] New Test: Testing retire vm and evm logs
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_service_automate.py
Labels: lint-ok, test-automation

#9584 [1LP][RFR] New Test: Testing expression method with dialog
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, new-test-or-feature, test-automation

#9583 [1LP][RFR] Require uncollect reason
  cfme/markers/stream_excluder.py
  cfme/markers/uncollect.py
  cfme/tests/ansible/test_embedded_ansible_services.py
  cfme/tests/automate/custom_button/test_buttons.py
  cfme/tests/automate/custom_button/test_infra_objects.py
  cfme/tests/automate/custom_button/test_infra_objects_ansible.py
  cfme/tests/automate/custom_button/test_service_objects.py
  cfme/tests/automate/test_file_import.py
  cfme/tests/automate/test_provisioning_dialogs.py
  cfme/tests/candu/test_cluster_graph.py
  cfme/tests/candu/test_vm_graph.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/cli/test_appliance_update.py
  cfme/tests/cli/test_evmserverd.py
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/cloud_infra_common/test_custom_attributes_rest.py
  cfme/tests/cloud_infra_common/test_genealogy.py
  cfme/tests/configure/test_default_views_infra.py
  cfme/tests/configure/test_landing_page.py
  cfme/tests/configure/test_register_appliance.py
  cfme/tests/configure/test_tag.py
  cfme/tests/containers/test_chargeback.py
  cfme/tests/infrastructure/test_config_management.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_host_analysis.py
  cfme/tests/infrastructure/test_individual_host_creds.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  cfme/tests/integration/test_aws_iam_auth_and_roles.py
  cfme/tests/integration/test_cfme_auth.py
  cfme/tests/integration/test_ldap_auth_and_roles.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/networks/test_sdn_downloads.py
  cfme/tests/networks/test_sdn_navigation.py
  cfme/tests/networks/test_tag_tagvis.py
  cfme/tests/storage/test_manager.py
  cfme/tests/test_appliance.py
  cfme/tests/test_db_migrate.py
  cfme/tests/test_login.py
  cfme/tests/test_rest.py
  cfme/tests/webui/test_advanced_search.py
Labels: enhancement, lint-ok

#9569 [RFR] Update assignee in Polarian doc block for snapshot tests
  cfme/test_requirements.py
  cfme/tests/infrastructure/test_snapshot.py
Labels: lint-ok, test-cleanup

#9459 [1LP][RFR] BZ build report
  cfme/scripting/bz.py
  cfme/tests/test_modules_importable.py
  data/bugzilla-queries/fixed_in_query.yaml
  requirements/frozen.txt
  requirements/template_scanned_imports.txt
Labels: enhancement, lint-ok

#9472 [1LP][RFR] Add test_infrastructure_hosts_crud to test_host.py to cover BZ1634794
  cfme/tests/infrastructure/test_host.py
Labels: enhancement, lint-ok, new-test-or-feature

#9516 [1LP][RFR] Automate tenant switching of LDAP user
  cfme/configure/access_control/__init__.py
  cfme/fixtures/authentication.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/integration/test_cfme_auth.py
Labels: lint-ok, test-automation

#9598 [RFR] fix sprout client
  cfme/scripting/bz.py
Labels: fix-framework, lint-ok, rc-regression-fix

#9601 [RFR] Fix uncollect for test_login_retrieve_group
  cfme/tests/integration/test_cfme_auth.py
Labels: lint-ok, rc-regression-fix

#9603 [RFR] fixed one more place where current_version is evaluated too early
  cfme/scripting/bz.py
Labels: fix-framework, rc-regression-fix

#9479 [1LP][RFR] Report sort column
  cfme/intelligence/reports/reports.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  widgetastic_manageiq/__init__.py
Labels: lint-ok, test-automation

#9195 [1LP][RFR] Automating RFE for open url general objects
  cfme/tests/automate/custom_button/test_generic_objects.py
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: lint-ok, new-test-or-feature

#9599 [RFR] Add function scoped ansible cat item fixture
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: fix-test, lint-ok, rc-regression-fix

#9580 [1LP][WIPTEST] Allow dummy appliances to be used with the parallelizer
  cfme/fixtures/parallelizer/remote.py
  cfme/test_framework/appliance.py
  cfme/utils/appliance/__init__.py
Labels: WIP-testing, enhancement, lint-ok

#9615 [RFR] Update Sprout Appliances Context Manager to Handle Unconfigured Appl
  cfme/fixtures/appliance.py
Labels: 1LP, fix-framework, lint-ok

#9608 [1LP][RFR] two test cases based on customer BZs
  cfme/tests/cloud_infra_common/test_snapshots.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis_manual.py
Labels: customer-case, lint-ok, manual

#9605 [RFR] Add evmserverd restart so that NTP properly syncs
  cfme/fixtures/authentication.py
  cfme/tests/integration/test_cfme_auth.py
  cfme/utils/appliance/__init__.py
Labels: fix-test, lint-ok

#9383 [1LP][RFR]Adding reboot to the test steps
  cfme/tests/cli/test_appliance_console.py
Labels: 1LP, lint-ok

#9611 [1LP][RFR] Small formatting updates to release script
  cfme/utils/release.py
Labels: 1LP, lint-ok, other

#9607 [1LP][RFR] one vsphere only
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: 1LP, RFR, lint-ok, test-cleanup

#9628 [1LP][RFR] Fixed zone failing test.
  cfme/base/__init__.py
Labels: fix-test, lint-ok

#9624 [1LP][RFR] Remove Red Hat Cloud tab from role_access
  cfme/roles.py
Labels: fix-test, lint-ok

#9630 [1LP][RFR] Fix test_login_retrieve_group
  cfme/tests/integration/test_cfme_auth.py
Labels: fix-test, lint-ok

#9619 [1LP][RFR] Fix request remove
  cfme/services/requests.py
Labels: 1LP, RFR, fix-framework, lint-ok

#9313 [1LP][RFR] New Test: Test vm with quota for disk removal
  cfme/tests/cloud_infra_common/test_quota_manual.py
  cfme/tests/infrastructure/test_tenant_quota.py
Labels: 1LP, lint-ok, test-automation

#9449 [1LP][RFR]test_sdn_nsg_firewall_rules fix
  cfme/tests/networks/test_sdn_inventory_collection.py
Labels: 1LP, fix-test, lint-ok

#9566 [1LP][RFR] Fix restore tests part one
  cfme/exceptions.py
  cfme/fixtures/appliance.py
  cfme/fixtures/cli.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cli/test_appliance_update.py
  cfme/tests/test_db_migrate_manual.py
  cfme/utils/appliance/__init__.py
  cfme/utils/ssh_expect.py
Labels: fix-test, lint-ok, tech-debt

#9614 [1LP][RFR] Passed template name as string instead of function
  cfme/fixtures/templates.py
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_migration_throttling.py
  cfme/tests/v2v/test_v2v_ansible.py
  cfme/tests/v2v/test_v2v_cancel_migrations.py
  cfme/tests/v2v/test_v2v_migrations.py
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/tests/v2v/test_v2v_smoke.py
Labels: enhancement, fix-test, lint-ok

#9609 [1LP][RFR] Automate lang check test
  cfme/tests/ssui/test_ssui_myservice.py
Labels: RFR, lint-ok, test-automation

#9626 [1LP][RFR] separate dialog and datastores
  cfme/fixtures/service_fixtures.py
Labels: fix-framework, lint-ok

#9618 [1LP][RFR] New Test: Test copy button on simulation page
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_simulation.py
Labels: lint-ok, test-automation

#9634 [RFR] fix wrong assert
  cfme/tests/infrastructure/test_provisioning_rest.py
Labels: fix-test, lint-ok

#9602 [RFR][1LP] Add ensure_checked() and ensure_unchecked() functions to JSBaseEntity.
  cfme/tests/infrastructure/test_host.py
  widgetastic_manageiq/__init__.py
Labels: 1LP, enhancement, lint-ok

#9633 [1LP][RFR] fixing wrong markers
  cfme/tests/containers/test_chargeback.py
  cfme/tests/containers/test_reports.py
Labels: lint-ok, requirements

#9635 [1LP][RFR] Fixing the type error
  cfme/fixtures/v2v_fixtures.py
Labels: fix-test, lint-ok

#9637 [1LP][RFR] Removed already automated tests.
  cfme/tests/cloud_infra_common/test_vm_instance_analysis_manual.py
Labels: fix-locator-or-text, lint-ok

#9600 [1LP][RFR] automate: test_tagvis_storage_managers
  cfme/storage/manager.py
  cfme/tests/cloud_infra_common/test_tag_objects.py
Labels: 1LP, lint-ok, test-automation

#9604 [1LP][RFR] Manual test cleanup and qe-test-coverage test cases
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/test_rest_manual.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: lint-ok, manual, test-cleanup

#9617 [1LP][RFR] Adding a new test to refresh ssui browser page
  cfme/tests/ssui/test_ssui_service_catalogs.py
Labels: 1LP, lint-ok, test-automation

#9606 [1LP][RFR] Adding new test of service retire manual approval
  cfme/services/myservice/ui.py
  cfme/tests/services/test_service_manual_approval.py
Labels: lint-ok, new-test-or-feature

#9640 [RFR] disabling some annoying warnings
  pytest.ini
  pytest.ini.template
Labels: lint-ok, other

#9616 [1LP][RFR] New Test: Test tag delete using automate method
  cfme/tests/automate/__init__.py
  cfme/tests/automate/test_method.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
Labels: lint-ok, test-automation

#9638 [RFR] no more merkyl. use LogValidator instead
  artifactor/__main__.py
  artifactor/plugins/merkyl.py
  cfme/fixtures/artifactor_plugin.py
  cfme/fixtures/base.py
  cfme/fixtures/merkyl.py
  cfme/fixtures/networks.py
  cfme/utils/appliance/__init__.py
  conftest.py
  data/bundles/merkyl/LICENSE
  data/bundles/merkyl/LICENSE-bottle
  data/bundles/merkyl/__init__.py
  data/bundles/merkyl/allowed.files
  data/bundles/merkyl/bottle.py.dontflake
  data/bundles/merkyl/merkyl
  data/bundles/merkyl/merkyl.tpl
  scripts/merkyl_deploy.py
Labels: lint-ok, test-cleanup

#9632 [1LP][RFR] Extract ApplianceConsole and fixtures cli methods into cfme.utils.appliance.console
  cfme/fixtures/cli.py
  cfme/tests/cli/test_appliance_cli.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/console.py
Labels: enhancement, lint-ok

#9590 [1LP][WIPTEST] Fix zone tests
  cfme/base/__init__.py
  cfme/tests/configure/test_zones.py
Labels: WIP-testing, fix-test, lint-ok

#9484 [1LP][RFR] Automated BZ1656308, Add Ansible repository in another zone.
  cfme/tests/ansible/test_embedded_ansible_basic.py
  cfme/tests/ansible/test_embedded_ansible_manual.py
Labels: lint-ok, test-automation

#9579 [1LP][RFR] V2V conversion host ui
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_conversion_host_ui.py
  cfme/v2v/migration_settings.py
  widgetastic_manageiq/__init__.py
Labels: 1LP, lint-ok, new-test-or-feature

#9570 [1LP][RFR] automate: test_tagvis_cloud_host_aggregates
  cfme/cloud/host_aggregates.py
  cfme/tests/cloud_infra_common/test_tag_objects.py
Labels: enhancement, lint-ok, test-automation

#9574 [1LP][RFR] Multitenancy user crud as tenant admin
  cfme/tests/configure/test_access_control.py
Labels: lint-ok, test-automation

#9642 [RFR] Refactoring: delete copypasta in test_embedded_ansible_tags
  cfme/tests/ansible/test_embedded_ansible_tags.py
Labels: lint-ok, test-cleanup

#9644 [1LP][RFR] removing override=True on provider markers
  cfme/tests/automate/test_common_methods.py
  cfme/tests/candu/test_utilization_metrics.py
  cfme/tests/cloud/test_instance_reconfigure.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud/test_tag_mapping.py
  cfme/tests/cloud_infra_common/test_power_control_rest.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/cloud_infra_common/test_retirement.py
  cfme/tests/cloud_infra_common/test_snapshots_rest.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_providers.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
  cfme/tests/infrastructure/test_provisioning_rest.py
  cfme/tests/infrastructure/test_snapshot.py
  cfme/tests/infrastructure/test_tenant_quota.py
  cfme/tests/infrastructure/test_vm_clone.py
  cfme/tests/infrastructure/test_vm_rest.py
  cfme/tests/infrastructure/test_vmware_provider.py
  cfme/tests/integration/test_ldap_auth.py
  cfme/tests/intelligence/reports/test_metering_report.py
  cfme/tests/intelligence/reports/test_validate_chargeback_report.py
  cfme/tests/networks/test_sdn_security_groups.py
  cfme/tests/openstack/cloud/test_instances.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_provision_stack.py
  cfme/tests/test_rest.py
  cfme/tests/v2v/test_csv_import.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
Labels: lint-ok, tech-debt

#9639 [1LP][RFR] No more session fixtures
  cfme/fixtures/base.py
  cfme/fixtures/browser.py
  cfme/fixtures/cfme_data.py
  cfme/fixtures/tag.py
  cfme/fixtures/widgets.py
  cfme/tests/configure/test_server_roles.py
  cfme/tests/test_modules_importable.py
  cfme/utils/appliance/__init__.py
  cfme/utils/tests/test_ipappliance.py
  cfme/utils/tests/test_simple_locators.py
  conftest.py
Labels: enhancement, lint-ok

#9647 [RFR] Update Rest API Calls to find_by() instead of get() for Container Images
  cfme/containers/image.py
Labels: fix-test, lint-ok

#9620 [1LP][RFR] Service retired
  cfme/fixtures/service_fixtures.py
  cfme/services/myservice/__init__.py
  cfme/services/myservice/ssui.py
  cfme/services/myservice/ui.py
  cfme/services/service_catalogs/ssui.py
  cfme/tests/automate/custom_button/test_service_objects.py
  cfme/tests/ssui/test_ssui_myservice.py
Labels: enhancement, lint-ok, test-automation

#9650 [RFR] Fixed failure for flash
  cfme/tests/v2v/test_v2v_ansible.py
  cfme/v2v/migration_plans.py
Labels: fix-test, lint-ok

#9653 [RFR] Fix Smoke tests
  cfme/tests/v2v/test_v2v_smoke.py
Labels: fix-test, lint-ok

#9656 [1LP][RFR] pining wait_for to 1.1.1 parsedatetime problem
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: lint-ok, other

#9654 [1LP][RFR] Polarion test cases cleanup
  cfme/tests/services/test_different_dialogs_in_catalogs.py
  cfme/tests/services/test_dynamicdd_dialogelement.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual, test-cleanup

#9651 [1LP][RFR] fixed calls for removed session fixtures
  cfme/fixtures/authentication.py
  cfme/tests/test_login.py
Labels: fix-test, lint-ok

#9657 [1LP][RFR] smtp server doesn't accept emails from not internal domain
  cfme/fixtures/rdb.py
Labels: fix-framework, lint-ok

#9527 [1LP][RFR] automated test_log_collection_over_ipv6
  cfme/fixtures/depot.py
  cfme/tests/configure/test_log_depot_operation.py
  cfme/tests/configure/test_log_depot_operation_manual.py
  cfme/utils/net.py
Labels: lint-ok, test-automation

#9649 [1LP][RFR] Adding new test of service dialog dynamic textbox
  cfme/tests/services/test_dynamicdd_dialogelement.py
Labels: lint-ok, test-automation

#9652 [RFR] Fixed network failure for OSP
  cfme/fixtures/v2v_fixtures.py
Labels: fix-test, lint-ok

#9610 [1LP][RFR] Fix fixture call pattern in test_snapshots_rest
  cfme/tests/cloud_infra_common/test_snapshots_rest.py
Labels: fix-test, lint-ok

#9659 [1LP][RFR] Shorten default provider create_rest validate timeout
  cfme/common/provider.py
Labels: enhancement, lint-ok

#9661 [1LP][RFR] Add IPAppliance.configured property, check in websocket hook
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/db.py
Labels: fix-framework, issue-bug, lint-ok

#9655 [1LP][RFR] SSUI page provider check tests
  cfme/services/myservice/ssui.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  widgetastic_manageiq/__init__.py
Labels: fix-locator-or-text, lint-ok, test-automation

#9507 [1LP][RFR] Add test_infrastructure_hosts_navigation_after_download_from_compare to test_host.py
  cfme/tests/infrastructure/test_host.py
  cfme/utils/appliance/constants.py
Labels: lint-ok, new-test-or-feature

#9643 [1LP][RFR] Update authentication for bz util, add clone coverage
  cfme/scripting/bz.py
  cfme/utils/bz.py
Labels: enhancement, lint-ok

#9658 [1LP][WIPTEST] Automated Test Case for BZ 1732442
  cfme/tests/containers/test_container_provider_refresh.py
Labels: WIP-testing, customer-case, lint-ok, new-test-or-feature

#9665 [1LP][RFR] Fixed datastore import
  cfme/tests/automate/test_file_import.py
Labels: fix-locator-or-text, lint-ok

#9671 [1LP][RFR] fix scope for tests where provider has module scope whereas setup_provider has function scope
  cfme/tests/candu/test_gap_collection.py
  cfme/tests/cloud/test_cloud_events.py
  cfme/tests/cloud/test_delete_cloud_object.py
  cfme/tests/cloud/test_keypairs.py
  cfme/tests/cloud/test_quota_tagging.py
  cfme/tests/cloud/test_tenant_quota.py
  cfme/tests/configure/test_logs.py
  cfme/tests/configure/test_schedule_operations.py
  cfme/tests/infrastructure/test_project_quota.py
  cfme/tests/infrastructure/test_provisioning_rest.py
  cfme/tests/infrastructure/test_quota_tagging.py
  cfme/tests/infrastructure/test_vmware_provider.py
  cfme/tests/infrastructure/test_webmks_console.py
  cfme/tests/intelligence/chargeback/test_chargeback_long_term_rates.py
  cfme/tests/intelligence/chargeback/test_resource_allocation.py
  cfme/tests/intelligence/reports/test_canned_corresponds.py
  cfme/tests/intelligence/reports/test_generate_report.py
  cfme/tests/intelligence/reports/test_views.py
  cfme/tests/networks/test_sdn_balancers.py
  cfme/tests/networks/test_tag_tagvis.py
  cfme/tests/services/test_add_remove_vm_to_service.py
  cfme/tests/services/test_operations.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/services/test_service_customer_bz.py
  cfme/tests/services/test_service_manual_approval.py
  cfme/tests/services/test_service_rbac.py
  cfme/tests/storage/test_manager.py
  cfme/tests/storage/test_object_store_container.py
  cfme/tests/storage/test_object_store_object.py
  cfme/tests/storage/test_volume.py
  cfme/tests/storage/test_volume_backup.py
  cfme/tests/storage/test_volume_snapshot.py
Labels: fix-test, lint-ok, rc-regression-fix

#9670 [1LP][RFR] Add required flags for test_cloud_timelines.py
  cfme/tests/cloud/test_cloud_events.py
  cfme/tests/cloud/test_cloud_timelines.py
  cfme/tests/cloud_infra_common/test_events.py
Labels: fix-test, lint-ok, rc-regression-fix

#9674 [1LP][RFR] Change from_provider to use get_mgmt instead of get_crud
  cfme/utils/appliance/__init__.py
  scripts/clone_template.py
  sprout/appliances/tasks/template.py
Labels: lint-ok, rc-regression-fix

#9675 [RFR] Add exception diaper to appliance hooks, reduce ssh wait time
  cfme/utils/appliance/__init__.py
Labels: fix-framework, lint-ok, rc-regression-fix

#9672 [RFR] Fix test_login_local_group tests
  cfme/tests/integration/test_cfme_auth.py
Labels: fix-test, lint-ok, rc-regression-fix

#9677 [1LP][RFR] fixed log collection from second server
  cfme/configure/configuration/diagnostics_settings.py
Labels: lint-ok, rc-regression-fix

#9676 [1LP][RFR] fix slave id representation in logs
  cfme/fixtures/parallelizer/__init__.py
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: fix-framework, lint-ok, rc-regression-fix

#9666 [1LP][RFR] New Test: Testing domain import via git from different branch than master
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_git_import.py
Labels: lint-ok, new-test-or-feature

#9685 [RFR]Cleanup manual tests that are no longer relevant or already automated
  cfme/tests/cloud/test_cloud_manual.py
  cfme/tests/infrastructure/test_infra_manual.py
  cfme/tests/webui/test_general_ui.py
Labels: lint-ok, test-cleanup

#9683 [1LP][RFR] fixing error in artifactor shutdown appearing due to changes in selenium
  cfme/fixtures/artifactor_plugin.py
Labels: fix-framework, lint-ok

#9679 [1LP][RFR] Adding user service dialog crud test
  cfme/tests/automate/test_service_dialog.py
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, new-test-or-feature

#9597 [1LP][RFR] New Replication Automation tests
  cfme/configure/configuration/region_settings.py
  cfme/tests/test_replication.py
Labels: enhancement, lint-ok, test-automation

#9681 [1LP][RFR] Adding dialog load value init test
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9687 [1LP][RFR] fix sprout's huge custom_data issue
  sprout/appliances/models.py
  sprout/appliances/tasks/template.py
Labels: infra-related, lint-ok, sprout

#9622 [1LP][RFR] New Test: Test values populated from dynamic dialog
  cfme/tests/automate/custom_button/__init__.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_service_dialog.py
Labels: lint-ok, test-automation

#9698 [1LP][RFR][NOTEST] change caseimportance of some tests
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud_infra_common/test_tag_visibility.py
  cfme/tests/configure/test_log_depot_operation.py
  cfme/tests/infrastructure/test_iso_datastore.py
  cfme/tests/infrastructure/test_publish_vm_to_template.py
  cfme/tests/webui/test_advanced_search.py
Labels: lint-ok, manual

#9545 [1LP][RFR] Add model pages and tests for Overview > Optimization
  cfme/intelligence/optimization.py
  cfme/tests/intelligence/test_optimization.py
  entry_points.txt
Labels: collections-conversion, lint-ok, new-test-or-feature

#9697 [1LP][RFR][NOTEST]Make some jhenner's high importance tests critical.
  cfme/tests/cli/test_appliance_update.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/configure/test_schedule_operations.py
  cfme/tests/intelligence/reports/test_crud.py
  cfme/tests/intelligence/test_dashboard.py
Labels: lint-ok, manual
