Repository ManageIQ/integration_tests, pull requests merged in 2019-01, with the labels that each got.

#8328 [1LP][RFR] Apply multi-conversion host setup to every rhv host
  cfme/fixtures/v2v.py
  cfme/tests/v2v/test_v2v_migrations.py
Labels: fix-test

#8310 [1LP][RFR] fix sync_provider_hw task
  sprout/appliances/tasks.py
Labels: infra-related, issue-bug, sprout

#8321 [1LP][RFR]Adding a new dialog element entry point mandatory test
  cfme/tests/automate/test_service_dialog.py
Labels: new-test-or-feature

#8305 [1LP][RFR] Refactor cleanup_old_vms
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
  scripts/cleanup_old_vms.py
Labels: enhancement, infra-related

#8271 [RFR] Adds config for polarion docstrings flake8 plugin
  conf/polarion_tools.yaml
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
Labels: enhancement, manual

#8325 [1LP][RFR] adding teardown to rbac tests
  cfme/configure/access_control/__init__.py
  cfme/tests/services/test_service_rbac.py
Labels: fix-test

#8324 [1LP][RFR] fix ansible tests against pod appliance
  cfme/automate/explorer/method.py
  cfme/tests/ansible/test_embedded_ansible_crud.py
  cfme/utils/appliance/__init__.py
Labels: fix-framework

#8311 [1LP][RFR] added workaround for temporary pod appliances
  cfme/tests/pod/test_appliance_crud.py
Labels: fix-test

#8333 [1LP][RFR] Move all yaml.load calls to yaml.safe_load
  cfme/fixtures/events.py
  cfme/fixtures/nelson.py
  cfme/fixtures/ui_coverage.py
  cfme/scripting/sprout.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/cloud/test_cloud_events.py
  cfme/tests/control/test_default_alerts.py
  cfme/tests/intelligence/reports/test_crud.py
  cfme/tests/intelligence/reports/test_menus.py
  cfme/tests/intelligence/reports/test_reports_schedules.py
  cfme/utils/appliance/__init__.py
  scripts/matrix.py
  sprout/appliances/migrations/0043_provider_provider_type.py
  sprout/appliances/models.py
Labels: other, tech-debt

#8314 [1LP][RFR] Fix config management test
  cfme/infrastructure/config_management.py
Labels: fix-framework

#8312 [1LP][RFR] fixing datastore analysis tests
  cfme/tests/infrastructure/test_datastore_analysis.py
Labels: fix-test

#8318 [NOTEST][RFR] some useful pod db/restore test fixes
  cfme/tests/pod/test_appliance_crud.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
Labels: fix-test

#8313 [1LP][RFR] fix test_modify_condition_expression_test
  widgetastic_manageiq/expression_editor.py
Labels: fix-framework

#8339 [RFR] Add flake8 to Req file and Fix Doc String
  cfme/tests/automate/custom_button/test_buttons.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
Labels: fix-test, issue-bug

#8236 [RFR] Testing Redfish physical server detail page's buttons
  cfme/tests/physical_infrastructure/test_redfish_physical_server_details.py
Labels: Redfish, new-test-or-feature

#8330 [1LP][RFR] Adding a new test to test required dialog element in ssui order page
  cfme/tests/ssui/test_ssui_service_dialog.py
Labels: new-test-or-feature

#7869 [1LP][RFR] Adding test cases for project and child quota for cloud providers
  cfme/common/vm.py
  cfme/tests/cloud/test_quota.py
Labels: lint-ok, new-test-or-feature

#8282 [1LP][RFR] CB: display on test
  cfme/automate/buttons.py
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: new-test-or-feature

#8281 [1LP][RFR] Fix failing rest test cases and add blockers
  cfme/rest/gen_data.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/configure/test_rest_access_control.py
  cfme/tests/configure/test_tag.py
  cfme/tests/configure/test_tag_category.py
  cfme/tests/control/test_rest_control.py
  cfme/tests/infrastructure/test_rest_automation_request.py
  cfme/tests/infrastructure/test_rest_templates.py
  cfme/tests/infrastructure/test_vm_ownership.py
  cfme/tests/infrastructure/test_vm_rest.py
  cfme/tests/infrastructure/test_vm_retirement_rest.py
  cfme/tests/intelligence/test_chargeback.py
  cfme/tests/services/test_generic_service_catalogs.py
  cfme/tests/services/test_rest_services.py
  cfme/tests/test_rest.py
Labels: fix-test

#8353 [WIPTEST] Move log depot manual files to separate module
  cfme/tests/configure/test_log_depot_operation.py
  cfme/tests/configure/test_log_depot_operation_manual.py
Labels: fix-test

#8347 [1LP][RFR] jdupuy remove timeline event manual cases from test_manual.py
  cfme/tests/intelligence/test_reports_with_timelines.py
  cfme/tests/test_manual.py
Labels: manual

#8345 [1LP][RFR] fixed power_operations for test_service_start (ssui)
  cfme/services/myservice/ssui.py
Labels: fix-locator-or-text

#8344 [1LP][RFR] updated BZ for templates power control and assertion for template grid
  cfme/tests/infrastructure/test_vm_power_control.py
Labels: blockers-only

#8340 [1LP][RFR] Uncollect Host Provisioning dialog test in 5.10
  cfme/tests/automate/test_provisioning_dialogs.py
Labels: fix-test

#8341 [1LP][RFR] Add a new test to create policy with invalid data
  cfme/tests/control/test_rest_control.py
  conf/polarion_tools.yaml
Labels: new-test-or-feature

#8335 [RFR] Add blocker to test_service_query_attributes
  cfme/tests/infrastructure/test_vm_rest.py
  cfme/tests/services/test_rest_services.py
  cfme/utils/rest.py
Labels: blockers-only

#8295 [RFR] Fix VM reconfigure disk related things
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  widgetastic_manageiq/vm_reconfigure.py
Labels: fix-test, issue-bug

#8299 [RFR] Containers: New test case for Blacklisting Container Events
  cfme/tests/containers/test_blacklisted_container_events.py
Labels: new-test-or-feature

#8343 [1LP][RFR] Fixed is_displayed of NewAlertView
  cfme/control/explorer/alerts.py
Labels: fix-framework

#8349 [RFR] Fix condition modify by adding a time.sleep(1) to get around BZ's 1664852 and 1664886
  cfme/control/explorer/conditions.py
  widgetastic_manageiq/expression_editor.py
Labels: blockers-only

#8357 [WIPTEST] CB: block dialog test for 5.9 as not backported
  cfme/tests/automate/custom_button/test_infra_objects.py
Labels: blockers-only

#8351 [RFR] Add fix to delete vm templates created during rest tests
  cfme/tests/infrastructure/test_rest_templates.py
Labels: fix-test

#8356 [1LP][RFR] new test_host_refresh_relationships
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: new-test-or-feature

#8338 [1LP][RFR] Add in a view for the Monitor->Alerts->Overview page
  cfme/control/explorer/alerts.py
  cfme/tests/control/test_basic.py
  cfme/tests/control/test_bugs.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, new-test-or-feature

#8355 [1LP][RFR] Fix test retire service ssui
  cfme/services/myservice/ssui.py
Labels: fix-test

#8350 [RFR] Button model [bug + refactor + blackify]
  cfme/automate/buttons.py
Labels: blackify, fix-framework

#8361 [RFR] added shortcut for create_view() and wait_displayed()
  cfme/automate/dialogs/dialog_element.py
  cfme/automate/explorer/klass.py
  cfme/automate/explorer/method.py
  cfme/automate/import_export.py
  cfme/automate/provisioning_dialogs.py
  cfme/common/provider.py
  cfme/common/vm.py
  cfme/configure/access_control/__init__.py
  cfme/control/explorer/actions.py
  cfme/control/explorer/alerts.py
  cfme/control/explorer/conditions.py
  cfme/control/explorer/policies.py
  cfme/control/explorer/policy_profiles.py
  cfme/generic_objects/definition/ui.py
  cfme/intelligence/reports/schedules.py
  cfme/services/catalogs/catalog.py
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/services/catalogs/catalog_items/catalog_bundles.py
  cfme/services/catalogs/orchestration_template.py
  cfme/services/dashboard/ssui.py
  cfme/services/myservice/ssui.py
  cfme/services/myservice/ui.py
  cfme/tests/ansible/test_embedded_ansible_services.py
  cfme/tests/automate/custom_button/test_buttons.py
  cfme/tests/automate/custom_button/test_cloud_objects.py
  cfme/tests/automate/custom_button/test_container_objects.py
  cfme/tests/automate/custom_button/test_generic_objects.py
  cfme/tests/automate/custom_button/test_infra_objects.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/configure/test_analysis_profiles.py
  cfme/tests/configure/test_visual_cloud.py
  cfme/tests/intelligence/test_chargeback.py
  cfme/tests/services/test_catalog_item.py
  cfme/tests/storage/test_volume_snapshot.py
  cfme/tests/v2v/test_v2v_cancel_migrations.py
  cfme/tests/v2v/test_v2v_migrations.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/implementations/__init__.py
  cfme/utils/appliance/implementations/ssui.py
  cfme/utils/appliance/implementations/ui.py
Labels: enhancement, other

#8364 [RFR] replace yaml.dump()->yaml.safe_dump()
  cfme/fixtures/nelson.py
  cfme/fixtures/node_annotate.py
  cfme/scripting/sprout.py
  cfme/utils/ansible.py
  cfme/utils/appliance/__init__.py
  cfme/utils/smem_memory_monitor.py
  sprout/appliances/models.py
Labels: fix-framework

#8354 [RFR] removing keep_alive = False workaround
  cfme/utils/browser.py
Labels: fix-framework

#8360 [1LP][RFR] Fix test service/ssui ansible
  cfme/fixtures/ansible_fixtures.py
  cfme/fixtures/cli.py
Labels: fix-test

#8348 [1LP]RFR] Add new tests Service Dialog Elements with regex validation in catalog item
  cfme/automate/dialogs/dialog_element.py
  cfme/tests/services/test_dialog_regex_validation_in_catalog.py
Labels: new-test-or-feature

#8336 [1LP][RFR] CB: Visibility/Enablement service
  cfme/automate/buttons.py
  cfme/services/myservice/ui.py
  cfme/tests/automate/custom_button/__init__.py
  cfme/tests/automate/custom_button/test_service_objects.py
  cfme/tests/test_manual.py
Labels: enhancement, new-test-or-feature

#8362 [RFR] Fix startsin in test_upgrade_dedicated_db_migration_local
  cfme/tests/test_db_migrate_manual.py
Labels: blockers-only

#8268 [RFR][NOTEST] Manual tests cleanup
  cfme/tests/ansible/test_embedded_ansible_rest.py
  cfme/tests/cloud/test_cloud_manual.py
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud_infra_common/test_custom_attributes_rest.py
  cfme/tests/cloud_infra_common/test_power_control_rest.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/cloud_infra_common/test_rest_providers.py
  cfme/tests/cloud_infra_common/test_snapshots_rest.py
  cfme/tests/configure/test_config_manual.py
  cfme/tests/configure/test_default_filters.py
  cfme/tests/configure/test_default_views_cloud.py
  cfme/tests/configure/test_default_views_infra.py
  cfme/tests/configure/test_rest_access_control.py
  cfme/tests/configure/test_session_timeout.py
  cfme/tests/configure/test_tag.py
  cfme/tests/configure/test_tag_category.py
  cfme/tests/configure/test_timeprofile.py
  cfme/tests/configure/test_visual_cloud.py
  cfme/tests/configure/test_visual_infra.py
  cfme/tests/control/test_rest_control.py
  cfme/tests/infrastructure/test_config_management_rest.py
  cfme/tests/infrastructure/test_infra_manual.py
  cfme/tests/infrastructure/test_providers.py
  cfme/tests/infrastructure/test_provisioning_rest.py
  cfme/tests/infrastructure/test_rest_automation_request.py
  cfme/tests/infrastructure/test_rest_templates.py
  cfme/tests/infrastructure/test_system_image_type.py
  cfme/tests/infrastructure/test_vm_ownership.py
  cfme/tests/infrastructure/test_vm_rest.py
  cfme/tests/infrastructure/test_vm_retirement_rest.py
  cfme/tests/intelligence/reports/test_canned_corresponds.py
  cfme/tests/intelligence/reports/test_crud.py
  cfme/tests/intelligence/reports/test_generate_report.py
  cfme/tests/intelligence/reports/test_menus.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/intelligence/reports/test_reports_schedules.py
  cfme/tests/intelligence/reports/test_tenant_quota_reports.py
  cfme/tests/intelligence/reports/test_views.py
  cfme/tests/intelligence/test_download_report.py
  cfme/tests/perf/workloads/test_provisioning.py
  cfme/tests/services/test_rest_services.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/test_manual.py
  cfme/tests/test_rest.py
  cfme/tests/test_rest_manual.py
  cfme/tests/webui/test_general_ui.py
Labels: manual

#8359 [1LP][RFR]Add blocker to tests provisioning vsphere65 VM via REST
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/infrastructure/test_provisioning_rest.py
Labels: blockers-only, lint-ok

#7349 [1LP][RFR] external database template upload
  cfme/utils/template/rhopenshift.py
Labels: infra-related, lint-ok

#8386 [NOTEST] added custom_button casecomponent
  conf/polarion_tools.yaml
Labels: fix-locator-or-text, lint-ok

#8384 [RFR] is_displayed for Search
  widgetastic_manageiq/__init__.py
Labels: fix-framework, issue-bug, lint-ok

#8388 [RFR] sprout doesn't allow to request exact number of appliances according to quota
  sprout/appliances/models.py
Labels: lint-ok, sprout

#8377 [1LP][RFR] Auth: add logout after evm restart
  cfme/fixtures/authentication.py
Labels: fix-test, lint-ok

#8380 [1LP][RFR] Fix assignee of test_download_lists_base
  cfme/tests/networks/test_sdn_downloads.py
Labels: lint-ok, manual

#8363 [1LP][RFR] Manual Custom button
  cfme/tests/automate/custom_button/test_buttons.py
  cfme/tests/automate/custom_button/test_cloud_objects.py
  cfme/tests/automate/custom_button/test_container_objects.py
  cfme/tests/automate/custom_button/test_generic_objects.py
  cfme/tests/automate/custom_button/test_import_export.py
  cfme/tests/automate/custom_button/test_infra_objects.py
  cfme/tests/automate/custom_button/test_rest.py
  cfme/tests/automate/custom_button/test_service_objects.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#8367 [1LP][WIP] CB: Expression fix
  cfme/automate/buttons.py
  cfme/tests/automate/custom_button/test_cloud_objects.py
  cfme/tests/automate/custom_button/test_container_objects.py
  cfme/tests/automate/custom_button/test_generic_objects.py
  cfme/tests/automate/custom_button/test_infra_objects.py
  cfme/tests/automate/custom_button/test_service_objects.py
Labels: fix-framework, lint-ok

#7903 [1LP][RFR] Quota Test For Cloud: Testing tenant quota via UI and SSUI
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/cloud/test_tenant_quota.py
Labels: lint-ok, new-test-or-feature

#8396 [1LP][RFR]Fix conversion host rails command
  cfme/fixtures/v2v.py
  cfme/tests/v2v/test_csv_import.py
  cfme/tests/v2v/test_post_migrations.py
  cfme/tests/v2v/test_v2v_ansible.py
  cfme/tests/v2v/test_v2v_cancel_migrations.py
  cfme/tests/v2v/test_v2v_migrations.py
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/tests/v2v/test_v2v_schedule_migrations.py
  widgetastic_manageiq/__init__.py
Labels: fix-framework, fix-test, lint-ok

#8379 [1LP][RFR] _select template for all pages
  cfme/common/vm_views.py
Labels: fix-framework, lint-ok

#8370 [1LP][RFR] Update conditions to use wait keyword for create_view
  cfme/control/explorer/conditions.py
  widgetastic_manageiq/expression_editor.py
Labels: fix-framework, lint-ok

#8392 [1LP][RFR] Disk modes cannot be specified when adding disk to VM in RHV provider
  cfme/infrastructure/virtual_machines.py
Labels: fix-framework, lint-ok

#8378 [1LP][RFR] CB events infra object and Mixing
  cfme/common/__init__.py
  cfme/common/provider.py
  cfme/common/vm.py
  cfme/infrastructure/cluster.py
  cfme/infrastructure/datastore.py
  cfme/infrastructure/host.py
  cfme/tests/automate/custom_button/test_infra_objects.py
Labels: lint-ok, new-test-or-feature

#8402 [1LP][RFR] long live extdb templates
  scripts/sync_template_tracker.py
Labels: enhancement, lint-ok

#8394 [1LP][RFR] workaround for server name in 5.10
  cfme/base/ui.py
  cfme/configure/configuration/diagnostics_settings.py
  cfme/configure/configuration/server_settings.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
  requirements/frozen_docs.py2.txt
  requirements/frozen_docs.py3.txt
Labels: fix-framework, lint-ok

#8368 [1LP][RFR] Add in a CloudIntelTimelines View and automate manual test cases
  cfme/base/ui.py
  cfme/intelligence/reports/reports.py
  cfme/intelligence/timelines.py
  cfme/tests/intelligence/test_reports_with_timelines.py
  cfme/tests/test_modules_importable.py
Labels: lint-ok, new-test-or-feature

#8374 [RFR] Only use REST API for GET/POST of Advanced Settings
  cfme/tests/containers/test_blacklisted_container_events.py
  cfme/utils/appliance/__init__.py
Labels: enhancement, fix-framework, fix-test, lint-ok

#8403 [1LP][RFR] Update physical infrastructure test collection
  cfme/fixtures/physical_switch.py
  cfme/tests/physical_infrastructure/api/test_physical_server_api.py
  cfme/tests/physical_infrastructure/test_physical_rack.py
  cfme/tests/physical_infrastructure/ui/test_physical_overview.py
  cfme/tests/physical_infrastructure/ui/test_physical_switch_list.py
Labels: enhancement, fix-test, lint-ok

#8409 [1LP][RFR] Remove manual test case that has been automated
  cfme/tests/configure/test_diagnostic_timelines.py
Labels: manual

#8410 [RFR] Adding casecomonenet to CMQE tests and Moving Manual Tests
  cfme/tests/containers/test_ad_hoc_metrics.py
  cfme/tests/containers/test_alerts.py
  cfme/tests/containers/test_basic_metrics.py
  cfme/tests/containers/test_breadcrumbs.py
  cfme/tests/containers/test_chargeback.py
  cfme/tests/containers/test_cockpit.py
  cfme/tests/containers/test_configurable_menus.py
  cfme/tests/containers/test_containers_smartstate_analysis.py
  cfme/tests/containers/test_containers_smartstate_analysis_multiple_images.py
  cfme/tests/containers/test_containers_summary.py
  cfme/tests/containers/test_labels.py
  cfme/tests/containers/test_logging.py
  cfme/tests/containers/test_manageiq_ansible_custom_attributes.py
  cfme/tests/containers/test_node.py
  cfme/tests/containers/test_overview_data_integrity.py
  cfme/tests/containers/test_pause_resume_workers.py
  cfme/tests/containers/test_project_quota_historical_data.py
  cfme/tests/containers/test_projects_dashboard.py
  cfme/tests/containers/test_properties.py
  cfme/tests/containers/test_provider_configuration_menu.py
  cfme/tests/containers/test_provider_openscap_policy_attached.py
  cfme/tests/containers/test_relationships.py
  cfme/tests/containers/test_reload_button_provider.py
  cfme/tests/containers/test_reports.py
  cfme/tests/containers/test_search_bar.py
  cfme/tests/containers/test_ssa_set_cve_image_inspector_per_provider.py
  cfme/tests/containers/test_ssl_providers.py
  cfme/tests/containers/test_start_page.py
  cfme/tests/containers/test_static_custom_attributes.py
  cfme/tests/containers/test_table_views.py
  cfme/tests/containers/test_tables_fields.py
  cfme/tests/containers/test_tables_sort.py
  cfme/tests/containers/test_tags.py
  cfme/tests/test_manual.py
Labels: manual

#8407 [WIPTEST] Update catalogbundle View/Collection.create
  cfme/services/catalogs/catalog_items/catalog_bundles.py
Labels: fix-framework, issue-bug, rc-regression-fix

#8398 [1LP][RFR] pdf download popup fix
  cfme/networks/views.py
  cfme/tests/networks/test_sdn_downloads.py
Labels: fix-test, lint-ok

#8406 [1LP][RFR] Fixing catalog exists property
  cfme/services/catalogs/catalog.py
Labels: rc-regression-fix

#8381 [1LP][RFR] extdb pod smoke tests
  cfme/tests/pod/test_appliance_crud.py
  requirements/frozen.py2.txt
  requirements/frozen.py3.txt
Labels: new-test-or-feature

#8372 [1LP][RFR] Manual vm reconfigure cleanup
  cfme/tests/infrastructure/test_vm_reconfigure.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#8415 [1LP][RFR] Fix Container Provider Pause/Resume Test
  cfme/tests/containers/test_pause_resume_workers.py
Labels: fix-test

#8408 [1LP][RFR] Update CatalogItem and MyService
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/services/myservice/ui.py
  cfme/tests/services/test_add_remove_vm_to_service.py
  cfme/tests/services/test_catalog_item.py
  cfme/tests/services/test_myservice.py
Labels: fix-framework, fix-test

#8420 [WIPTEST] Update ApiException Import for podified appliance crud
  cfme/tests/pod/test_appliance_crud.py
Labels: fix-test
