Repository ManageIQ/integration_tests, pull requests merged in 2019-09, with the labels that each got.

#9304 [1LP][RFR] to speed up creating new multi-region environments.
  cfme/scripting/setup_env.py
Labels: enhancement, lint-ok

#9308 [RFR]Update caseimportance to high for some infra_hosts tests
  cfme/tests/infrastructure/test_host_manual.py
Labels: WIP, doc, lint-ok

#9293 [1LP][RFR] Add blocker BZ(1746931) -- In openstack provisioning.
  cfme/tests/cloud_infra_common/test_provisioning.py
Labels: blockers-only, lint-ok

#9289 [1LP][RFR] removed automated manual tests
  cfme/tests/configure/test_log_depot_operation_manual.py
Labels: lint-ok, manual

#9296 [1LP][RFR] removed test_vm_terminate_deletedisk_azure
  cfme/tests/cloud/test_azure_manual.py
Labels: lint-ok, manual

#9002 [1LP][RFR] Fixed playbook method crud operations
  cfme/automate/explorer/method.py
  cfme/automate/simulation.py
  cfme/tests/ansible/test_embedded_ansible_automate.py
  cfme/tests/automate/test_method.py
Labels: fix-test, lint-ok

#9227 [1LP][RFR] generic object class level button tests
  cfme/generic_objects/definition/button_groups.py
  cfme/generic_objects/definition/definition_views.py
  cfme/tests/automate/custom_button/test_generic_class_custom_button.py
Labels: fix-framework, lint-ok, new-test-or-feature

#9292 [1LP][RFR] automated manual test for unconfigured log depot
  cfme/tests/configure/test_log_depot_operation.py
  cfme/tests/configure/test_log_depot_operation_manual.py
Labels: lint-ok, new-test-or-feature

#9301 [1LP][RFR] Fix test: test_date_filtering AND test_datetime_filtering
  cfme/tests/test_rest.py
Labels: fix-test, lint-ok

#9294 [1LP][RFR] fixed test_quick_search_without_vm_filter
  cfme/tests/infrastructure/test_advanced_search_vms.py
Labels: fix-test, lint-ok

#9264 [1LP][RFR][NOTEST] Add in an all() method ViaREST for generic-object and definitions
  cfme/generic_objects/definition/__init__.py
  cfme/generic_objects/definition/rest.py
  cfme/generic_objects/definition/ui.py
  cfme/generic_objects/instance/__init__.py
  cfme/generic_objects/instance/rest.py
  cfme/generic_objects/instance/ui.py
Labels: enhancement, lint-ok

#9291 [1LP][RFR] New Test: Testing automate domain import via rake command
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_git_import.py
Labels: lint-ok, new-test-or-feature

#9312 [1LP][RFR] changing tier to correct value
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
Labels: fix-test, lint-ok

#9236 [1LP][RFR] New Test: Testing automate method attached to dynamic dialog
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_service_automate.py
Labels: lint-ok, new-test-or-feature

#9290 [1LP][RFR] New Test: Testing quota units
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_common_methods.py
Labels: lint-ok, new-test-or-feature

#9286 [1LP][RFR] Remove old bz 1549529, allow tests to run
  cfme/tests/control/test_actions.py
Labels: lint-ok, test-cleanup

#9306 [1LP][RFR] Add a new test for control breadcrumbs
  cfme/base/login.py
  cfme/tests/control/test_bugs.py
Labels: lint-ok, new-test-or-feature

#9309 [1LP][RFR] updated test cases related to Multi-Region FA
  cfme/tests/cloud/test_instance_reconfigure.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/cloud_infra_common/test_retirement.py
  cfme/tests/configure/test_config_manual.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/test_login.py
  cfme/tests/test_replication.py
Labels: fix-locator-or-text, lint-ok, manual

#9316 [RFR] Change caseimportance for container tests
  cfme/tests/containers/test_ad_hoc_metrics.py
  cfme/tests/containers/test_basic_metrics.py
  cfme/tests/containers/test_blacklisted_container_events.py
  cfme/tests/containers/test_breadcrumbs.py
  cfme/tests/containers/test_cockpit.py
  cfme/tests/containers/test_configurable_menus.py
  cfme/tests/containers/test_containers_smartstate_analysis.py
  cfme/tests/containers/test_containers_smartstate_analysis_multiple_images.py
  cfme/tests/containers/test_containers_summary.py
  cfme/tests/containers/test_labels.py
  cfme/tests/containers/test_logging.py
  cfme/tests/containers/test_manageiq_ansible_custom_attributes.py
  cfme/tests/containers/test_node.py
  cfme/tests/containers/test_overview_data_integrity.py
  cfme/tests/containers/test_pause_resume_workers.py
  cfme/tests/containers/test_projects_dashboard.py
  cfme/tests/containers/test_provider_configuration_menu.py
  cfme/tests/containers/test_provider_openscap_policy_attached.py
  cfme/tests/containers/test_relationships.py
  cfme/tests/containers/test_reload_button_provider.py
  cfme/tests/containers/test_reports.py
  cfme/tests/containers/test_search_bar.py
  cfme/tests/containers/test_ssa_set_cve_image_inspector_per_provider.py
  cfme/tests/containers/test_ssl_providers.py
  cfme/tests/containers/test_start_page.py
  cfme/tests/containers/test_static_custom_attributes.py
  cfme/tests/containers/test_table_views.py
  cfme/tests/containers/test_tables_fields.py
  cfme/tests/containers/test_tables_sort.py
  cfme/tests/containers/test_tags.py
Labels: other

#9302 [1LP][RFR] Cat item copy
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/automate/custom_button/test_catalog_custom_button.py
Labels: enhancement, lint-ok, new-test-or-feature

#9252 [1LP][WIPTEST] BZ 1705021 automated
  cfme/automate/dialog_import_export.py
  cfme/automate/explorer/domain.py
  cfme/fixtures/automate.py
  cfme/fixtures/service_fixtures.py
  cfme/services/service_catalogs/__init__.py
  cfme/services/service_catalogs/ui.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_customer_bz.py
Labels: WIP-testing, customer-case, lint-ok, new-test-or-feature

#9299 [1LP][RFR]Uncollect embedded ansible rest tests which ends in 5.10
  cfme/tests/ansible/test_embedded_ansible_rest.py
Labels: lint-ok, test-cleanup

#9324 [1LP][RFR] Update miq_version for 5.10.10
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
Labels: lint-ok, requirements, tech-debt

#9325 Update sprout miq-version requirement
  sprout/requirements.txt
Labels: lint-ok, sprout

#9328 [1LP][RFR] wrapping failing tests into set_context(UI)
  cfme/tests/automate/test_method.py
Labels: fix-test, lint-ok

#9327 [1LP][RFR] Default polarion status and approvals
  conf/polarion_tools.yaml
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
Labels: lint-ok, other

#9334 [RFR] Add test_requirements to test cases
  cfme/tests/cloud/test_cloud_events.py
  cfme/tests/cloud_infra_common/test_policy_simulation.py
  cfme/tests/intelligence/test_reports_with_timelines.py
  cfme/tests/intelligence/test_timelines_rss_removed.py
Labels: lint-ok, requirements

#9333 [1LP][RFR] Updating Test to Use ProviderFilter and Remove Provider Override Mark
  cfme/tests/infrastructure/test_publish_vm_to_template.py
Labels: fix-test, lint-ok

#9330 [1LP][RFR] Remove blocker BZ(1666712)
  cfme/tests/intelligence/test_dashboard.py
Labels: blockers-only, lint-ok

#9338 [1LP][RFR] Update polarion-docstrings and fix linting
  .travis.yml
  cfme/configure/configuration/server_settings.py
  cfme/tests/cloud/test_targeted_refresh.py
  cfme/tests/cloud_infra_common/test_policy_simulation.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/control/test_bugs.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  conf/polarion_tools.yaml
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
  setup.cfg
Labels: lint-ok, plugins

#9341 [RFR] Fix TypeError in parallelizer/__init__.py
  cfme/fixtures/parallelizer/__init__.py
Labels: WIP, lint-ok, py3-compat

#9261 [1LP][RFR] unassigned button association with rest
  cfme/automate/buttons.py
  cfme/tests/automate/custom_button/test_rest_custom_button.py
Labels: enhancement, lint-ok, new-test-or-feature

#9274 [1LP][RFR] New Test: Testing exposed method miq_groups to automate
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_method.py
Labels: lint-ok, new-test-or-feature

#9295 [1LP][RFR] Workaround bz 1667064
  cfme/intelligence/reports/__init__.py
  cfme/intelligence/reports/dashboards.py
  cfme/intelligence/reports/widgets/__init__.py
  cfme/tests/intelligence/reports/test_crud.py
Labels: blockers-only, fix-locator-or-text, lint-ok

#9343 [WIPTEST] Revert pytest-polarion-collect update, parallelizer broken
  cfme/fixtures/parallelizer/__init__.py
  cfme/fixtures/parallelizer/remote.py
  cfme/utils/providers.py
  requirements/frozen.py3.txt
  requirements/frozen_docs.py3.txt
Labels: WIP-testing, issue-bug, lint-ok

#9305 [1LP][RFR] fix test_provision_vm_with_2_nics
  cfme/tests/infrastructure/test_provisioning_dialog.py
Labels: fix-test, lint-ok

#9339 [1LP][RFR] removed dropbox from log collection test
  cfme/tests/configure/test_log_depot_operation.py
Labels: lint-ok, test-cleanup

#9337 [1LP][RFR] added requirement for test_storage_volume_backup_edit_tag_from_detail
  cfme/tests/storage/test_volume_backup.py
Labels: lint-ok

#9329 [1LP][RFR] Add `wait_for_power_state_change_rest` to BaseVM
  cfme/cloud/instance/__init__.py
  cfme/common/vm.py
  cfme/infrastructure/virtual_machines.py
  cfme/tests/cloud/test_cloud_timelines.py
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/cloud_infra_common/test_power_control_rest.py
Labels: enhancement, lint-ok

#9323 [1LP][RFR]Add general UI test coverage
  cfme/tests/webui/test_general_ui_manual.py
Labels: lint-ok, manual

#9320 [1LP][RFR]Automate: test_edit_service_request_task
  cfme/tests/services/test_rest_services.py
  cfme/tests/test_rest_manual.py
Labels: lint-ok, new-test-or-feature

#9318 [1LP][RFR]Automate test: test_edit_provider_request_task
  cfme/tests/infrastructure/test_provisioning_rest.py
  cfme/tests/test_rest_manual.py
Labels: lint-ok, new-test-or-feature

#9310 [1LP][RFR] custom css manual test steps update
  cfme/tests/test_db_migrate_manual.py
Labels: lint-ok, manual

#9322 [1LP][RFR]Add test coverage for reports BZ
  cfme/tests/intelligence/reports/test_reports_manual.py
Labels: lint-ok, manual

#9287 [RFR] Fix test_rhsm_registration_check_repo_names
  cfme/tests/configure/test_register_appliance.py
Labels: fix-test, lint-ok

#9348 [1LP][RFR] Adding copy catalog item test
  cfme/tests/services/test_catalog_item.py
Labels: lint-ok, new-test-or-feature

#9101 [1LP][RFR] Automate test: test_reports_online_vms
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
Labels: lint-ok, new-test-or-feature

#9352 [1LP][RFR] Add customer_stories requirement for test_generic_object_with_service_button
  cfme/tests/generic_objects/test_instances.py
Labels: requirements

#9250 [1LP][RFR] New test: test hosts not displayed several times
  cfme/tests/infrastructure/test_host.py
Labels: lint-ok, new-test-or-feature

#9353 [1LP][RFR] Fix unblock statement
  cfme/tests/control/test_actions.py
Labels: fix-test

#9311 [1LP][RFR] New Test: Testing user role for domains permissions
  cfme/fixtures/automate.py
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_domain.py
Labels: lint-ok, new-test-or-feature

#9202 [1LP][RFR] New Test: Testing value passing between two catalog items
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/automate/test_service_automate.py
Labels: lint-ok, new-test-or-feature

#9354 [1LP][RFR] Add forced streams 5.10 for bz 1747132
  cfme/tests/infrastructure/test_timelines.py
Labels: blockers-only, lint-ok

#9238 [1LP][RFR] Add test_infrastructure_hosts_refresh_multi to test_host.py
  cfme/common/provider.py
  cfme/tests/infrastructure/test_host.py
Labels: lint-ok, new-test-or-feature

#9357 [RFR] Remove Container Provider from test_reports_online_vms collection
  cfme/tests/intelligence/reports/test_reports.py
Labels: WIP-testing, lint-ok, rc-regression-fix

#9359 [RFR] Fix test interation in test_providers
  cfme/tests/cloud/test_providers.py
Labels: WIP-testing, fix-test, lint-ok, rc-regression-fix

#9226 [NOMERGE][RFR] Update requirements workflow
  cfme/scripting/miq.py
  cfme/scripting/quickstart/__init__.py
  cfme/scripting/requirement.py
  cfme/utils/dockerbot/pytestbase/setup.sh
  cfme/utils/path.py
  entry_points.txt
  requirements/__init__.py
  requirements/constraints.txt
  requirements/freeze.py
  requirements/freeze_all.py
  requirements/frozen.py3.txt
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
  requirements/package_map.yaml
  requirements/template.txt
  requirements/template_docs.txt
  requirements/template_non_imported.txt
  requirements/template_scanned_imports.txt
Labels: enhancement, lint-ok, requirements

#9355 [1LP][RFR] Duplicate Infra mapping test
  cfme/tests/v2v/test_v2v_manual.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/v2v/infrastructure_mapping.py
  widgetastic_manageiq/__init__.py
Labels: fix-test, lint-ok

#9183 [1LP][RFR][NOTEST] Deal with last two jhenner manual tests to sort.
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#9336 [1LP][RFR] Automate test: test_provider_specific_vm
  cfme/tests/test_rest.py
Labels: lint-ok, new-test-or-feature

#9351 [1LP][RFR] Test to create service dialog using Tower Workflow
  cfme/ansible_tower/explorer.py
  cfme/tests/infrastructure/test_config_management.py
Labels: enhancement, lint-ok, new-test-or-feature

#9288 [RFR] fixed the expected path for ansible logs in the collected logs
  cfme/tests/configure/test_log_depot_operation.py
Labels: fix-test, lint-ok

#9362 Update accepted labels for PRs
  cfme/utils/release.py
Labels: lint-ok, other

#9366 [RFR] Restrict testtype values in polarion meta
  cfme/tests/cli/test_appliance_update_manual.py
  cfme/tests/configure/test_analysis_profiles.py
  cfme/tests/infrastructure/test_pxe_provisioning.py
  cfme/tests/infrastructure/test_vmware_provider.py
  cfme/tests/test_db_migrate.py
  cfme/tests/test_db_migrate_manual.py
  cfme/tests/test_manual.py
  cfme/tests/test_replication.py
  conf/polarion_tools.yaml
Labels: lint-ok, other

#9369 [1LP][RFR] Fix Breadcrumb test for Container Providers
  cfme/containers/provider/__init__.py
Labels: fix-test, lint-ok

#9372 [RFR] Fix navigation exceptions in ServerDetails and CustomLogos
  cfme/base/ui.py
Labels: fix-framework, fix-test

#9335 [1LP][RFR] fixing set-env ha script
  cfme/scripting/setup_env.py
Labels: fix-framework, lint-ok

#9347 [1LP][RFR] Adding services/dialog manual tests
  cfme/tests/services/test_catalog_item.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_myservice.py
  cfme/tests/services/test_request.py
  cfme/tests/ssui/test_ssui_myservice.py
Labels: lint-ok, manual

#9340 [1LP][RFR] Add test_infrastructure_hosts_navigation_after_download to test_host.py
  cfme/common/host_views.py
  cfme/tests/infrastructure/test_host.py
Labels: lint-ok, new-test-or-feature

#9370 [1LP][RFR] Fix TypeError and is_displayed Containers in 5.11
  cfme/containers/container.py
  cfme/tests/containers/test_search_bar.py
Labels: fix-test, lint-ok, py3-compat

#9360 [1LP][RFR] Fix Container Provider Pause/Resume Test
  cfme/tests/containers/test_pause_resume_workers.py
Labels: fix-test, lint-ok

#9374 [1LP][RFR] Changed provider to rhvm
  cfme/tests/automate/test_common_methods.py
Labels: fix-test, lint-ok

#9363 [1LP][RFR] added check for postgres conf in log collection
  cfme/tests/configure/test_log_depot_operation.py
Labels: lint-ok, new-test-or-feature

#9307 [1LP][RFR] Add some documentation for miq requirement commands
  docs/guides/dev_guide.rst
Labels: enhancement, lint-ok, requirements

#9381 [1LP][RFR] Add manual cases and cleanup Generic Object tests
  cfme/tests/automate/custom_button/test_generic_class_custom_button.py
  cfme/tests/automate/generic_objects/buttons/test_generic_class_custom_button.py
  cfme/tests/automate/generic_objects/test_definitions.py
  cfme/tests/automate/generic_objects/test_instances.py
Labels: lint-ok, manual, test-cleanup

#9368 [1LP][RFR] fix locator for Catalog Multibox widget
  cfme/services/catalogs/catalog.py
Labels: fix-locator-or-text, lint-ok

#9115 [1LP][RFR] Added Ansible test for "play_against" Azure provider.
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: lint-ok, new-test-or-feature

#9356 [1LP][RFR] Increase timeout for creating the db
  cfme/tests/test_appliance.py
  cfme/tests/test_db_migrate.py
  cfme/utils/appliance/__init__.py
  cfme/utils/ssh.py
Labels: fix-test, lint-ok

#9193 [1LP][RFR] Fix navigation issues in zone tests
  cfme/base/ui.py
  cfme/tests/configure/test_paginator.py
  cfme/tests/configure/test_zones.py
Labels: fix-framework, fix-test, lint-ok

#9364 [1LP][RFR] New Test: Testing instance reconfiguration against quota
  cfme/tests/cloud/test_tenant_quota.py
  cfme/tests/cloud_infra_common/test_quota_manual.py
Labels: lint-ok, new-test-or-feature

#9385 [RFR] Fix TypeError: super() argument 1 must be type, not None
  cfme/utils/ssh.py
Labels: issue-bug, lint-ok

#9373 [1LP][RFR] fixed collection for service multi-region tests
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/pod/test_appliance_crud.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/services/test_service_catalogs_multi_region.py
Labels: lint-ok, manual

#9382 [1LP][RFR] Fix navigation for server
  cfme/base/__init__.py
  cfme/base/ui.py
  cfme/common/provider.py
  cfme/exceptions.py
  cfme/fixtures/base.py
  cfme/infrastructure/host.py
  cfme/services/myservice/__init__.py
  cfme/tests/integration/test_cfme_auth.py
Labels: enhancement, fix-framework, lint-ok

#9395 [RFR] Add/Remove rhel_testing marker on tests
  cfme/tests/cli/test_appliance_cli.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/configure/test_email.py
  cfme/tests/configure/test_ntp_server.py
  cfme/tests/configure/test_workers.py
  cfme/tests/control/test_actions.py
  cfme/tests/infrastructure/test_child_tenant.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  cfme/tests/networks/test_network_providers.py
  cfme/tests/networks/test_sdn_crud.py
  cfme/tests/ssui/test_ssui_myservice.py
Labels: lint-ok, other

#9394 [1LP][RFR] Add ONE_PER_VERSION selector to test_host module
  cfme/tests/infrastructure/test_host.py
Labels: lint-ok, other

#9361 [1LP][RFR]Set flag in advanced setting
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_v2v_migrations.py
Labels: enhancement, lint-ok

#9405 [RFR][NOTEST]Set flag for 5.10
  cfme/fixtures/v2v_fixtures.py
Labels: enhancement, lint-ok

#9401 [1LP][RFR] Removed already automated tests from manual.
  cfme/tests/ansible/test_embedded_ansible_manual.py
Labels: lint-ok

#9387 [1LP][RFR] Fix tests using BaseVM.rest_api_entity
  cfme/common/vm.py
Labels: fix-test, lint-ok

#8978 [1LP][RFR] Remove unused server roles from ServerInformationView
  cfme/configure/configuration/server_settings.py
  cfme/tests/configure/test_server_roles.py
Labels: fix-framework, lint-ok

#9265 [1LP][RFR] Extend test: reload after deleting snapshot
  cfme/tests/infrastructure/test_snapshot.py
Labels: enhancement, lint-ok, new-test-or-feature

#9409 [1LP][RFR] Update pytest-polarion-collect, add pytest-report-parameters
  requirements/constraints.txt
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
  requirements/template_non_imported.txt
Labels: lint-ok, requirements

#9410 Downgrade cfme-testcases to 0.12, conf loading broken
  requirements/constraints.txt
  requirements/frozen.txt
Labels: lint-ok, requirements

#9416 [RFR] Added test_requirements for test cases owned by me
  cfme/test_requirements.py
  cfme/tests/cloud/test_delete_cloud_object.py
  cfme/tests/cloud/test_keypairs.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/infrastructure/test_providers.py
  cfme/tests/networks/test_network_providers.py
  cfme/tests/networks/test_sdn_balancers.py
  cfme/tests/networks/test_sdn_crud.py
  cfme/tests/networks/test_sdn_downloads.py
  cfme/tests/networks/test_sdn_inventory_collection.py
  cfme/tests/networks/test_sdn_navigation.py
  cfme/tests/networks/test_sdn_ports.py
  cfme/tests/networks/test_sdn_security_groups.py
  cfme/tests/networks/test_sdn_topology.py
  cfme/tests/storage/test_volume_backup.py
  cfme/tests/test_manual.py
Labels: WIP, lint-ok, requirements

#9420 [RFR] Update cfme-testcases, handle testrun ID via conf
  requirements/constraints.txt
  requirements/frozen.txt
  requirements/template_non_imported.txt
Labels: fix-framework, lint-ok, requirements

#9375 [1LP][RFR] added new test_delete_vm_on_provider_side
  cfme/tests/infrastructure/test_vm_delete.py
Labels: lint-ok, new-test-or-feature

#9421 [1LP][RFR] Change FA assignee
  cfme/tests/cloud_infra_common/test_genealogy.py
Labels: lint-ok, other

#9422 [RFR] Add browser isolation marker for test items
  cfme/markers/__init__.py
  cfme/markers/isolation.py
  cfme/test_framework/browser_isolation.py
  cfme/tests/integration/test_cfme_auth.py
Labels: enhancement, fix-test, lint-ok

#9423 [RFR] add new label to release script
  cfme/utils/release.py
Labels: enhancement

#9415 [1LP][WIPTEST] fix ansible repo enable check
  cfme/ansible/repositories.py
Labels: WIP-testing, fix-framework, lint-ok

#9194 [1LP][RFR] Added test for BZ1734904.
  cfme/fixtures/ansible_fixtures.py
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: lint-ok, new-test-or-feature

#9407 [1LP][RFR] Removed ignore stream and updated global fixture
  cfme/fixtures/automate.py
  cfme/tests/automate/test_common_methods.py
Labels: fix-framework, lint-ok

#9404 [1LP][RFR] Adding rhel_testing markers back on test_appliance_console_scap
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, other

#9365 [1LP][RFR] BZ 1570152: Automate test update dynamic dialog checkbox
  cfme/services/service_catalogs/__init__.py
  cfme/tests/services/test_dynamicdd_dialogelement.py
  cfme/tests/services/test_service_customer_bz.py
Labels: lint-ok, new-test-or-feature

#9413 [1LP][RFR]Fix tests and cleanup
  cfme/common/vm.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/configure/test_landing_page.py
  cfme/tests/infrastructure/test_provisioning_rest.py
  cfme/tests/test_rest.py
  cfme/tests/test_rest_manual.py
  cfme/tests/test_ui.py
Labels: fix-framework, fix-test, lint-ok

#8276 [1LP][RFR] Templates checksum
  cfme/utils/template/base.py
Labels: enhancement, infra-related, lint-ok

#9379 [1LP][RFR] added test_tag_vm_10k_category
  cfme/tests/cloud_infra_common/test_tag_objects.py
Labels: lint-ok, new-test-or-feature

#9428 [RFR] Fix rest-api-entity for myservice
  cfme/services/myservice/__init__.py
Labels: fix-framework, lint-ok

#9391 [1LP][RFR] Automate test case for BZ 1650559
  cfme/generic_objects/definition/__init__.py
  cfme/generic_objects/definition/button_groups.py
  cfme/generic_objects/definition/definition_views.py
  cfme/generic_objects/definition/ui.py
  cfme/tests/automate/generic_objects/buttons/test_generic_class_custom_button.py
Labels: enhancement, lint-ok, test-automation

#9397 [1LP][RFR] improved simulation copy test
  cfme/tests/automate/custom_button/test_buttons.py
Labels: lint-ok, new-test-or-feature

#9398 [1LP][RFR]Ignoring load balancers in 5.11 because of deprecation
  cfme/tests/cloud/test_targeted_refresh.py
  cfme/tests/configure/test_landing_page.py
  cfme/tests/networks/test_sdn_crud.py
  cfme/tests/networks/test_sdn_downloads.py
  cfme/tests/networks/test_sdn_inventory_collection.py
  cfme/tests/networks/test_sdn_navigation.py
  cfme/tests/test_rest.py
Labels: fix-test, lint-ok

#9399 [NOTEST][1LP][RFR] Added test coverage
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_service_automate.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
Labels: lint-ok, manual
