Repository ManageIQ/integration_tests, pull requests merged in 2020-02, with the labels that each got.

#9895 [1LP][RFR]Adding wait_for for event workers to gets start
  cfme/fixtures/v2v_fixtures.py
Labels: fix-framework, lint-ok

#9646 [1LP][RFR] Fix restore tests third part
  cfme/fixtures/cli.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cli/test_appliance_update.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/console.py
  cfme/utils/appliance/db.py
  cfme/utils/appliance/services.py
  cfme/utils/ssh_expect.py
  scripts/scap.rb
Labels: enhancement, fix-test, lint-ok

#9900 [1LP][RFR]Fixing the TC test_cancel_migration_attachments
  cfme/tests/v2v/test_v2v_cancel_migrations.py
Labels: fix-test, lint-ok

#9868 [1LP][RFR] Test for Embedded Ansible repository refresh
  cfme/ansible/repositories.py
  cfme/tests/ansible/test_embedded_ansible_basic.py
  cfme/tests/ansible/test_embedded_ansible_manual.py
Labels: lint-ok, manual, test-automation

#9790 [1LP][RFR] Make appliance_log_collector able to fetch logs from additional appliances.
  cfme/fixtures/appliance.py
  cfme/fixtures/cli.py
  cfme/test_framework/appliance_log_collector.py
Labels: enhancement, lint-ok

#9861 [1LP][RFR][NOTEST] Added default template parameter in create_vm fixture.
  cfme/fixtures/vm.py
Labels: enhancement, lint-ok

#9901 [1LP][RFR]Adding automation for Customer BZ1644770
  cfme/tests/infrastructure/test_vmware_provider.py
  requirements/frozen.txt
Labels: needs-lint, new-test-or-feature

#9883 [1LP][RFR] Added automation coverage for BZ1734446.
  cfme/ansible/repositories.py
  cfme/tests/ansible/test_embedded_ansible_basic.py
Labels: lint-ok, new-test-or-feature

#9903 [1LP][RFR] uncollect load balancer for 5.11
  cfme/tests/automate/custom_button/test_rest_custom_button.py
Labels: lint-ok, test-cleanup

#9864 [1LP][RFR] CLI-Testing UI after restarting VMDB
  cfme/tests/cli/__init__.py
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9905 [1LP][RFR] Automate passoword visibility test
  cfme/tests/v2v/test_v2v_manual.py
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
Labels: lint-ok, test-automation

#9909 [1LP][RFR] Fix AttributeError on test_git_import module import
  cfme/tests/automate/test_git_import.py
Labels: issue-bug, lint-ok, rc-regression-fix

#9899 [1LP][RFR] Automating service dialog default selection test
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, test-automation

#9896 [1LP][RFR] Automate: test_created_on_time_report_field
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/test_rest_manual.py
  cfme/tests/webui/test_general_ui.py
Labels: lint-ok, test-automation

#9884 [1LP][RFR] CLI - Verifying log messages on failure of DB configuration
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, new-test-or-feature

#9814 [1LP][RFR] Testing appliance restart scenario
  cfme/tests/cli/test_appliance_console.py
  cfme/utils/net.py
Labels: lint-ok, test-automation

#9848 [1LP][RFR]Implement test_add_second_provider
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, new-test-or-feature

#9819 [1LP][RFR] Automated test regions_up_to_date for EC2Provider
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, test-automation

#9898 [1LP][RFR] Zone test automation / parametrization
  cfme/base/ui.py
  cfme/tests/configure/test_zones.py
  cfme/tests/distributed/test_appliance_manual.py
Labels: lint-ok, test-automation, test-cleanup

#9902 [1LP][RFR] Fix product features for role used in v2v migration test
  cfme/fixtures/rbac.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
Labels: fix-test, lint-ok

#9841 [1LP][RFR] Fix rh updates
  cfme/configure/configuration/region_settings.py
  cfme/tests/configure/test_register_appliance.py
Labels: fix-test, lint-ok

#9913 [1LP][RFR]Automate: test_schedule_automation_request
  cfme/automate/requests.py
  cfme/tests/automate/test_rest.py
  cfme/tests/test_rest_manual.py
  entry_points.txt
Labels: enhancement, lint-ok, test-automation

#9914 [1LP][RFR] Update v2v inframap view
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/v2v/infrastructure_mapping.py
Labels: fix-test, lint-ok

#9904 [1LP][RFR] Automate: test_reports_timezone
  cfme/intelligence/reports/reports.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/utils/timeutil.py
Labels: enhancement, lint-ok, test-automation

#9926 [1LP][RFR] Fix KeyError for reports
  cfme/intelligence/reports/reports.py
Labels: fix-framework, lint-ok, rc-regression-fix

#9660 [1LP][RFR] Ansible automate BZ1505929, for Ansible service name different from catalog item.
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: customer-case, lint-ok, test-automation

#9897 [1LP][RFR] Automate remaining test_set_memory_threshold test cases & check in advanced settings
  cfme/tests/configure/test_config_manual.py
  cfme/tests/configure/test_workers.py
Labels: lint-ok, test-automation

#9920 [1LP][RFR] apache reload check
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9873 [1LP][WIPTEST] Add create_vms fixture for multiple VMs, add deploy_args support.
  cfme/cloud/provider/ec2.py
  cfme/fixtures/vm.py
Labels: WIP-testing, enhancement, lint-ok

#9932 [1LP][NOTEST][RFR] Added MA requirement and manual test cases
  cfme/test_requirements.py
  cfme/tests/migration_analytics/__init__.py
  cfme/tests/migration_analytics/test_migration_analytics.py
  conf/polarion_tools.yaml
Labels: lint-ok, manual

#9935 [RFR] Add conditional and assert to support VirtualCenter6.7 functionality
  cfme/tests/infrastructure/test_snapshot.py
Labels: lint-ok, new-test-or-feature

#9936 [1LP][RFR] - Fixed test_appliance_console_ipa testcase
  cfme/tests/cli/test_appliance_console.py
Labels: fix-test, lint-ok

#9929 [1LP][RFR][NOTEST] Removed already automated manual tests related to EC2 provider.
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis_manual.py
Labels: lint-ok, manual, test-cleanup

#9941 [RFR][NOTEST] Already automated manual test remove
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/automate/custom_button/test_infra_objects_ansible.py
Labels: lint-ok, test-cleanup

#9818 [1LP][RFR]Added test_refresh_with_stack_without_parameters
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, test-automation

#9930 [1LP][RFR] Adding SSUI disable notification test
  cfme/services/service_catalogs/ssui.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
  cfme/tests/ssui/test_ssui_service_catalogs.py
Labels: customer-case, lint-ok, test-automation, test-cleanup

#9843 [1LP][RFR] CLI - test to re-configure secondary dns
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9945 [RFR] - Fixed test collect
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis_manual.py
Labels: lint-ok, manual

#9948 Update miq release to use datetimes for PR listing
  cfme/scripting/release.py
Labels: issue-bug, lint-ok

#9937 [1LP][RFR] Fix Tests
  cfme/tests/cloud_infra_common/test_power_control_rest.py
  cfme/tests/intelligence/reports/test_canned_corresponds.py
  cfme/tests/webui/test_general_ui.py
Labels: fix-test, lint-ok

#9940 [1LP][RFR] Fixed discover vm test case
  cfme/tests/cloud_infra_common/test_discovery_and_support.py
Labels: fix-test, lint-ok

#9922 [1LP][RFR]Automate: test_validate_landing_pages_for_rbac
  cfme/tests/configure/test_config_manual.py
  cfme/tests/configure/test_rbac_landing_page.py
Labels: lint-ok, test-automation

#9946 [1LP][RFR] - Fixed Catalog - flash message string
  cfme/tests/services/test_catalog_item.py
Labels: fix-test, lint-ok

#9800 [1LP][RFR] testing network configuration for ipv4 and ipv6
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9910 [1LP][RFR] Add test_replication_connect_to_vm_in_region
  cfme/fixtures/appliance.py
  cfme/tests/distributed/test_appliance_replication.py
  cfme/utils/appliance/__init__.py
Labels: lint-ok, new-test-or-feature

#9874 [1LP][RFR] Update vm retirement tests to use create_vm / create_vms
  cfme/common/vm.py
  cfme/tests/cloud_infra_common/test_retirement.py
Labels: lint-ok, test-cleanup

#9876 [1LP][RFR] Use FlashMessages view
  cfme/automate/import_export.py
  cfme/base/ssui.py
  cfme/base/ui.py
  cfme/common/__init__.py
  cfme/common/vm.py
  cfme/configure/configuration/server_settings.py
  cfme/containers/image.py
  cfme/containers/provider/__init__.py
  cfme/infrastructure/virtual_machines.py
  cfme/intelligence/reports/schedules.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/configure/test_schedule_operations.py
  cfme/tests/physical_infrastructure/ui/test_physical_server_list_buttons.py
  cfme/v2v/infrastructure_mapping.py
  cfme/v2v/migration_plans.py
  requirements/frozen.txt
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok

#9911 [1LP][RFR]Automated test_create_sns_topic
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, test-automation

#9947 [RFR] Fix retry migration plan test
  cfme/tests/v2v/test_v2v_cancel_migrations.py
Labels: fix-test, lint-ok

#9919 [1LP][RFR]5.11 ec2 image upload
  cfme/utils/template/ec2.py
Labels: lint-ok

#9923 [1LP][RFR] Utilization Model page
  cfme/base/__init__.py
  cfme/base/ui.py
  cfme/infrastructure/cluster.py
  cfme/infrastructure/datastore.py
  cfme/infrastructure/host.py
  cfme/infrastructure/provider/__init__.py
  cfme/optimize/utilization.py
Labels: enhancement, lint-ok

#9924 [1LP][RFR] - Testing failure on VM migration
  cfme/tests/infrastructure/test_vm_migrate.py
Labels: lint-ok, test-automation

#9928 [1LP][RFR] Remove the firewall-zone test from 5.10
  cfme/tests/test_appliance.py
Labels: lint-ok, test-cleanup
