Repository ManageIQ/integration_tests, pull requests merged in 2020-04, with the labels that each got.

#10029 [RFR] Update pre-commit hooks rev
  .pre-commit-config.yaml
  artifactor/__init__.py
  artifactor/plugins/reporter.py
  cfme/fixtures/candu.py
  cfme/fixtures/depot.py
  cfme/fixtures/service_fixtures.py
  cfme/fixtures/xunit_tools.py
  cfme/scripting/bz.py
  cfme/scripting/ipyshell.py
  cfme/scripting/polarion.py
  cfme/scripting/quickstart/__init__.py
  cfme/scripting/requirement.py
  cfme/test_framework/appliance_hooks.py
  cfme/tests/ansible/test_embedded_ansible_basic.py
  cfme/tests/ansible/test_embedded_ansible_services.py
  cfme/tests/automate/custom_button/test_custom_menu.py
  cfme/tests/automate/generic_objects/test_definitions.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cloud/test_quota_tagging.py
  cfme/tests/cloud/test_tenant_quota.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/configure/test_docs.py
  cfme/tests/containers/test_chargeback.py
  cfme/tests/control/test_default_alerts.py
  cfme/tests/intelligence/chargeback/test_chargeback_long_term_rates.py
  cfme/tests/intelligence/chargeback/test_resource_allocation.py
  cfme/tests/optimize/test_bottlenecks.py
  cfme/tests/services/test_cloud_service_catalogs.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/test_replication.py
  cfme/utils/ansible.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/db.py
  cfme/utils/appliance/implementations/rest.py
  cfme/utils/blockers.py
  cfme/utils/ftp.py
  cfme/utils/ipmi.py
  cfme/utils/perf_message_stats.py
  cfme/utils/smem_memory_monitor.py
  cfme/utils/ssh.py
  cfme/utils/stats.py
  cfme/utils/tracer.py
  docs/conf.py
  scripts/apishow.py
  scripts/azure_cleanup.py
  scripts/ec2cleanup.py
  scripts/list_tests.py
Labels: enhancement, lint-ok

#10005 [1LP][RFR] updating TC to fix failure
  cfme/tests/v2v/test_v2v_cancel_migrations.py
Labels: fix-test, lint-ok

#9982 [1LP][RFR] - Fix for SCAP testcase
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/cli/test_appliance_update.py
  cfme/utils/appliance/console.py
Labels: fix-test, lint-ok

#10036 [1LP][RFR] Update setting of pytest.TerminalReporter.writer attribute
  cfme/fixtures/pytest_store.py
Labels: issue-bug, lint-ok

#9918 [1LP][RFR]Targeted refresh tests for EC2 instances/volumes/networks and manual targeted_refresh_template test
  cfme/tests/cloud/test_targeted_refresh.py
Labels: lint-ok, test-automation

#9966 [1LP][RFR] - Removing duplicate tc
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, test-automation

#9997 [1LP][RFR]Test delete cloud provider dashboard after network provider delete
  cfme/storage/manager.py
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, new-test-or-feature

#10022 [1LP][RFR][NOTEST] Change assignee from nachandr to gtalreja for candu
  cfme/test_requirements.py
  cfme/tests/candu/test_azone_graph.py
  cfme/tests/candu/test_candu_manual.py
  cfme/tests/candu/test_cluster_graph.py
  cfme/tests/candu/test_datastore_graph.py
  cfme/tests/candu/test_gap_collection.py
  cfme/tests/candu/test_graph_groupbytag.py
  cfme/tests/candu/test_host_graph.py
  cfme/tests/candu/test_utilization_metrics.py
  cfme/tests/candu/test_vm_graph.py
Labels: lint-ok, test-cleanup

#10023 [1LP][RFR] Remove rhv markers
  cfme/markers/rhv.py
  cfme/tests/automate/test_common_methods.py
  cfme/tests/candu/test_utilization_metrics.py
  cfme/tests/cloud_infra_common/test_cloud_init_provisioning.py
  cfme/tests/cloud_infra_common/test_cockpit_server.py
  cfme/tests/cloud_infra_common/test_custom_attributes_rest.py
  cfme/tests/cloud_infra_common/test_discovery_and_support.py
  cfme/tests/cloud_infra_common/test_events.py
  cfme/tests/cloud_infra_common/test_html5_vm_console.py
  cfme/tests/cloud_infra_common/test_power_control_rest.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/cloud_infra_common/test_relationships.py
  cfme/tests/cloud_infra_common/test_rest_providers.py
  cfme/tests/cloud_infra_common/test_retirement.py
  cfme/tests/cloud_infra_common/test_snapshots_rest.py
  cfme/tests/cloud_infra_common/test_tag_visibility.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
  cfme/tests/cloud_infra_common/test_vm_ownership.py
  cfme/tests/control/test_alerts.py
  cfme/tests/infrastructure/test_child_tenant.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_host_analysis.py
  cfme/tests/infrastructure/test_host_drift_analysis.py
  cfme/tests/infrastructure/test_individual_host_creds.py
  cfme/tests/infrastructure/test_iso_datastore.py
  cfme/tests/infrastructure/test_iso_provisioning.py
  cfme/tests/infrastructure/test_project_quota.py
  cfme/tests/infrastructure/test_providers.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
  cfme/tests/infrastructure/test_provisioning_rest.py
  cfme/tests/infrastructure/test_publish_vm_to_template.py
  cfme/tests/infrastructure/test_pxe_provisioning.py
  cfme/tests/infrastructure/test_quota.py
  cfme/tests/infrastructure/test_quota_tagging.py
  cfme/tests/infrastructure/test_snapshot.py
  cfme/tests/infrastructure/test_tenant_quota.py
  cfme/tests/infrastructure/test_vm_clone.py
  cfme/tests/infrastructure/test_vm_delete.py
  cfme/tests/infrastructure/test_vm_migrate.py
  cfme/tests/infrastructure/test_vm_power_control.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
  cfme/tests/intelligence/reports/test_canned_corresponds.py
  cfme/tests/intelligence/reports/test_validate_chargeback_report.py
  cfme/tests/intelligence/reports/test_views.py
  cfme/tests/networks/test_provision_to_virtual_network.py
  cfme/tests/services/test_different_dialogs_in_catalogs.py
  cfme/tests/services/test_iso_service_catalogs.py
  cfme/tests/services/test_pxe_service_catalogs.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/services/test_service_customer_bz.py
  cfme/tests/services/test_service_manual_approval.py
  cfme/tests/ssui/test_ssui_myservice.py
  cfme/tests/ssui/test_ssui_service_catalogs.py
  cfme/utils/tests/test_vm_name_assignee.py
  cfme/utils/tests/test_vm_name_assignee_func_scope.py
  conftest.py
  scripts/tier_analyzer.py
Labels: lint-ok, test-cleanup

#10024 [1LP][RFR] Change assignee from anikifor to gtalreja for S&F
  cfme/tests/infrastructure/test_advanced_search_host.py
  cfme/tests/infrastructure/test_advanced_search_providers.py
  cfme/tests/infrastructure/test_advanced_search_vms.py
  cfme/tests/infrastructure/test_set_default_filter.py
  cfme/tests/networks/test_sdn_topology.py
  cfme/tests/services/test_service_catalogs.py
  cfme/tests/webui/test_advanced_search.py
  cfme/tests/webui/test_expression_editor.py
Labels: lint-ok, manual, test-cleanup

#10026 [1LP][RFR]-Reassigning Auth FA's ownership
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/integration/test_aws_iam_auth_and_roles.py
  cfme/tests/integration/test_cfme_auth.py
  cfme/tests/integration/test_db_auth.py
  cfme/tests/integration/test_external_auth.py
  cfme/tests/integration/test_ldap_auth.py
  cfme/tests/integration/test_ldap_auth_and_roles.py
Labels: lint-ok, manual, test-cleanup

#10028 [1LP][RFR] Fix marker_filters logic
  cfme/markers/marker_filters.py
Labels: fix-test, lint-ok

#10030 [1LP][RFR] - Updating assignee of automate FA
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_class.py
  cfme/tests/automate/test_common_methods.py
  cfme/tests/automate/test_domain.py
  cfme/tests/automate/test_domain_priority.py
  cfme/tests/automate/test_file_import.py
  cfme/tests/automate/test_git_import.py
  cfme/tests/automate/test_instance.py
  cfme/tests/automate/test_method.py
  cfme/tests/automate/test_namespace.py
  cfme/tests/automate/test_service_automate.py
  cfme/tests/automate/test_service_dialog.py
  cfme/tests/automate/test_simulation.py
  cfme/tests/automate/test_smoke.py
  cfme/tests/automate/test_vmware_methods.py
Labels: lint-ok, test-cleanup

#10032 [1LP][RFR][NOTEST] Remove pylint comments
  .landscape.yml
  cfme/fixtures/xunit_tools.py
  cfme/tests/candu/test_candu_manual.py
  cfme/tests/candu/test_nor_rightsize.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/distributed/test_appliance_manual.py
  cfme/tests/intelligence/test_chargeback_manual.py
  cfme/tests/satellite/test_satellite_manual.py
  cfme/tests/services/test_tower_manual.py
  cfme/tests/test_server_manual.py
Labels: enhancement, lint-ok, test-cleanup

#10035 [1LP][RFR] Fix call to set_retirement_date in test_vm_retire_extend
  cfme/tests/automate/test_common_methods.py
Labels: fix-test, lint-ok

#10042 [RFR] Control FA - Changed assignee
  cfme/tests/control/test_actions.py
  cfme/tests/control/test_basic.py
  cfme/tests/control/test_compliance.py
  cfme/tests/control/test_control_simulation.py
  cfme/tests/control/test_default_alerts.py
  cfme/tests/control/test_export_policies.py
  cfme/tests/control/test_import_policies.py
  cfme/tests/control/test_smoke_control.py
Labels: lint-ok

#10041 [RFR] Multi-tenancy - Changed assignee
  cfme/tests/configure/test_access_control.py
Labels: lint-ok

#10031 [1LP][RFR] FA reassignment
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: lint-ok, test-cleanup

#10045 [1LP][RFR][NOTEST] Assign tests to tpapaioa after focus area change
  cfme/tests/automate/generic_objects/buttons/test_generic_class_custom_button.py
  cfme/tests/cloud/test_quota.py
  cfme/tests/cloud/test_quota_tagging.py
  cfme/tests/cloud/test_tenant.py
  cfme/tests/cloud/test_tenant_quota.py
  cfme/tests/cloud_infra_common/test_quota_manual.py
  cfme/tests/cloud_infra_common/test_quota_with_multiple_providers.py
  cfme/tests/configure/test_analysis_profiles.py
  cfme/tests/control/test_alerts.py
  cfme/tests/control/test_bugs.py
  cfme/tests/infrastructure/test_child_tenant.py
  cfme/tests/infrastructure/test_project_quota.py
  cfme/tests/infrastructure/test_quota.py
  cfme/tests/infrastructure/test_quota_tagging.py
  cfme/tests/infrastructure/test_tenant_quota.py
  cfme/tests/intelligence/reports/test_report_chargeback.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#10038 [1LP][RFR] service dialog regex validation
  cfme/tests/services/test_dialog_regex_validation_in_catalog.py
Labels: lint-ok, test-cleanup

#10034 [1LP][RFR] React on review comments of PR10019
  cfme/tests/cloud_infra_common/test_provisioning.py
Labels: fix-framework, lint-ok

#10044 [1LP][RFR] Fix OpenStack volume tests
  cfme/tests/openstack/cloud/test_instances.py
  cfme/tests/openstack/cloud/test_volume_backup.py
  cfme/tests/openstack/cloud/test_volumes.py
Labels: fix-test, lint-ok

#10046 [1LP][RFR]Test ec2 instance memory metrics
  cfme/tests/candu/test_candu_manual.py
Labels: lint-ok, manual, new-test-or-feature

#10050 [RFR] Fix TypeError in sprout model update_fields kwarg
  sprout/appliances/models.py
Labels: lint-ok, sprout

#10051 [1LP][RFR] Update owner for tests in the power control and tag visibility FAs.
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud_infra_common/test_discovery_and_support.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/cloud_infra_common/test_relationships.py
  cfme/tests/cloud_infra_common/test_tag_objects.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/infrastructure/test_infra_tag_filters_combination.py
  cfme/tests/infrastructure/test_vm_ownership.py
  cfme/tests/infrastructure/test_vm_power_control.py
  cfme/tests/networks/test_sdn_balancers.py
  cfme/tests/networks/test_tag_tagvis.py
  cfme/tests/services/test_catalog_item.py
  cfme/tests/ssui/test_ssui_tags.py
Labels: WIP-testing, lint-ok, manual

#10049 [RFR] Add in Ansible Tower 3.4, 3.5 to supportability.yaml
  conf/supportability.yaml
Labels: infra-related, lint-ok

#10048 [1LP][RFR][NOTEST] Assign multi-region tests to tpapaioa
  cfme/tests/cloud/test_instance_reconfigure.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
Labels: lint-ok, test-cleanup

#10055 [1LP][RFR] Reassigning SSA test
  cfme/test_requirements.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis_manual.py
  cfme/tests/infrastructure/test_cluster_analysis.py
  cfme/tests/infrastructure/test_datastore_analysis.py
  cfme/tests/infrastructure/test_host_analysis.py
  cfme/tests/infrastructure/test_host_drift_analysis.py
  cfme/tests/infrastructure/test_ssa_vddk.py
Labels: lint-ok, test-cleanup

#10066 [RFR] Move pytest.mark.manual to the top of the file
  cfme/tests/integration/test_auth_manual.py
Labels: lint-ok, manual

#10065 [1LP][RFR] Refactoring the TC as per check_vm_status method definition
  cfme/tests/v2v/test_csv_import.py
Labels: fix-test, lint-ok

#10060 [1LP][RFR] Add tests_data.json to .gitignore
  .gitignore
Labels: lint-ok, other

#10058 [1LP][WIPTEST] Updating set_conversion_host_api() for 5.11.5
  cfme/fixtures/v2v_fixtures.py
  widgetastic_manageiq/__init__.py
Labels: WIP-testing, fix-test, lint-ok

#10069 [1LP][RFR] Remove manual test test_host_refresh as it is automated
  cfme/tests/infrastructure/test_host_manual.py
Labels: lint-ok, manual

#10068 [1LP][RFR] Fix typo in skip_msg format when provider setup fails.
  cfme/fixtures/provider.py
Labels: enhancement, lint-ok

#10067 [1LP][RFR] Remove deprecated override kwarg from pytest.mark.provider calls.
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, test-cleanup

#10059 [1LP][RFR] Assign generic_objects tests to tpapaioa + small fix
  cfme/tests/automate/generic_objects/test_definitions.py
  cfme/tests/automate/generic_objects/test_instances.py
Labels: lint-ok, test-cleanup

#10053 [1LP][RFR] Cleaning Up Manual Container Test Plans
  cfme/tests/cloud_insights/test_cloud_insights_manual.py
  cfme/tests/containers/test_project_quota_historical_data.py
Labels: lint-ok, manual

#10014 [1LP][RFR] Make tests work around bug closed as DEFERRED.
  cfme/intelligence/reports/__init__.py
  cfme/intelligence/reports/widgets/__init__.py
  cfme/tests/intelligence/reports/test_crud.py
  cfme/tests/intelligence/test_dashboard.py
  cfme/utils/blockers.py
  cfme/utils/bz.py
Labels: enhancement, lint-ok

#10072 [1LP][RFR] Remove BZ blockers for test_set_memory_threshold
  cfme/tests/configure/test_workers.py
Labels: blockers-only, lint-ok

#10057 [1LP][RFR] Automated test_storage_volume_backup_restore tests
  cfme/storage/volume_backup.py
  cfme/tests/storage/test_volume_backup.py
Labels: lint-ok, test-automation

#10062 [1LP][RFR] Remove local vm fixtures so common create_vm is used.
  cfme/tests/infrastructure/test_vm_clone.py
  cfme/tests/infrastructure/test_vm_delete.py
  cfme/tests/infrastructure/test_vm_engine_relationship.py
Labels: lint-ok, test-cleanup

#10063 [1LP][RFR] Fix provider fixture scope
  cfme/fixtures/provider.py
  cfme/markers/env_markers/provider.py
Labels: issue-bug, lint-ok

#9870 [1LP][RFR] Automate: test_widget_generate_content_via_rest
  cfme/intelligence/reports/widgets/__init__.py
  cfme/tests/intelligence/reports/test_widgets.py
Labels: lint-ok, test-automation

#10037 [1LP][RFR] Fix test_embedded_ansible_actions
  cfme/tests/ansible/test_embedded_ansible_actions.py
Labels: fix-test, lint-ok

#10052 [1LP][RFR] Automating dynamic refresh dialog test
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_dynamicdd_dialogelement.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, test-automation, test-cleanup

#10073 [NOTEST][RFR] Action tests against one of each provider
  cfme/tests/control/test_actions.py
Labels: lint-ok, other

#10070 [1LP][RFR] Correct the steps for rebuilding the repo.
  cfme/tests/configure/test_register_appliance.py
Labels: lint-ok, manual

#10076 [1LP][RFR] Fix for test_ansible_service_order_vault_credentials
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: fix-test, lint-ok

#10075 [1LP][RFR] Fix test_embedded_ansible_custom_button
  cfme/tests/ansible/test_embedded_ansible_automate.py
Labels: fix-test, lint-ok

#10043 [1LP][RFR] regex validation test
  cfme/tests/services/test_dialog_regex_validation_in_catalog.py
Labels: lint-ok, test-automation

#10083 [1LP][RFR] Fix bug in format of output in _setup_provider_verbose
  cfme/fixtures/provider.py
Labels: WIP, issue-bug, lint-ok

#10079 [1LP][RFR] Adding test coverage for bugzilla
  cfme/tests/v2v/test_v2v_manual.py
Labels: lint-ok, manual
