Repository ManageIQ/integration_tests, pull requests merged in 2020-05, with the labels that each got.

#10047 [1LP][RFR] Update set_conversion_host_api() to use CA certs
  cfme/fixtures/v2v_fixtures.py
  cfme/infrastructure/virtual_machines.py
Labels: enhancement, fix-framework, lint-ok

#10077 [1LP][RFR] varmeth
  cfme/cloud/provider/vcloud.py
  cfme/common/provider.py
  cfme/containers/provider/__init__.py
  cfme/containers/provider/openshift.py
  cfme/infrastructure/provider/__init__.py
  cfme/infrastructure/pxe.py
  cfme/networks/provider/nuage.py
  cfme/physical/physical_chassis.py
  cfme/physical/physical_rack.py
  cfme/physical/physical_server.py
  cfme/physical/provider/__init__.py
  cfme/physical/provider/redfish.py
  cfme/services/requests.py
  cfme/utils/tests/test_varmeth.py
  cfme/utils/varmeth.py
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
  requirements/template_scanned_imports.txt
Labels: lint-ok, other, requirements

#10086 [1LP][RFR] Block REST custom button tests
  cfme/tests/automate/custom_button/test_rest_custom_button.py
Labels: blockers-only, lint-ok

#10040 [1LP][RFR]Test storage volume type present
  cfme/tests/storage/test_volume_types.py
Labels: lint-ok, new-test-or-feature

#9706 [1LP][RFR] Automated test_public_images_enable_disable for ec2 and azure
  cfme/tests/cloud/test_cloud_manual.py
  cfme/tests/cloud/test_providers.py
  cfme/utils/appliance/__init__.py
Labels: lint-ok, test-automation

#10071 [1LP][RFR] Fix- Group creation
  cfme/tests/integration/test_cfme_auth.py
Labels: fix-test, lint-ok

#9960 [1LP][RFR] Add is_displayed for specific provider view entities
  cfme/common/provider_views.py
Labels: lint-ok, test-cleanup

#9761 [1LP][RFR] Rewrite of test_infrastructure_hosts_crud for only single hosts
  cfme/common/host_views.py
  cfme/infrastructure/host.py
  cfme/tests/infrastructure/test_host.py
Labels: enhancement, lint-ok

#9664 [1LP][RFR] Fix tests: test_advanced_search.py::TestConfigManagement
  cfme/infrastructure/config_management/config_systems/ansible_tower.py
  cfme/infrastructure/config_management/config_systems/satellite.py
  cfme/tests/webui/test_advanced_search.py
Labels: fix-test, lint-ok

#9985 [1LP][RFR] Cover provisioning issues
  cfme/cloud/provider/__init__.py
  cfme/cloud/provider/ec2.py
  cfme/common/provider.py
  cfme/common/vm.py
  cfme/infrastructure/provider/__init__.py
  cfme/infrastructure/provider/scvmm.py
  cfme/infrastructure/virtual_machines.py
  cfme/services/requests.py
  cfme/tests/cloud_infra_common/test_cloud_init_provisioning.py
  cfme/tests/infrastructure/test_provisioning_dialog.py
  cfme/tests/infrastructure/test_vm_clone.py
Labels: lint-ok, new-test-or-feature

#10061 [1LP][RFR] Continue swapping EC2 with OpenStack and fix HTTP 503 issues.
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/utils/appliance/__init__.py
Labels: fix-test, lint-ok, test-cleanup

#10081 [1LP][RFR] Use distributed_appliances fixture in test_remote_server_advanced_config
  cfme/tests/configure/test_remote_server_tabs.py
Labels: lint-ok, test-cleanup

#10084 [1LP][RFR] Remove fix_httpd_issue from appliance configuration.
  cfme/utils/appliance/__init__.py
Labels: enhancement, lint-ok

#10085 [1LP][RFR] Quota test fixes
  cfme/tests/infrastructure/test_tenant_quota.py
Labels: fix-test, lint-ok, test-cleanup

#10097 [1LP][RFR] Automating dialog field associations dialog test
  cfme/automate/dialogs/dialog_element.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, test-automation

#10098 [RFR] Automate BZ-1741188
  cfme/tests/candu/test_utilization_metrics.py
Labels: lint-ok, test-automation

#10096 [1LP][RFR] Update test_vm_genealogy_detected via summary on vcenter
  cfme/infrastructure/virtual_machines.py
  cfme/tests/cloud_infra_common/test_genealogy.py
Labels: fix-test, lint-ok

#9973 [1LP][RFR] Adding dynamic dialog test with ownership
  cfme/tests/services/test_dynamicdd_dialogelement.py
  cfme/tests/services/test_service_customer_bz.py
Labels: lint-ok, test-automation

#10101 [1LP][RFR] Fixing the vm is_display
  cfme/v2v/migration_plans.py
Labels: fix-framework, lint-ok

#10099 [1LP][RFR] Automating service dialog load test
  cfme/tests/services/test_dynamicdd_dialogelement.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, test-automation, test-cleanup

#10102 [RFR] Fix test_multi_host_multi_vm_migration
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
Labels: fix-test, lint-ok

#9912 [1LP][RFR] Add compare_hosts function to handle navigation and checking compare items
  cfme/common/__init__.py
  cfme/common/host_views.py
  cfme/common/provider_views.py
  cfme/infrastructure/host.py
  cfme/infrastructure/provider/__init__.py
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_providers.py
Labels: enhancement, lint-ok

#10110 [RFR] Remove test_host_removal as it has been added to crud test
  cfme/tests/infrastructure/test_host_manual.py
Labels: lint-ok, test-cleanup

#10074 [1LP][RFR] Adding warm migration support
  cfme/v2v/migration_plans.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, lint-ok

#10109 [1LP][RFR] Fixing test migration_with_no_conversion
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_v2v_migrations_ui.py
Labels: fix-test, lint-ok

#10082 [1LP][RFR] Update docker-py 1.10 to docker 4.2
  cfme/utils/dockerbot/dockerbot.py
  cfme/utils/dockerbot/pytestbase/Dockerfile
  cfme/utils/dockerbot/sel_container.py
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
  requirements/template_scanned_imports.txt
Labels: lint-ok, requirements, tech-debt

#10113 [1LP][RFR] Fixing locator issue for test_retry_migration_plan
  widgetastic_manageiq/__init__.py
Labels: lint-ok

#10091 [1LP][RFR] added blocker marker
  cfme/tests/control/test_actions.py
Labels: blockers-only, lint-ok

#10080 [1LP][RFR] Adding BZ coverage
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_simulation.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/configure/test_access_control.py
  cfme/tests/integration/test_auth_manual.py
Labels: lint-ok, manual

#10106 [1LP][RFR] - Removing duplicate test
  cfme/tests/configure/test_access_control.py
Labels: lint-ok, test-cleanup

#10104 [1LP][RFR] Automating dynamic dialog load value on init
  cfme/tests/services/test_dynamicdd_dialogelement.py
Labels: lint-ok, test-automation, test-cleanup

#10122 [RFR] Update automates and blocker markers and fix a small bug
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_providers.py
Labels: blockers-only, fix-test, lint-ok

#10124 [1LP][RFR] Fixing API 500 error
  cfme/fixtures/v2v_fixtures.py
Labels: fix-test, lint-ok

#10105 [1LP][RFR] - Adding test to login new user using upper case password in the existing testcase
  cfme/tests/configure/test_access_control.py
  cfme/tests/integration/test_db_auth.py
Labels: lint-ok, test-automation

#10103 [1LP][NOTEST][RFR] Add test coverage for Bugzila
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/candu/test_candu_manual.py
Labels: lint-ok, manual

#10125 [1LP][RFR] Change FA assignee for Storage
  cfme/test_requirements.py
  cfme/tests/candu/test_candu_manual.py
  cfme/tests/storage/test_manager.py
  cfme/tests/storage/test_volume.py
  cfme/tests/storage/test_volume_backup.py
  cfme/tests/storage/test_volume_snapshot.py
  cfme/tests/storage/test_volume_types.py
Labels: lint-ok, other

#10126 [1LP][RFR] - checking error on appliance console
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#10090 [1LP][RFR] Add support for create and nav_away to Host.update() and test_infrastructure_hosts_crud
  cfme/common/host_views.py
  cfme/infrastructure/host.py
  cfme/tests/infrastructure/test_host.py
Labels: lint-ok

#10100 [1LP][RFR] automate test_update_yum_no_errors
  cfme/tests/cli/test_appliance_update.py
Labels: lint-ok, test-automation

#10107 [1LP][RFR] Automate: test_retire_multiple_services
  cfme/common/vm.py
  cfme/fixtures/service_fixtures.py
  cfme/rest/gen_data.py
  cfme/tests/services/test_myservice.py
Labels: lint-ok, test-automation

#10108 [1LP][RFR] Automating dynamic dialog refresh field
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_dynamicdd_dialogelement.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, test-automation

#10131 [1LP][RFR] Fix meta marker
  cfme/tests/cloud/test_providers.py
Labels: issue-bug, lint-ok

#10129 [1LP][RFR] Fixing test fix_test_multi_host_multi_vm
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
Labels: fix-test, lint-ok

#10130 [RFR] Updated bz coverage utility to not update bugs in coverage= marker
  cfme/scripting/bz.py
Labels: lint-ok

#10056 [1LP][RFR] Prepare connect_ssh
  cfme/fixtures/utility_vm.py
  cfme/utils/net.py
  cfme/utils/ssh.py
  cfme/utils/tests/test_connect_ssh.py
  requirements/frozen.txt
  requirements/template_non_imported.txt
Labels: enhancement, lint-ok

#10064 [1LP][RFR] Fix VM retirement tests and test cleanup
  cfme/tests/infrastructure/test_vm_retirement_rest.py
  cfme/tests/intelligence/reports/test_import_export_reports_widgets.py
  cfme/tests/webui/test_general_ui.py
Labels: fix-test, lint-ok, test-cleanup

#10112 [1LP][RFR] Update pytest hook parameters
  cfme/fixtures/nelson.py
  cfme/fixtures/ui_coverage.py
  cfme/fixtures/xunit_tools.py
  cfme/markers/manual.py
  cfme/markers/perf.py
  cfme/markers/polarion.py
Labels: lint-ok, other

#10119 [1LP][RFR] Automate: test_service_select_tenants
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/services/test_catalog_item.py
Labels: lint-ok, test-automation

#10115 [1LP][RFR] Fix the test for OSP
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
Labels: fix-test, lint-ok

#10134 [1LP][RFR] Test to create group
  cfme/tests/configure/test_access_control.py
  cfme/tests/integration/test_auth_manual.py
Labels: lint-ok, test-automation

#10135 [1LP][RFR] Automate test_server_role_failover
  cfme/tests/distributed/test_appliance_manual.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: lint-ok, test-automation

#10132 [1LP][RFR] Manual chargeback test cleanup and parametrization
  cfme/tests/intelligence/test_chargeback_manual.py
Labels: lint-ok, manual

#10140 [1LP][RFR][NOTEST]- changing FA owner
  cfme/tests/configure/test_access_control.py
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/services/test_service_rbac.py
  cfme/tests/test_login.py
Labels: lint-ok, test-cleanup

#9952 [1LP][RFR] Fix SSH timeout issue in verify_revert_snapshot
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_snapshot.py
Labels: fix-test, lint-ok

#10139 [1LP][RFR] Adding exception for volume cleanup and Fixing locator for schedule_migration test
  cfme/fixtures/v2v_fixtures.py
  widgetastic_manageiq/__init__.py
Labels: fix-framework, lint-ok

#10136 [1LP][RFR] Fixing TC v2v_custom_attribute
  cfme/tests/v2v/test_v2v_migrations_ui.py
Labels: fix-test, lint-ok

#10142 [1LP][RFR] Update readme with supported CFME version
  README.md
Labels: doc

#10121 [1LP][RFR] Use resolve_fixture_function in provider fixture setup
  cfme/fixtures/provider.py
Labels: enhancement, lint-ok

#10120 [1LP][RFR] - Test to check edit option for existing group
  cfme/tests/configure/test_access_control.py
  cfme/tests/integration/test_auth_manual.py
Labels: lint-ok, test-automation

#10143 [RFR] - user login with special char password
  cfme/tests/integration/test_db_auth.py
  cfme/tests/test_login.py
Labels: lint-ok, test-automation

#10145 [RFR] Cover 1749494
  cfme/tests/test_appliance.py
Labels: lint-ok

#10133 [RFR] Automate: test_dynamic_dialogs_on_service_request
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#10123 Update cfme_data.yaml template with some additional content
  conf/cfme_data.yaml.template
  conf/credentials.yaml.template
Labels: lint-ok, other

#10147 [1LP][RFR] Remove Server Workers tab view for 5.10
  cfme/base/ui.py
  cfme/configure/configuration/server_settings.py
  cfme/tests/configure/test_workers.py
Labels: lint-ok, test-cleanup

#10146 [1LP][RFR] Remove paginator tests that are no longer valid in 5.11
  cfme/tests/configure/test_paginator.py
Labels: lint-ok, test-cleanup

#10148 [RFR] Remove pre-5.11 logic from httpd role test
  cfme/tests/distributed/test_appliance_replication.py
Labels: lint-ok

#10153 [WIPTEST] Update miq_version imports
  cfme/test_framework/sprout/client.py
  cfme/utils/template/base.py
  cfme/utils/template/rhevm.py
  cfme/utils/version.py
  conf/cfme_data.yaml.template
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: WIP-testing, enhancement, lint-ok
