Repository ManageIQ/integration_tests, pull requests merged in 2020-07, with the labels that each got.

#10221 [1LP][RFR] New test: test_create_from_template
  cfme/common/provider.py
  cfme/infrastructure/config_management/__init__.py
  cfme/infrastructure/config_management/ansible_tower.py
  cfme/tests/services/test_rest_services.py
Labels: enhancement, new-test-or-feature

#10223 [1LP][RFR] Bump widgetastic.patternfly
  requirements/frozen.txt
Labels: dependencies, requirements

#10141 [1LP][RFR] Fix HTTP 503 everywhere
  cfme/containers/provider/openshift.py
  cfme/fixtures/appliance.py
  cfme/fixtures/appliance_update.py
  cfme/fixtures/authentication.py
  cfme/fixtures/candu.py
  cfme/fixtures/cli.py
  cfme/fixtures/multi_region.py
  cfme/fixtures/ui_coverage.py
  cfme/fixtures/v2v_fixtures.py
  cfme/scripting/appliance.py
  cfme/scripting/setup_env.py
  cfme/test_framework/appliance_police.py
  cfme/tests/automate/custom_button/test_custom_menu.py
  cfme/tests/cli/test_appliance_cli.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cli/test_appliance_update.py
  cfme/tests/cli/test_evmserverd.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/configure/test_log_depot_operation.py
  cfme/tests/containers/test_blacklisted_container_events.py
  cfme/tests/intelligence/reports/test_reports_schedules.py
  cfme/tests/optimize/test_bottlenecks.py
  cfme/tests/test_appliance.py
  cfme/tests/test_db_migrate.py
  cfme/tests/test_replication.py
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/console.py
  cfme/utils/appliance/db.py
  cfme/utils/appliance/implementations/ui.py
  notebooks/BasicApplianceSetup.ipynb
  scripts/update_rhel.py
  scripts/wait_for_appliance_ui.py
  sprout/appliances/tasks/service_ops.py
Labels: enhancement, lint-ok

#10117 [RFR] Add locals to test_infrastructure_hosts_navigation_after_download and ...
  cfme/tests/infrastructure/test_host.py
Labels: lint-ok

#10225 [1LP][RFR] Add BZ blocker for Azure chargeback / metering tests
  cfme/tests/intelligence/reports/test_metering_report.py
  cfme/tests/intelligence/reports/test_validate_chargeback_report.py
Labels: blockers-only

#10200 [1LP][RFR] Adding dialog text area regex validation test
  cfme/tests/services/test_dialog_regex_validation_in_catalog.py
Labels: test-automation

#10220 [1LP][RFR] Fix test: TestServiceOrderCart
  cfme/tests/services/test_rest_services.py
Labels: fix-test

#10222 [1LP][RFR] New test: custom_attributes subcollection for hosts
  cfme/tests/cloud_infra_common/test_custom_attributes_rest.py
Labels: new-test-or-feature

#10227 [1LP][RFR] Fix quota_limit fixture
  cfme/tests/infrastructure/test_tenant_quota.py
Labels: fix-test

#10172 [RFR] Fix log collection tests.
  cfme/fixtures/depot.py
  cfme/tests/configure/test_log_depot_operation.py
  cfme/utils/appliance/__init__.py
  cfme/utils/net.py
  cfme/utils/ssh.py
Labels: fix-framework, issue-bug

#10215 [1LP][RFR] New test: TestZoneRESTAPI and TestServerRESTAPI
  cfme/base/__init__.py
  cfme/base/ui.py
  cfme/configure/configuration/server_settings.py
  cfme/tests/configure/test_rest_config.py
Labels: enhancement, new-test-or-feature

#10231 [RFR]Update applicable tests to use host fixture in test_host.py
  cfme/tests/infrastructure/test_host.py
Labels: fix-test

#10230 [1LP][NOTEST][RFR] correcting wrongly added BZ coverage
  cfme/tests/configure/test_access_control.py
Labels: manual, test-cleanup

#10177 [1LP][RFR] Improve email tests.
  cfme/fixtures/smtp.py
  cfme/tests/automate/test_method.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/utils/blockers.py
  cfme/utils/net.py
  conf/env.yaml.template
  data/templates/smtp_result.html
  scripts/smtp_collector.py
Labels: enhancement, fix-test

#10218 [RFR] Fix navigation for temp appliance tests
  cfme/fixtures/cli.py
  cfme/tests/cloud_infra_common/test_retirement.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: fix-framework, fix-test

#10234 [RFR][NOTEST] - Adding blocker
  cfme/tests/control/test_actions.py
Labels: blockers-only

#10237 [RFR] Fix deprecation warnings for switch_to_alert() and log_message()
  cfme/utils/appliance/implementations/common.py
  cfme/utils/appliance/implementations/ssui.py
  cfme/utils/appliance/implementations/ui.py
Labels: fix-framework

#10238 [RFR] Fix to switch_to.alert call
  cfme/utils/appliance/implementations/common.py
Labels: issue-bug

#10206 [1LP][RFR] Adding services requester drop down sorting test
  cfme/services/requests.py
  cfme/tests/services/test_catalog_item.py
  cfme/tests/services/test_request.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
  cfme/tests/ssui/test_ssui_service_catalogs.py
Labels: enhancement, test-automation, test-cleanup

#10241 [1LP][RFR][NOTEST] - Removing test
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/configure/test_access_control.py
Labels: test-cleanup

#10233 [1LP][RFR] Fix AttributeError in pytest_polarion_collect
  cfme/fixtures/vm.py
Labels: issue-bug

#10173 [1LP][RFR] - Fixing custom locator issue
  cfme/automate/import_export.py
  cfme/tests/automate/test_domain.py
  widgetastic_manageiq/__init__.py
Labels: fix-test

#10244 [1LP][RFR] Automating ssui/ui dynamic refresh dialog test
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/ssui/test_ssui_service_catalogs.py
Labels: new-test-or-feature

#10243 [1LP][WIP] Bump wait_for
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: requirements

#10228 [1LP][RFR] Automate VM power control from global appliance via REST
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: test-automation

#10194 [RFR] Automate test_utilization_utilization_graphs
  cfme/fixtures/candu.py
  cfme/infrastructure/cluster.py
  cfme/tests/candu/test_candu_manual.py
  cfme/tests/candu/test_utilization.py
Labels: test-automation

#10236 [RFR] New test: test_reconfigure_vm_vmware_multiple
  cfme/fixtures/vm.py
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_vm_reconfigure.py
Labels: fix-framework, test-automation, test-cleanup

#10247 [1LP][RFR] fixing the test_migration_restart TC
  cfme/tests/v2v/test_v2v_migrations_single_vcenter.py
Labels: fix-test

#10245 [1LP][RFR] Automating disable ssui dashboard from Role
  cfme/tests/ssui/test_ssui_service_catalogs.py
Labels: test-automation

#10248 [NOTEST][RFR] adding BZ coverage and cleanup tcs
  cfme/tests/automate/test_service_automate.py
  cfme/tests/configure/test_access_control.py
Labels: manual

#10250 [1LP][RFR] Automate multi-region service retirement tests
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/services/test_service_catalogs_multi_region.py
Labels: test-automation

#10257 [1LP][RFR] Fixing conversion host timeout issue
  cfme/fixtures/v2v_fixtures.py
Labels: fix-test

#10255 [RFR] Unblock test_vm_retirement_from_global_region
  cfme/tests/cloud_infra_common/test_retirement.py
Labels: blockers-only

#10254 [RFR] Remove workaround for BZ 1832278 in test_ntp_server_check
  cfme/tests/configure/test_ntp_server.py
Labels: blockers-only

#10256 [RFR][NOTEST] Remove duplicate test_external_database_appliance
  cfme/tests/test_server_manual.py
Labels: test-cleanup

#10253 [1LP][RFR] Automate test_distributed_delete_offline_worker_appliance
  cfme/base/ui.py
  cfme/modeling/base.py
  cfme/tests/distributed/test_appliance_manual.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: test-automation

#10246 [RFR] Automate test: test_reports_in_global_region
  cfme/intelligence/reports/reports.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/test_rest.py
Labels: enhancement, test-automation

#10258 [RFR] Added two button fixture and automated manual test
  cfme/tests/automate/generic_objects/buttons/test_generic_class_custom_button.py
Labels: test-automation

#10263 [1LP][RFR] Fix clenaups of VMs.
  cfme/common/vm.py
Labels: fix-framework, issue-bug

#10260 [1LP][RFR]- fixing test
  cfme/tests/automate/test_domain.py
  cfme/tests/automate/test_git_import.py
  cfme/tests/test_login.py
Labels: fix-test, test-cleanup

#10266 [RFR] Remove scvmm test for db migrate
  cfme/tests/test_db_migrate.py
Labels: test-cleanup

#10268 [RFR] Update IDs for test_db_migrate
  cfme/tests/test_db_migrate.py
Labels: issue-bug

#10280 [1LP][RFR] Add missing provider fixture for test_cloud_timelines
  cfme/tests/cloud/test_cloud_timelines.py
Labels: issue-bug

#10274 [1LP][RFR] Fix dangerous arg value
  cfme/tests/containers/test_projects_dashboard.py
Labels: enhancement

#10279 [1LP][RFR] - test-fix test_automate_task_schedule
  cfme/tests/automate/test_method.py
Labels: fix-test

#10259 [1LP][RFR] Add test coverage for BZ-1845281
  cfme/tests/ansible/test_embedded_ansible_basic.py
Labels: customer-case, test-automation

#10252 [1LP][RFR] Test OCP provider filter on user
  cfme/tests/configure/test_access_control.py
Labels: test-automation

#10251 [1LP][RFR] Enhance create_rest for OCP
  cfme/common/provider.py
  cfme/containers/provider/__init__.py
  cfme/tests/containers/test_container_provider_crud.py
Labels: enhancement, new-test-or-feature

#10271 [1LP][RFR] Automate test_distributed_zone_delete_occupied
  cfme/tests/distributed/test_appliance_manual.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: test-automation
