Repository ManageIQ/integration_tests, pull requests merged in 2020-06, with the labels that each got.

#10149 [RFR] openssl in quickstart
  cfme/scripting/quickstart/system.py
Labels: lint-ok

#10137 [RFR]Automate: test_database_wildcard_should_work_and_be_included_in_the_query
  cfme/rest/gen_data.py
  cfme/tests/infrastructure/test_vm_rest.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, test-automation

#10160 Update miq-version to 0.4.1, fix bug in ivanchuk release spelling
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: lint-ok, requirements

#10161 [RFR] Block EC2 timelines tests, remove old BZ
  cfme/tests/cloud/test_cloud_timelines.py
Labels: blockers-only, lint-ok

#10155 [1LP][RFR] Remove version logic for Overview navigation name
  cfme/base/__init__.py
  cfme/base/ui.py
  cfme/dashboard.py
  cfme/intelligence/chargeback/__init__.py
  cfme/intelligence/reports/__init__.py
  cfme/intelligence/reports/reports.py
  cfme/intelligence/rss.py
  cfme/intelligence/timelines.py
  cfme/tests/intelligence/reports/test_crud.py
Labels: lint-ok, test-cleanup

#10159 [1LP][RFR] Fixing multiple jenkins failures
  widgetastic_manageiq/__init__.py
Labels: fix-locator-or-text, lint-ok

#10163 [1LP][RFR][NOTEST] Add GH blocker for Azure instance metrics capture
  cfme/tests/intelligence/chargeback/test_resource_allocation.py
  cfme/tests/intelligence/reports/test_metering_report.py
  cfme/tests/intelligence/reports/test_validate_chargeback_report.py
Labels: blockers-only, lint-ok

#10039 [1LP][RFR] Automate genealogy tests
  cfme/infrastructure/virtual_machines.py
  cfme/tests/cloud_infra_common/test_genealogy.py
Labels: lint-ok, test-automation

#10152 [1LP][RFR] Reverting all UCI code for RHV
  cfme/fixtures/v2v_fixtures.py
Labels: fix-framework, lint-ok

#10165 [1LP][RFR] Fix test: test_download_pdf
  cfme/intelligence/reports/reports.py
  cfme/tests/intelligence/test_download_report.py
  cfme/tests/networks/test_sdn_downloads.py
Labels: enhancement, fix-test, lint-ok

#10166 [1LP][RFR] Fix test: test_optimization_report
  cfme/tests/intelligence/test_optimization.py
Labels: fix-test, lint-ok, test-cleanup

#10168 [1LP][RFR] Fix test: test_ssa_cluster_relationships
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: enhancement, fix-test, lint-ok

#10169 [1LP][RFR] Fixing Title locator
  widgetastic_manageiq/__init__.py
Labels: fix-locator-or-text, lint-ok

#10167 [1LP][RFR] Remove references to has_no_cloud_providers and has_no_infra_providers
  cfme/tests/cloud/test_providers.py
  cfme/tests/infrastructure/test_provider_discovery.py
  cfme/tests/infrastructure/test_providers.py
  cfme/tests/services/test_service_catalogs.py
Labels: fix-test, lint-ok

#10144 [1LP][RFR] NTP settings fixes
  cfme/tests/configure/test_ntp_server.py
Labels: fix-test, lint-ok

#10164 [1LP][RFR] Fix to managed_known_providers name checking
  cfme/utils/appliance/__init__.py
  cfme/utils/tests/test_providers.py
Labels: issue-bug, lint-ok

#10157 [1LP][RFR] Automating load multiple service
  cfme/tests/services/test_myservice.py
Labels: lint-ok, test-automation

#10170 [RFR] Add manual tests for v2v for bugs fixed in 5.11.5
  cfme/tests/v2v/test_v2v_manual.py
Labels: manual

#10114 [1LP][RFR] - test to check "Edit Tags" option
  cfme/roles.py
  cfme/tests/configure/test_access_control.py
Labels: WIP-testing, lint-ok, test-automation

#10178 [1LP][RFR]Remove manual test as it is automated now
  cfme/tests/infrastructure/test_host_manual.py
Labels: manual

#10175 [1LP][RFR] Fix test_conversion_host_ui
  cfme/tests/v2v/test_conversion_host_ui.py
Labels: fix-test

#10179 [1LP][RFR] Fix provider filter on test_vm_create
  cfme/tests/cloud_infra_common/test_events.py
Labels: fix-test

#10192 [1LP][RFR] [NOTEST] Fix KeyError in show-credential script
  cfme/scripting/conf.py
Labels: issue-bug

#10156 [1LP][RFR] Automating retire multiple service on date
  cfme/tests/services/test_myservice.py
Labels: WIP-testing, lint-ok, test-automation

#10174 [1LP][RFR]New test: test_timepicker_on_service_order
  cfme/tests/services/test_generic_service_catalogs.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
  widgetastic_manageiq/__init__.py
Labels: enhancement, new-test-or-feature, test-automation

#10180 [1LP][RFR] Fix provider filters in test_power_control_rest module
  cfme/tests/cloud_infra_common/test_power_control_rest.py
Labels: enhancement, test-cleanup

#10195 [1LP][RFR] Remove BootstrapSelectByLocator
  cfme/intelligence/chargeback/assignments.py
  widgetastic_manageiq/hacks.py
Labels: fix-locator-or-text

#10188 [1LP][RFR] - check Key Pair list using aws provider
  cfme/tests/configure/test_access_control.py
  cfme/tests/integration/test_auth_manual.py
Labels: test-automation

#10187 [1LP][RFR] Add test_snapshot_link_after_delete
  cfme/tests/infrastructure/test_snapshot.py
Labels: test-automation

#10193 [1LP][RFR] Adding new test dynamic dialog load
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
  cfme/tests/ssui/test_ssui_service_catalogs.py
Labels: test-automation

#10182 [1LP][RFR] Add test_infrastructure_hosts_tagging
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_host_manual.py
Labels: test-automation

#10198 [1LP][RFR] Adding dynamic dialog time picker test
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: test-automation

#10196 [1LP][RFR] Automating Ansible tower catalog change template
  cfme/tests/services/test_catalog_item.py
  cfme/tests/services/test_config_provider_servicecatalogs.py
  cfme/tests/test_manual.py
Labels: test-automation

#10199 [1LP][RFR] Adding dialog datepicker on request details page
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: test-automation

#10092 [1LP][RFR] Automating retire bundle with multiple VM test
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_catalogs_bundles.py
Labels: WIP-testing, lint-ok, test-automation

#10186 [1LP][RFR] [NOTEST] Only run teardown hooks if artifactor client exists
  cfme/fixtures/artifactor_plugin.py
Labels: issue-bug

#10183 [1LP][RFR] Chargeback resource allocation fixes
  cfme/tests/intelligence/chargeback/test_resource_allocation.py
Labels: fix-test, test-cleanup

#10162 [1LP][RFR] Create test_import_tag and implement fixtures and functions it needs
  cfme/configure/configuration/region_settings.py
  cfme/tests/configure/test_tag.py
Labels: lint-ok, new-test-or-feature

#10202 [1LP][RFR] Remove 5.10 version of ServerRolesView
  cfme/configure/configuration/server_settings.py
Labels: test-cleanup

#10176 [1LP][RFR] Add comparison of OS data after revert to test_verify_revert_snapshot
  cfme/infrastructure/virtual_machines.py
  cfme/tests/infrastructure/test_snapshot.py
Labels: new-test-or-feature

#10189 [1LP][RFR] Fix provider parametrization for 'all' selector
  cfme/markers/env_markers/provider.py
  cfme/utils/tests/test_providers.py
Labels: issue-bug

#10203 [1LP][RFR] Add coverage for BZ 1824811
  cfme/control/explorer/conditions.py
  cfme/tests/control/test_compliance.py
Labels: fix-framework, test-automation

#10204 [1LP][RFR] Add BZ and enhacement card coverage
  cfme/intelligence/reports/reports.py
  cfme/services/requests.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/configure/test_workers.py
  cfme/tests/infrastructure/test_vm_rest.py
  cfme/tests/integration/test_auth_manual.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/intelligence/test_optimization.py
Labels: test-automation, test-cleanup

#10205 [1LP][RFR] Automate: test_ec2_targeted_refresh_floating_ip
  cfme/tests/cloud/test_targeted_refresh.py
Labels: test-automation

#10210 [1LP][RFR][NOTEST] Set caseimportance and manualonly for NOR / Right Sizing tests
  cfme/tests/candu/test_nor_rightsize.py
Labels: test-cleanup

#10212 [1LP][RFR] New test:test_vm_disk_subcollection AND test_edit_template
  cfme/tests/infrastructure/test_rest_templates.py
  cfme/tests/infrastructure/test_vm_rest.py
Labels: new-test-or-feature

#10209 [1LP][RFR] New test: test_rest_vm_compliance_subcollection
  cfme/tests/control/test_compliance.py
Labels: new-test-or-feature

#10208 [1LP][RFR] Automate policy_profiles test for rest
  cfme/rest/gen_data.py
  cfme/tests/control/test_rest_control.py
Labels: enhancement, new-test-or-feature

#10211 [1LP][RFR] Add ceilometer endpoint to create_rest()
  cfme/common/provider.py
Labels: enhancement

#10197 [1LP][RFR] Add test_infrastructure_hosts_viewing
  cfme/common/host_views.py
  cfme/infrastructure/host.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_host_manual.py
Labels: test-automation

#10151 [1LP][RFR] Partial automation of test_power_operations_from_global_region
  cfme/cloud/instance/azure.py
  cfme/cloud/instance/ec2.py
  cfme/cloud/instance/gce.py
  cfme/cloud/instance/openstack.py
  cfme/tests/cloud_infra_common/test_power_control_manual.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: WIP-testing, lint-ok

#10216 [1LP][RFR] Fix error caused by varying items on Schedules dialog depending on schedule type.
  cfme/cloud/provider/azure.py
  cfme/configure/configuration/system_schedules.py
Labels: fix-test

#10213 [1LP][RFR] New test:test_edit_zone
  cfme/base/__init__.py
  cfme/tests/configure/test_rest_config.py
Labels: enhancement, new-test-or-feature

#10219 [1LP][RFR][NOTEST] - Updating widgetastic patternfly version
  requirements/frozen_docs.py3.txt
Labels: dependencies

#10224 [1LP][RFR] Fix setting logger level from config
  cfme/utils/log.py
Labels: fix-framework
