Repository ManageIQ/integration_tests, pull requests merged in 2020-03, with the labels that each got.

#9942 [1LP][RFR] Update snapshot tests to use create_vm fixture
  cfme/common/vm.py
  cfme/tests/infrastructure/test_snapshot.py
Labels: enhancement, lint-ok

#9951 [1LP][RFR] Remove openshift provider in genealogy tests
  cfme/tests/cloud_infra_common/test_genealogy.py
Labels: lint-ok, test-cleanup

#9944 [1LP][RFR][NOTEST] - Logfile configuration with new disk
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, manual

#9965 [1LP][RFR] Change assignee from sbulage to gtalreja in ansible tests
  cfme/tests/ansible/test_embedded_ansible_actions.py
  cfme/tests/ansible/test_embedded_ansible_automate.py
  cfme/tests/ansible/test_embedded_ansible_basic.py
  cfme/tests/ansible/test_embedded_ansible_crud.py
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: lint-ok, manual

#9953 [1LP][RFR] Fix locator 5.11
  widgetastic_manageiq/__init__.py
Labels: fix-locator-or-text, lint-ok

#9424 [1LP][RFR] Add test_compare_provider_templates to test_providers.py
  cfme/common/provider_views.py
  cfme/tests/infrastructure/test_providers.py
Labels: lint-ok, new-test-or-feature

#9958 [RFR] BZ coverage for 1712944
  cfme/tests/test_appliance.py
Labels: lint-ok, other

#9963 [RFR][NOTEST] Assign replication tests to tpapaioa
  cfme/tests/configure/test_config_manual.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/services/test_service_catalogs_multi_region.py
Labels: lint-ok, other

#9954 [1LP][RFR] V2V : Update set_conversion_host_api function
  cfme/fixtures/v2v_fixtures.py
Labels: fix-test, lint-ok

#9975 [1LP][RFR] UCI code for RHV shouldn't be executed for <=5.11.4
  cfme/fixtures/v2v_fixtures.py
Labels: fix-test, lint-ok

#9979 [1LP][RFR]Fixing get_conversion_data calling
  cfme/tests/v2v/test_conversion_host_ui.py
Labels: fix-test, lint-ok

#9971 [1LP][RFR] Fix test service orchestration template
  cfme/services/catalogs/orchestration_template.py
Labels: fix-test, lint-ok

#9972 [1LP][RFR] Remove test_info for test_docs.py
  cfme/tests/configure/test_docs.py
Labels: lint-ok, test-cleanup

#9977 [1LP][RFR] Fixing conversion host api for OSP
  cfme/fixtures/v2v_fixtures.py
Labels: fix-test, lint-ok

#9939 [1LP][RFR] Adding dynamic dialog with custom button test
  cfme/tests/services/test_dynamicdd_dialogelement.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: customer-case, lint-ok, new-test-or-feature

#9959 [1LP][RFR] Swap EC2 with OpenStackProvider in cfme/fixtures/cli.py
  cfme/fixtures/cli.py
Labels: fix-test, lint-ok

#9955 [1LP][RFR] Add test_appliance_httpd_roles
  cfme/tests/distributed/test_appliance_manual.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: lint-ok, test-automation

#9970 [1LP][RFR] Update widgetastic.patternfly to fix FlashMessages exception handling
  requirements/frozen.txt
Labels: lint-ok, requirements

#9981 [1LP][RFR] Fixing is_displayed for service dialog
  cfme/automate/dialogs/__init__.py
  cfme/automate/dialogs/service_dialogs.py
Labels: fix-framework, lint-ok

#9962 [1LP][RFR] - Test to check overwrite SSL cert
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, new-test-or-feature

#9976 [1LP][RFR] Uncollect Server > Database tests in test_paginator_config_pages
  cfme/tests/configure/test_paginator.py
Labels: lint-ok, test-cleanup

#9974 [1LP][RFR] Add end version of 5.10 for test_configure_vmdb_last_start_time
  cfme/tests/configure/test_database_ui.py
Labels: lint-ok, test-cleanup

#9957 [1LP][RFR] Automate test_appliance_replicate_zones
  cfme/tests/distributed/test_appliance_replication.py
  cfme/tests/distributed/test_appliance_replication_manual.py
Labels: lint-ok, test-automation

#9964 [1LP][RFR] Add test_appliance_replicate_remote_down
  cfme/tests/configure/test_config_manual.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: lint-ok, test-automation

#9980 [1LP][RFR] Adding copy catalog bundle
  cfme/services/catalogs/catalog_items/catalog_bundles.py
  cfme/tests/services/test_generic_service_catalogs.py
Labels: enhancement, lint-ok, test-automation

#9993 [RFR] Remove UCI blocker BZ for test_v2v_cancel_migrations.py tests
  cfme/tests/v2v/test_v2v_cancel_migrations.py
Labels: blockers-only, lint-ok

#9987 [RFR] Changing RBAC FA ownership
  cfme/tests/configure/test_access_control.py
Labels: lint-ok, other

#10001 [RFR] Updating requirement markers, adding priority and re-assigning
  cfme/test_requirements.py
  conf/polarion_tools.yaml
Labels: lint-ok, other

#10004 [RFR] v2v : Add alert attribute to InfrastructureMappingView
  cfme/tests/v2v/test_v2v_migrations_ui.py
  cfme/v2v/infrastructure_mapping.py
Labels: fix-framework, lint-ok

#9984 [1LP][RFR] Transfer tests to jhenner.
  cfme/test_requirements.py
  cfme/tests/cli/test_appliance_cli.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/configure/test_log_depot_operation.py
  cfme/tests/configure/test_logs.py
  cfme/tests/infrastructure/test_config_management.py
  cfme/tests/infrastructure/test_host.py
  cfme/tests/infrastructure/test_iso_datastore.py
  cfme/tests/infrastructure/test_providers.py
  cfme/tests/infrastructure/test_publish_vm_to_template.py
  cfme/tests/infrastructure/test_snapshot.py
  cfme/tests/infrastructure/test_vm_delete.py
  cfme/tests/infrastructure/test_vm_engine_relationship.py
  cfme/tests/networks/test_provision_to_virtual_network.py
  cfme/tests/services/test_ansible_workflow_servicecatalogs.py
  cfme/tests/services/test_config_provider_servicecatalogs.py
  cfme/tests/services/test_iso_service_catalogs.py
  conf/polarion_tools.yaml
Labels: lint-ok, manual

#10007 [RFR] v2v: Fix parametrization of test_migrations_different_os_templates
  cfme/tests/v2v/test_v2v_migrations.py
Labels: fix-test, lint-ok

#9986 [1LP][RFR] Automating bundle test #bz 1671522
  cfme/tests/services/test_catalog_item.py
  cfme/tests/services/test_generic_service_catalogs.py
Labels: lint-ok, test-automation

#9998 [1LP][RFR] Adding service dialog multi drop test
  cfme/automate/dialogs/dialog_element.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: customer-case, lint-ok, test-automation

#10008 [1LP][RFR] Adding blockers bz in catalog duplicate test
  cfme/tests/services/test_catalog_item.py
Labels: blockers-only, lint-ok

#9996 [1LP][RFR] Adding multi_drop down service dialog test
  cfme/services/service_catalogs/__init__.py
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok

#10009 [1LP][RFR] Removed test test_bundles_in_bundle
  cfme/tests/services/test_generic_service_catalogs.py
Labels: lint-ok, test-cleanup

#10002 [1LP][RFR] Adding dropdown descending value test
  cfme/tests/services/test_dynamicdd_dialogelement.py
Labels: customer-case, lint-ok, test-automation

#10000 [1LP][RFR] Move distributed and replicated appliance configuration to fixtures
  cfme/fixtures/cli.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cli/test_appliance_update.py
  cfme/tests/distributed/test_appliance_replication.py
Labels: enhancement, lint-ok

#10012 [1LP][RFR] Fixing jenkins failure
  cfme/tests/v2v/test_csv_import.py
Labels: fix-test, lint-ok, test-cleanup

#9921 [1LP][RFR] - Fixed TCs
  cfme/fixtures/cli.py
  cfme/tests/cli/test_appliance_console.py
Labels: fix-test, lint-ok

#10011 [1LP][RFR] Automating default non required value drop dialog
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, new-test-or-feature

#9989 [1LP][RFR] Adding stack bundle retire test
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_provision_stack.py
Labels: lint-ok, test-automation

#9978 [1LP][RFR] Fix tests
  cfme/automate/explorer/method.py
  cfme/fixtures/provider.py
  cfme/intelligence/reports/menus.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/configure/test_default_filters.py
  cfme/tests/infrastructure/test_providers.py
  cfme/tests/infrastructure/test_vm_retirement_rest.py
  cfme/tests/intelligence/reports/test_canned_corresponds.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/test_download_report.py
  cfme/tests/webui/test_general_ui.py
Labels: enhancement, fix-locator-or-text, fix-test, lint-ok

#9988 [1LP][RFR] datetime testcase- Feature removed in 5.11 so TC not running on 5.11
  cfme/tests/cli/test_appliance_cli.py
Labels: lint-ok, test-cleanup

#9872 [1LP][RFR] Test provider compare regions provider and backup
  cfme/base/ui.py
  cfme/configure/configuration/system_schedules.py
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, new-test-or-feature

#9990 [1LP][RFR] Adding tower bundle retire test
  cfme/tests/automate/test_ansible_tower_automate.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, new-test-or-feature

#9991 [1LP][RFR] Adding ec2 service stack test
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_provision_stack.py
Labels: lint-ok, test-automation

#9992 [1LP][RFR] Added automation coverage for test_keypair_ownership_association
  cfme/tests/cloud/test_keypairs.py
Labels: blockers-only, lint-ok

#10010 [1LP][RFR] Dedup scap_check_rules.
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-cleanup

#10006 [1LP][RFR] Add test_appliance_reporting_role for BZ 1629945
  cfme/tests/distributed/test_appliance_replication.py
Labels: lint-ok, new-test-or-feature

#10003 [1LP][RFR] Automating service bundle and vm retire test
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_myservice.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: lint-ok, test-automation

#10013 [1LP][RFR] Fixing rest_mapping related TC for OSP
  cfme/tests/v2v/test_rest_migrations.py
Labels: WIP-testing, fix-test, lint-ok, test-cleanup

#10021 [1LP][RFR] Removing manual test
  cfme/tests/services/test_dynamicdd_dialogelement.py
Labels: lint-ok, manual

#10018 [1LP][RFR] Move manual chargeback tests from test_manual.py and parametrize them
  cfme/tests/intelligence/reports/test_validate_chargeback_report_manual.py
  cfme/tests/test_manual.py
Labels: lint-ok, manual

#10017 [1LP][RFR] maintenance of requirement "restore"
  cfme/test_requirements.py
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, requirements

#9999 [1LP][RFR] Fix for test_service_rbac
  cfme/tests/services/test_service_rbac.py
Labels: fix-test, lint-ok

#10016 [1LP][RFR] Parametrize correct fixture on transformation_method for v2v
  cfme/tests/v2v/test_v2v_smoke.py
Labels: lint-ok, test-cleanup

#10019 [RFR] Test provision approval deny
  cfme/tests/cloud_infra_common/test_provisioning.py
Labels: lint-ok, test-cleanup

#10020 [RFR] fixing retry fixture and test_retry_migration_plan
  cfme/tests/v2v/test_v2v_cancel_migrations.py
  cfme/v2v/migration_plans.py
Labels: fix-framework, lint-ok

#10025 [RFR] Update requirements freeze
  requirements/frozen.txt
  requirements/package_map.yaml
  requirements/template_scanned_imports.txt
Labels: dependencies, lint-ok

#9766 [1LP][RFR] New Test: Verifying dashboard of Remote and Global Appliances
  cfme/dashboard.py
  cfme/tests/test_replication.py
Labels: lint-ok, test-automation

#9995 [1LP][RFR] - Service Dialog test
  cfme/automate/dialogs/dialog_element.py
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation
