Repository ManageIQ/integration_tests, pull requests merged in 2020-09, with the labels that each got.

#10311 [RFR] Fix travis distutils
  .travis.yml
  cfme/scripting/disable_bytecode.py
  cfme/scripting/quickstart/__init__.py
  cfme/scripting/quickstart/system.py
  requirements/frozen.txt
Labels: issue-bug

#10299 [1LP][RFR] Refactor ansible service fixtures and embedded services tests
  cfme/automate/explorer/method.py
  cfme/fixtures/ansible_fixtures.py
  cfme/services/myservice/ui.py
  cfme/services/requests.py
  cfme/tests/ansible/test_embedded_ansible_actions.py
  cfme/tests/ansible/test_embedded_ansible_automate.py
  cfme/tests/ansible/test_embedded_ansible_services.py
  cfme/utils/log_validator.py
Labels: fix-test

#10303 [RFR] Automate multi-region embedded ansible service retirement
  cfme/services/catalogs/catalog_items/ansible_catalog_items.py
  cfme/tests/services/test_service_catalogs_multi_region.py
Labels: test-automation

#10302 [1LP][RFR] Add appliance pugins annotations
  cfme/utils/appliance/plugin.py
Labels: enhancement

#10300 [1LP][RFR] Sort out DB HA related tests
  cfme/tests/cli/test_appliance_cli.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cli/test_appliance_update.py
  cfme/utils/appliance/console.py
Labels: test-cleanup

#10295 [1LP][RFR] Fix datastore SmartState analysis tests
  cfme/common/datastore_views.py
  cfme/common/host_views.py
  cfme/common/provider.py
  cfme/infrastructure/datastore.py
  cfme/infrastructure/host.py
  cfme/tests/cloud_infra_common/test_relationships.py
  cfme/tests/infrastructure/test_datastore_analysis.py
  cfme/tests/webui/test_general_ui.py
Labels: fix-framework, fix-test

#10313 [1LP][RFR]Automate: test_default_miq_group_is_tenant_group
  cfme/tests/cloud_infra_common/test_discovery_and_support.py
  cfme/tests/configure/test_config_manual.py
Labels: test-automation

#10316 [RFR] Make AWX 3.6 work fine
  cfme/fixtures/ansible_tower.py
  cfme/tests/automate/test_ansible_tower_automate.py
  cfme/tests/services/test_ansible_workflow_servicecatalogs.py
  cfme/tests/services/test_config_provider_servicecatalogs.py
Labels: fix-test

#10321 [RFR] updating openstack console to use right elements for OSP 16
  cfme/cloud/provider/openstack.py
Labels: fix-framework

#10317 [RFR]Automate: test_service_provision_retire_from_global_region_generic
  cfme/services/myservice/rest.py
  cfme/tests/services/test_service_catalogs_multi_region.py
Labels: enhancement, test-automation

#10324 [RFR] BZ_20367_fixed
  cfme/tests/infrastructure/test_datastore_analysis.py
Labels: fix-test

#10232 [WIPTEST] Fixing SSA failures
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
Labels: fix-test

#10326 [1LP][RFR] Update use of provisioning tab in ansible tower service
  cfme/tests/configure/test_access_control.py
Labels: fix-test

#10322 [RFR] Refactor provider rest tests
  cfme/common/provider.py
  cfme/infrastructure/config_management/__init__.py
  cfme/tests/cloud_infra_common/test_rest_providers.py
  cfme/tests/infrastructure/test_config_management_rest.py
  widgetastic_manageiq/__init__.py
Labels: blackify, enhancement, fix-test

#10328 [RFR] Fix tests
  cfme/configure/access_control/__init__.py
  cfme/tests/cloud/test_providers.py
  cfme/tests/cloud_infra_common/test_relationships.py
  cfme/tests/configure/test_tag.py
  cfme/tests/infrastructure/test_config_management_rest.py
  cfme/tests/webui/test_general_ui.py
Labels: blackify, fix-test, test-automation

#10331 Update provider marker in test_provisioning_dialog
  cfme/tests/infrastructure/test_provisioning_dialog.py
Labels: fix-test

#10332 [RFR][NOTEST] Mark test_generic_object_button_execute_playbook as manual-only
  cfme/tests/automate/generic_objects/buttons/test_generic_class_custom_button.py
Labels: manual

#10330 [1LP][RFR] fix custom button wait for ansible issue
  cfme/fixtures/ansible_fixtures.py
Labels: fix-test
