Repository ManageIQ/integration_tests, pull requests merged in 2020-01, with the labels that each got.

#9789 [1LP][RFR] Adding new dynamic service dialog test
  cfme/tests/services/test_dynamicdd_dialogelement.py
Labels: customer-case, lint-ok, test-automation

#9791 [1LP][RFR]Automate dynamic textbox read value test
  cfme/tests/services/test_dynamicdd_dialogelement.py
Labels: customer-case, lint-ok, test-automation

#9740 [1LP][RFR] New Test: Testing quota simultaneous
  cfme/configure/access_control/__init__.py
  cfme/tests/cloud_infra_common/test_quota_manual.py
  cfme/tests/infrastructure/test_tenant_quota.py
Labels: lint-ok, test-automation

#9809 [1LP][RFR] NewTest::Test Shutdown Appliance
  cfme/tests/cli/test_appliance_console.py
  cfme/utils/appliance/console.py
Labels: enhancement, lint-ok, test-automation

#9810 [1LP][RFR] Fix ftp failures due to year change
  cfme/utils/ftp.py
Labels: fix-framework, lint-ok

#9813 [1LP][RFR] Fix SSA fixture for failing tests.
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
Labels: fix-test, lint-ok

#9795 [1LP][RFR] New Test: Testing relationships for vm under particular cluster
  cfme/infrastructure/cluster.py
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: enhancement, lint-ok, test-automation

#9807 [1LP][RFR] NewTest:: testing network configuration using negative input
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9812 [1LP][RFR][NOTEST] Removed already automated SSA manual tests.
  cfme/tests/cloud_infra_common/test_vm_instance_analysis_manual.py
Labels: lint-ok, manual

#9540 [1LP][RFR] Automate multiple vm retirement, fix ec2 instance-backed retirement
  cfme/cloud/instance/__init__.py
  cfme/common/vm.py
  cfme/fixtures/templates.py
  cfme/infrastructure/virtual_machines.py
  cfme/tests/cloud_infra_common/test_retirement.py
  cfme/tests/cloud_infra_common/test_retirement_manual.py
  requirements/frozen.txt
Labels: lint-ok, test-automation

#9811 [1LP][RFR] NewTest::setting up ipv4 and ipv6 using invalid data
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9808 [1LP][RFR] Adding Service dynamic dialog tag test
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9786 [1LP][RFR][NOTEST] Add tests for resolved bugs
  cfme/tests/cli/test_appliance_console_db_restore.py
  cfme/tests/cli/test_appliance_update.py
  cfme/tests/cloud_infra_common/test_provisioning.py
  cfme/tests/configure/test_config_manual.py
  cfme/tests/test_db_migrate.py
Labels: lint-ok, manual

#9796 [1LP][RFR] Automate: test_vm_volume_free_space_less_than_20_percent
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
Labels: customer-case, lint-ok, test-automation

#9820 [RFR] Add timeout handling to appliance config and clone_template script
  cfme/utils/appliance/__init__.py
  scripts/clone_template.py
Labels: enhancement, lint-ok

#9822 [1LP][RFR] Replace inline slice in entity.get_all() with slice kwarg and use ensure_checked()
  cfme/tests/configure/test_default_views_cloud.py
  cfme/tests/configure/test_default_views_infra.py
Labels: enhancement, fix-test, lint-ok

#9830 [1LP][RFR] test_sdn_balancers_tagvis to run only on one azure provider
  cfme/tests/networks/test_sdn_balancers.py
Labels: lint-ok

#9837 [RFR] Use new_configuration rather than changes for reconfigure dict
  cfme/tests/control/test_alerts.py
Labels: fix-test, lint-ok

#9838 [1LP][RFR] Actually fix hardware reconfigured alert test
  cfme/tests/control/test_alerts.py
Labels: fix-test, lint-ok

#9842 [RFR]Vmware automation tests
  cfme/tests/infrastructure/test_publish_vm_to_template.py
  cfme/tests/infrastructure/test_vmware_provider.py
Labels: fix-test, lint-ok

#9840 [1LP][RFR] Do not check RHV host timeline for create/delete events
  cfme/tests/infrastructure/test_timelines.py
Labels: fix-test, lint-ok

#9186 [1LP][RFR] Vm name enhancement - to append assignee to VM name
  cfme/fixtures/vm.py
  cfme/tests/ansible/test_embedded_ansible_actions.py
  cfme/tests/ansible/test_embedded_ansible_automate.py
  cfme/tests/automate/test_service_automate.py
  cfme/tests/control/test_alerts.py
  cfme/tests/infrastructure/test_tenant_quota.py
  cfme/tests/networks/nuage/test_automation.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/webui/test_general_ui.py
  cfme/utils/tests/test_vm_name_assignee.py
  cfme/utils/tests/test_vm_name_assignee_func_scope.py
  requirements/frozen.txt
  requirements/template_scanned_imports.txt
Labels: enhancement, lint-ok

#9703 [1LP][RFR] Automating basic VMRC Console Test
  cfme/common/vm.py
  cfme/common/vm_console.py
  cfme/fixtures/vm_console.py
  cfme/tests/infrastructure/test_vmrc_console.py
Labels: lint-ok, test-automation

#9266 [1LP][RFR] Add sidebar accordion to Compute Infrastructure pages AND automate test: test_infrastructure_provider_left_panel_titles
  cfme/common/host_views.py
  cfme/common/provider_views.py
  cfme/infrastructure/cluster.py
  cfme/infrastructure/resource_pool.py
  cfme/tests/infrastructure/test_host_analysis.py
  cfme/tests/webui/test_general_ui.py
  cfme/tests/webui/test_general_ui_manual.py
  requirements/frozen.txt
Labels: enhancement, lint-ok, new-test-or-feature, test-automation

#9669 [1LP][RFR] Replace usage of entity.check() with entity.ensure_checked. Part 1.
  cfme/cloud/instance/__init__.py
  cfme/cloud/provider/__init__.py
  cfme/common/provider.py
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/cloud_infra_common/test_vm_instance_analysis.py
  cfme/tests/infrastructure/test_host.py
Labels: enhancement, lint-ok

#9836 [1LP][RFR] CLI - Test to fail DB config command - negative
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9799 [1LP][RFR] New Test: Testing network manager's all security groups
  cfme/cloud/provider/__init__.py
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: enhancement, lint-ok, test-automation

#9803 [1LP][RFR] New Test: Testing ansible service with quota enablement
  cfme/tests/automate/test_ansible_tower_automate.py
  cfme/tests/cloud_infra_common/test_quota_manual.py
Labels: lint-ok, test-automation

#9817 [1LP][RFR] Adding dynamic service dialog test
  cfme/tests/services/test_dialog_element_in_catalog.py
Labels: lint-ok, test-automation

#9827 [1LP][RFR] Add check for log errors for NFS Scheduled backup test (BZ#1732417)
  cfme/tests/configure/test_db_backup_schedule.py
  cfme/utils/log_validator.py
Labels: enhancement, lint-ok

#9806 [1LP][RFR] New Test: Testing associated vm storages using automate method
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_common_methods.py
Labels: lint-ok, test-automation

#9828 [1LP][RFR]Implemented automated test for test_deploy_instance_with_ssh_addition_template
  cfme/tests/cloud/test_providers.py
Labels: lint-ok, test-automation

#9829 [1LP][RFR] Use appliance provisioning fixtures for distributed and replicated appliance testing
  cfme/tests/distributed/test_appliance_replication.py
  cfme/utils/appliance/__init__.py
  cfme/utils/appliance/db.py
Labels: enhancement, issue-bug, lint-ok

#9835 [1LP][RFR] CLI - Fetching encryption key from invalid remote host - negative
  cfme/tests/cli/test_appliance_console.py
  cfme/utils/appliance/console.py
Labels: lint-ok, test-automation

#9847 [1LP][RFR] Add manual case for OpenID auth provider
  cfme/tests/integration/test_auth_manual.py
Labels: lint-ok, manual, new-test-or-feature

#9831 [1LP][RFR] Fixed vm retire now error message in logs
  cfme/tests/automate/test_service_automate.py
Labels: fix-test, lint-ok

#9768 [1LP][RFR] Automate test to verify key pair visibility in child tenants
  cfme/cloud/keypairs.py
  cfme/fixtures/multi_tenancy.py
  cfme/tests/cloud/test_keypairs.py
  cfme/tests/configure/test_access_control.py
  conftest.py
Labels: enhancement, lint-ok, test-cleanup

#9851 [1LP][RFR][NOTEST]Vm name enhancement 2
  cfme/fixtures/vm.py
  cfme/test_requirements.py
  cfme/tests/cloud/test_cloud_timelines.py
  cfme/tests/cloud_infra_common/test_cockpit_server.py
  cfme/tests/cloud_infra_common/test_discovery_and_support.py
  cfme/tests/cloud_infra_common/test_genealogy.py
  cfme/tests/cloud_infra_common/test_html5_vm_console.py
  cfme/tests/cloud_infra_common/test_power_control_rest.py
Labels: lint-ok

#9850 [1LP][RFR][NOTEST]Vm name enhancement
  cfme/tests/ansible/test_embedded_ansible_services.py
  cfme/tests/automate/test_common_methods.py
  cfme/tests/automate/test_vmware_methods.py
  cfme/tests/cloud/test_cloud_events.py
Labels: lint-ok

#9846 [1LP][RFR]Add migration plan via API
  cfme/tests/v2v/test_rest_migrations.py
Labels: lint-ok, new-test-or-feature

#9859 [1LP][RFR] Fix click.echo calls in release script
  cfme/scripting/release.py
Labels: issue-bug, lint-ok

#9816 [1LP][RFR] Replace usage of entity.check() with entity.ensure_checked. Part 2.
  cfme/ansible/playbooks.py
  cfme/common/__init__.py
  cfme/containers/provider/__init__.py
  cfme/generic_objects/instance/ui.py
  cfme/infrastructure/config_management/__init__.py
  cfme/infrastructure/deployment_roles.py
  cfme/infrastructure/host.py
  cfme/infrastructure/pxe.py
  cfme/networks/provider/__init__.py
  cfme/physical/physical_rack.py
  cfme/physical/physical_server.py
  cfme/physical/physical_storage.py
  cfme/physical/physical_switch.py
  cfme/tests/infrastructure/test_vm_power_control.py
Labels: enhancement, lint-ok

#9821 [1LP][RFR] Replace usage of entity.check() with entity.ensure_checked. Part 3.
  cfme/common/__init__.py
  cfme/common/vm.py
  cfme/containers/image.py
  cfme/infrastructure/datastore.py
  cfme/infrastructure/provider/__init__.py
  cfme/infrastructure/virtual_machines.py
  cfme/storage/object_store_object.py
  cfme/storage/volume.py
  cfme/storage/volume_backup.py
  cfme/tests/cloud/test_instance_power_control.py
  cfme/tests/infrastructure/test_vm_power_control.py
Labels: enhancement, lint-ok

#9862 Revert "[1LP][RFR] Add periodic call and use it to prolong the appliances from Sprout"
  cfme/fixtures/appliance.py
  cfme/test_framework/sprout/client.py
  cfme/utils/__init__.py
Labels: issue-bug, lint-ok

#9860 [1LP][RFR] Fixing tagging test and ignoring deffered bz test for streams 5.10,5.11
  cfme/tests/infrastructure/test_vmware_provider.py
Labels: fix-locator-or-text, lint-ok

#9823 [1LP][RFR] CLI - Testing restoring DB using NFS - negative
  cfme/tests/cli/test_appliance_console.py
  cfme/utils/appliance/console.py
Labels: lint-ok, test-automation

#9769 [1LP][RFR] Automate: test_provider_documentation
  cfme/infrastructure/config_management/__init__.py
  cfme/tests/webui/test_general_ui.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: enhancement, lint-ok, tech-debt, test-automation

#9784 [1LP][RFR] New Test: Testing domain import with broken yml
  cfme/tests/automate/test_automate_manual.py
  cfme/tests/automate/test_git_import.py
  conf/cfme_data.yaml.template
Labels: lint-ok, test-automation

#9797 [1LP][RFR] Automate: test_compare_vm_from_datastore_relationships
  cfme/infrastructure/datastore.py
  cfme/tests/intelligence/reports/test_reports_manual.py
  cfme/tests/test_rest_manual.py
  cfme/tests/webui/test_general_ui.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: enhancement, lint-ok, test-automation, test-cleanup

#9854 [1LP][RFR] Add uncollect for more than 2 hosts and RHEVM and SCVMM providers
  cfme/tests/infrastructure/test_host.py
Labels: enhancement, lint-ok

#9866 [1LP][RFR] Automate: test_reports_generate_custom_conditional_filter_report
  cfme/fixtures/service_fixtures.py
  cfme/services/myservice/ui.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/intelligence/reports/test_reports_manual.py
Labels: lint-ok, test-automation

#9863 [1LP][RFR] Add new ProviderCompareHostsView and replace with CompareHostsView in…
  cfme/common/host_views.py
  cfme/tests/infrastructure/test_host.py
Labels: enhancement, fix-test, lint-ok

#9881 [1LP][RFR][NOTEST] Removed automated Azure manual tests related to SSA.
  cfme/tests/cloud_infra_common/test_vm_instance_analysis_manual.py
Labels: lint-ok, test-cleanup

#9824 [1LP][RFR]Automated Service state test
  cfme/tests/services/test_myservice.py
Labels: lint-ok, test-automation

#9804 [1LP][RFR] New Test: Testing quota calculation check using service dialog overrides
  cfme/tests/automate/test_service_automate.py
  cfme/tests/cloud_infra_common/test_quota_manual.py
Labels: lint-ok, test-automation

#9815 [1LP][RFR] Test To Extend Temporary Storage negative-test
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9825 [1LP][RFR] Automate load service with button
  cfme/tests/services/test_myservice.py
Labels: lint-ok, test-automation

#9844 [1LP][RFR] Automating copy catalog item with tags
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/services/test_catalog_item.py
  cfme/tests/test_manual.py
Labels: lint-ok, test-automation

#9852 [1LP][RFR] Fix test
  cfme/tests/infrastructure/test_provisioning_rest.py
  cfme/tests/intelligence/reports/test_reports.py
  cfme/tests/test_ui.py
  cfme/tests/webui/test_general_ui_manual.py
Labels: fix-test, lint-ok

#9853 [1LP][RFR] Moving custom button to use AttributeValueForm
  cfme/automate/buttons.py
  cfme/tests/automate/custom_button/test_buttons.py
Labels: fix-test, lint-ok

#9855 [1LP][RFR] Fix for - test_appliance_console_external_auth_all TC
  cfme/tests/cli/test_appliance_console.py
Labels: fix-test, lint-ok

#9858 [1LP][RFR] CLI - Testing evm stop command
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9879 [1LP][RFR] Removed BZ 1752875 blocker because won't fix.
  cfme/tests/automate/test_domain.py
Labels: fix-test, lint-ok

#9885 [1LP][RFR] Removing test case
  cfme/tests/test_replication.py
Labels: lint-ok, test-cleanup

#9865 [1LP][RFR] Automate BZ-1770300
  cfme/tests/automate/custom_button/test_buttons.py
Labels: lint-ok, new-test-or-feature

#9867 [1LP][RFR] CLI - Test to check SSL
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9871 [1LP][RFR] Automate: test_provider_summary_topology
  cfme/common/topology.py
  cfme/tests/infrastructure/test_infra_manual.py
  cfme/tests/webui/test_general_ui.py
Labels: enhancement, lint-ok, test-automation

#9887 [RFR] Bump riggerlib to mitigate zmq deadlock issue
  requirements/frozen.txt
  requirements/frozen_docs.py3.txt
Labels: issue-bug, lint-ok, requirements

#9882 Update FA assignee
  cfme/test_requirements.py
  cfme/tests/cloud_infra_common/test_vm_ownership.py
Labels: lint-ok, test-cleanup

#9878 [1LP][RFR] CLI - Test appliance console cancel
  cfme/tests/cli/test_appliance_console.py
Labels: lint-ok, test-automation

#9849 [1LP][WIPTEST] Fix test_cloud_init_provisioning for openstack-13
  cfme/tests/cloud_infra_common/test_cloud_init_provisioning.py
Labels: WIP-testing, enhancement, lint-ok

#9889 [RFR] Fix parametrization for Tower dialog creation tests
  cfme/tests/infrastructure/test_config_management.py
Labels: fix-test, lint-ok

#9880 [1LP][RFR]Fixing dual_nic_migration Test
  cfme/fixtures/v2v_fixtures.py
  cfme/tests/v2v/test_v2v_migrations.py
Labels: fix-test, lint-ok

#9886 [1LP][RFR] Enhanced security group test case for multiple checks
  cfme/tests/cloud_infra_common/test_relationships.py
Labels: enhancement, lint-ok

#9890 [RFR] Reintroduce the reverted Add periodic call and use it to prolong the appliances from Sprout
  cfme/fixtures/appliance.py
  cfme/test_framework/sprout/client.py
  cfme/utils/__init__.py
Labels: enhancement, lint-ok

#9875 [1LP][RFR] Update distributed appliance test to use create_vm fixture
  cfme/tests/distributed/test_appliance_replication.py
  cfme/utils/appliance/__init__.py
Labels: enhancement, lint-ok

#9891 [1LP][RFR] Automate: test_quota_with_reconfigure_resize_disks
  cfme/configure/access_control/__init__.py
  cfme/tests/cloud_infra_common/test_quota_manual.py
  cfme/tests/infrastructure/test_tenant_quota.py
Labels: enhancement, lint-ok, test-automation

#9894 [1LP][RFR] Add uncollect for providers with less than 4 hosts to test_compare_ho…
  cfme/tests/infrastructure/test_host.py
Labels: enhancement, fix-test, lint-ok

#9524 [1LP][RFR] Update the test_db_migrate.
  cfme/tests/test_db_migrate.py
  cfme/utils/appliance/db.py
  cfme/utils/ssh.py
  scripts/clean_appliance.py
Labels: enhancement, lint-ok

#9832 [1LP][RFR]Implemented automated test for test_add_delete_add_provider
  cfme/tests/cloud/test_providers.py
  requirements/frozen.txt
Labels: lint-ok, new-test-or-feature

#9839 [1LP][RFR] De-duplicate code for VM / VMCollection retirement
  cfme/common/vm.py
  cfme/tests/cloud_infra_common/test_retirement.py
Labels: enhancement, lint-ok, test-cleanup

#9845 [1LP][RFR]test_storage_manager_navigation_from_cloudprovider fix
  cfme/tests/storage/test_manager.py
Labels: fix-test, lint-ok

#9893 [1LP][RFR]Added test_keypair_ownership_association
  cfme/cloud/keypairs.py
  cfme/tests/cloud/test_keypairs.py
Labels: lint-ok, new-test-or-feature

#9892 [1LP][RFR]Added test_storage_manager_quadicon_numbers
  cfme/tests/storage/test_manager.py
Labels: lint-ok, new-test-or-feature

#9888 [RFR] Parametrize Tower tests on API version
  cfme/fixtures/ansible_tower.py
  cfme/infrastructure/config_management/__init__.py
  cfme/tests/services/test_ansible_workflow_servicecatalogs.py
  cfme/tests/services/test_config_provider_servicecatalogs.py
Labels: lint-ok, new-test-or-feature
