Repository ManageIQ/integration_tests, pull requests merged in 2020-08, with the labels that each got.

#10283 [1LP][RFR] Automating dialog test details view
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: test-automation

#10282 [1LP][NOTEST][RFR] - Adding coverage + code cleanup
  cfme/tests/ansible/test_embedded_ansible_automate.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/configure/test_access_control.py
Labels: test-cleanup

#10285 [RFR] Use widgetastic_patternfly Kebab
  cfme/dashboard.py
  cfme/fixtures/service_fixtures.py
  cfme/services/myservice/ssui.py
  cfme/services/myservice/ui.py
  cfme/tests/intelligence/test_dashboard.py
  cfme/tests/test_replication.py
Labels: enhancement, fix-test

#10284 [1LP][RFR] Automating test user service request details
  cfme/tests/services/test_request.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: test-automation

#10286 [1LP][RFR][NOTEST] Remove already automated Ansible manual tests
  cfme/tests/ansible/test_embedded_ansible_manual.py
Labels: manual, test-cleanup

#10288 [RFR] Automate replication subscription update
  cfme/configure/configuration/region_settings.py
  cfme/tests/configure/test_config_manual.py
  cfme/tests/test_replication.py
Labels: test-automation

#10277 [RFR] Fix RHV44 iso service catalogs
  cfme/tests/services/test_iso_service_catalogs.py
  conf/supportability.yaml
  conf/supportability.yaml.template
  data/rhel8.cfg
Labels: fix-framework, fix-test

#10290 [1LP][RFR] Automating upload/remove image on catalog bundle test
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/services/test_catalog_item.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
Labels: test-automation

#10291 [1LP][RFR] Add new test for BZ-1810477
  cfme/services/catalogs/catalog_items/ansible_catalog_items.py
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: fix-locator-or-text, test-automation

#10292 [1LP][RFR][NOTEST] Remove manual test test_distributed_zone_in_different_networks
  cfme/tests/distributed/test_appliance_manual.py
Labels: test-cleanup

#10293 [RFR] Automate test_embed_tower_order_service_extra_vars
  cfme/tests/ansible/test_embedded_ansible_manual.py
  cfme/tests/ansible/test_embedded_ansible_services.py
Labels: new-test-or-feature

#10281 [1LP][RFR] Add test coverage for BZ-1734629 and BZ-1734630
  cfme/tests/ansible/test_embedded_ansible_automate.py
Labels: customer-case, test-automation

#10264 [RFR] fix cloud-init tests
  cfme/tests/cloud_infra_common/test_cloud_init_provisioning.py
  cfme/utils/ssh.py
Labels: enhancement, fix-test

#10272 [1LP][RFR] Add subscribtion test blocker.
  cfme/tests/configure/test_register_appliance.py
Labels: blockers-only

#10289 [1LP][RFR] - Check STDOUT of provisioned ansible service
  cfme/rest/abc.py
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/services/myservice/ui.py
  cfme/tests/ansible/test_embedded_ansible_services.py
  cfme/tests/cli/test_appliance_console.py
  cfme/tests/configure/test_access_control.py
Labels: enhancement, test-automation

#10296 [RFR] browser chrome options
  cfme/utils/browser.py
Labels: fix-framework

#10304 [1LP][RFR] Add multiple_iso_datastore test and minor improvements
  cfme/tests/cloud_infra_common/test_provisioning_manual.py
  cfme/tests/infrastructure/test_iso_provisioning.py
Labels: test-automation

#10305 [1LP][RFR] Increasing timeout interval
  cfme/utils/appliance/__init__.py
Labels: enhancement

#10307 [RFR] Update calls to ansible service ordering
  sprout/requirements.txt
Labels: sprout

#10306 [1LP][RFR] Automating ssui Ansible_playbook standard output test
  cfme/services/myservice/ssui.py
  cfme/tests/services/test_dialog_element_in_catalog.py
  cfme/tests/services/test_service_catalog_dialog_manual.py
  cfme/tests/ssui/test_ssui_service_catalogs.py
Labels: manual, test-automation
