Repository ManageIQ/integration_tests, pull requests merged in 2020-11, with the labels that each got.

#10340 [1LP][RFR] Replace the fixed blocker for BZ 1783355 with BZ 1888748
  cfme/tests/infrastructure/test_iso_provisioning.py
  cfme/tests/services/test_iso_service_catalogs.py
Labels: blockers-only

#10342 [WIPTEST] Fix test_reports_filter_content
  cfme/intelligence/reports/reports.py
Labels: fix-test

#10345 [RFR] Fix test_rh_updates
  cfme/tests/configure/test_register_appliance.py
Labels: fix-test

#10344 [RFR]Add coverage note for BZ 1767895
  cfme/tests/configure/test_db_backup_schedule.py
Labels: blockers-only

#10301 [1LP][RFR] Automating catalog item price currency test
  cfme/services/catalogs/catalog_items/__init__.py
  cfme/tests/services/test_catalog_item.py
Labels: test-automation

#10341 [1LP][RFR ] - Fix testcase
  cfme/tests/infrastructure/test_vm_migrate.py
  cfme/tests/test_replication.py
Labels: fix-test
